[2017-12-01 21:15] znation opened #1 "Visualization support on Linux"
In the 4.0.0 release, native visualization support (`.show()`, `.explore()`) is only for macOS. We should support Linux as well.

[2017-12-01 21:16] znation opened #2 "Python 3 support"
In the 4.0.0 release, only Python 2.7 is supported. We should support Python 3 as well.

Open question: which versions of Python 3?

[2017-12-08 22:32] bear24rw commented on #2
3.6 at a minimum. Can't live without f-strings.

[2017-12-08 22:50] Kharms commented on #2
Ditto, 3.6 is great.

[2017-12-08 23:15] iandanforth opened #13 "Consider pipenv for install"
Pip is great! So is virtualenv! [Pipenv](https://github.com/pypa/pipenv) (from Kenneth Reitz) brings them together to simplify virtual env management and setup. It also provides deterministic builds.

Thanks for the new library, I hope you'll evaluate pipenv and see if it's right for turicreate.

[2017-12-09 00:09] laventura commented on #2
Seconding (thirding?) request for Py 3.6 support. 👍

[2017-12-09 01:49] omarsar commented on #2
Still waiting for Python 3.6> support @ @

[2017-12-09 05:02] linthieda opened #17 "CUDA 9 and cuDNN 7 support"
Since CUDA 9 and cuDNN 7 has already released, and there are multiple API changes for these low-level libraries. Something like `cudnnGetConvolutionForwardAlgorithm_v7()` may have better performance than older version. We should adapt to these as well.

[2017-12-09 05:19] gustavla commented on #17
All CUDA code runs through MXNet, which is a deep learning framework. If MXNet supports CUDA 9, then so can we. The problem is that they have not put up a wheel for mxnet-cu90==0.11.0, which is the only version we currently support (there are breaking changes in 0.12).

We hope to extend our MXNet version support soon, in which case we should also get CUDA 9 support for free. I'm not sure what cuD

[2017-12-09 06:37] jVirus commented on #2
Python 3.6, please 😍

[2017-12-09 11:04] taflahi opened #20 "Illegal instruction on training image similarity model from example"
I am getting this error while training:

![snip](https://user-images.githubusercontent.com/3937528/33795031-9281a804-dd0a-11e7-9def-53211072ad4a.JPG)

I am using ubuntu 16.04 on Windows 10 WSL.

The code is as following
[code]

[2017-12-09 12:32] ccabanero opened #21 "Graphs link broken in User Guide > SFrame > Introduction"
The link to the 'Graphs' .md is broken.  See here:
https://github.com/apple/turicreate/blob/master/userguide/sframe/introduction.md

[2017-12-09 12:47] iblisylvie opened #22 "No matching distribution found for coremltools==0.6.3"
![2017-12-09 8 45 36](https://user-images.githubusercontent.com/1615429/33795751-0ea45758-dd22-11e7-9098-821b5f10f521.png)

The latest version of coremltool I am able to install is 0.5.1 with python 2.7.10

[2017-12-09 16:48] gustavla commented on #22
What is your OS? It looks like at 0.5.1 they had a single wheel covering all platforms, but after that they switched to one for macOS (only 10.12/10.13) and one for Linux. If you do not have either of those platforms (such as macOS 10.11), you will probably run into issues.

I noticed that the readme says Turi Create supports 10.11, but now looking at the coremltools wheels, that can't be the case

[2017-12-09 16:52] gustavla opened #23 "Add support for macOS 10.11"
It would be nice if Turi Create could be used on macOS 10.11. Functions that rely on `coremltools` would have to fail gracefully (e.g. `export_coreml`). Currently `coremltools==0.6.3` is a hard dependency, and they do not provide wheels for 10.11.

[2017-12-09 17:03] gustavla commented on #22
Actually, support for macOS 10.11 is a typo (#24). We will look into if we can add support soon (#23). Let me know if you are on a different platform altogether though.

[2017-12-09 17:07] gustavla commented on #21
Thanks for letting us know!

PR to fix it: #25

[2017-12-09 17:07] #21 closed

[2017-12-09 17:29] srikris commented on #22
Using #23 to track the mac10.11 support.

[2017-12-09 17:29] #22 closed

[2017-12-09 17:41] srikris opened #26 "Need the ability to set a smaller batch size for image classifier & image similarity"
The feature extractor used image classifier and image similarity sets the [batch size to 512](https://github.com/apple/turicreate/blob/39da210238b3381c74f6d6a96779fa1637c11255/src/unity/python/turicreate/toolkits/_image_feature_extractor.py#L74) and we should expose that parameter all the way up to the image classifier and image similarity.

[2017-12-09 17:41] srikris commented on #20
Can you share some more information about your system for us to be able to debug this issue?

- Are you in a x86_64?
- How much memory do you have on this machine? I have a suspicion that the default batch size ([set to 512](https://github.com/apple/turicreate/blob/39da210238b3381c74f6d6a96779fa1637c11255/src/unity/python/turicreate/toolkits/_image_feature_extractor.py#L74))

I have opened another

[2017-12-09 17:44] srikris opened #27 "Prevent installing on systems that are not x86_64"
We don't have any checks for x86_64. We should have our wheels restrict to only the platforms that we support. Ideally with names like this: numpy-1.13.3-cp35-cp35m-manylinux1_x86_64.whl

[2017-12-09 17:45] srikris commented on #20
And if you happen to have a machine that is not x86_64, we don't support that and I've opened an issue to make sure future users will get an error earlier on #27.

[2017-12-09 18:10] evandrix opened #28 "error running `build.sh` on OSX 10.12.6"
_error message_
[code]

[2017-12-09 19:21] srikris commented on #28
Are you trying to build turicreate from source? If so, then [you should try out instructions from here](https://github.com/apple/turicreate/blob/master/BUILD.md).

[2017-12-09 19:26] tilledminds commented on #2
3.6 for sure.

[2017-12-09 19:47] alanwilter commented on #2
I need python 3 for sure, whatever you offer. If goes only for 3.6, than I have more than ever a reason to move from 3.5.

[2017-12-09 20:09] gustavla commented on #27
The pypi files for 4.0 permit more than we support. Even if we fix this for say 4.0.1, users on unsupported platforms would still get 4.0 if they simply did `pip install turicreate`. Of course, we never want to change 4.0, but we might be able to consider a name change of the files for 4.0 that simply will prevent users on unsupported platforms to get broken installs.

[2017-12-09 20:13] gustavla commented on #26
If we do this, it would be good to expose this for object detection too to allow low-memory GPUs. However, it is harder since it doesn't use a stopping criterion based on a validation set and instead a heuristic to set the number of iterations. This heuristic would get more complicated.

[2017-12-09 20:44] Olamyy commented on #13
I'm not totally sure I understand how pipenv works but from the little I understand, I think it automatically makes every pypi package available for download.
So, if _turicreate_ is on pypi, `pipenv install turicreate` should be able to install it.

[2017-12-09 21:36] gustavla commented on #13
Perhaps you meant as the recommended way to do a local build for Turi Create development? @iandanforth I'm curious to hear more about how you suggest we use pipenv.

[2017-12-09 21:47] andikleen opened #30 "gcc 7 crashes"
I get a compiler segfault while building on linux with g++ 7 or 8

This patch fixes it (removing attribute flatten from the destructor)

diff --git a/src/flexible_type/flexible_type.hpp b/src/flexible_type/flexible_type.hpp
index 4bf49c15..385951fe 100644
--- a/src/flexible_type/flexible_type.hpp
+++ b/src/flexible_type/flexible_type.hpp
@@ -1526,7 +1526,7 @@ inline FLEX_ALWAYS_INLINE_FLATTEN flex

[2017-12-09 21:52] andikleen opened #31 "gcc 7 build failure"
/src2/src2/turicreate/src/unity/toolkits/coreml_export/MLModel/src/NeuralNetworkValidator.cpp: At global scope:
/src2/src2/turicreate/src/unity/toolkits/coreml_export/MLModel/src/NeuralNetworkValidator.cpp:738:18: error: ‘function’ in namespace ‘std’ does not name a template type
     typedef std::function<Result(const CoreML::Specification::NeuralNetworkLayer& specLayer)> validateSpecLayerFn;

pl

[2017-12-09 21:56] johnlev opened #32 "'NearestNeighborClassifier' object has no attribute 'export_coreml'"
I created a KNN model which works well, but the export_coreml function seems missing! Am I misunderstanding? Are KNN models not exportable?

[2017-12-09 22:02] gustavla commented on #32
The KNN model is not supported in Core ML, unfortunately. I think that might be the only one not supported, so hopefully you can find another model that suits your needs.

[2017-12-09 22:04] srikris commented on #32
Thanks for trying out Turi Create. Currently, the list of deployable models are:
https://apple.github.io/turicreate/docs/userguide/deployment/introduction.html

If you could share with us what the distance function you are using? Is it the default one?

[2017-12-09 22:15] johnlev commented on #32
I was using the default one, yes

[2017-12-09 22:16] srikris commented on #17
It looks like [mxnet 0.12](https://cwiki.apache.org/confluence/display/MXNET/MXNet+0.12.0+Release+Notes) supports CUDA 7 and 9 so we should try and depend on that version in the next release (of course assuming all our tests pass and the model quality stays the same).

Thanks for the feedback @linthieda!

[2017-12-09 22:18] johnlev opened #33 "Deployment: How to fill author, license, etc."
The documentation that I have seen doesn't describe a way to put the author, description, license, input descriptions, and so on into the model before/while exporting. Is this feature not yet included?

[2017-12-09 22:21] srikris commented on #33
Right! I think we don't have that exposed in TC yet. But it's super simple to do with coremltools. See [this example](https://apple.github.io/coremltools/generated/coremltools.models.MLModel.html) here.

I'm wondering if we should even expose this API via turicreate or if its easy enough to do via coremltools. We could also add the example code directly into the user guide.

[2017-12-09 22:24] johnlev commented on #33
Ah, thanks

[2017-12-09 22:24] #33 closed

[2017-12-09 22:35] insidegui opened #34 "Export recommender model to CoreML"
I would love to be able to use the recommender model on my app without having to send information to a server to be processed. Would it be possible to support exporting the recommender model to CoreML?

[2017-12-09 22:39] srikris commented on #34
Thanks for trying our Turi Create. Yes, unfortunately, the recommender isn't easily exportable to Core ML yet. Can you share with us what recommender you have trained?

There may be some options for you to get around this issue temporarily?

[2017-12-09 22:43] taflahi commented on #20
Yes, I am using x86_64. But, the machine is only have mediocre memory (8 gb). I also suspect something like the batch size (since the tutorial is not explicitly state the number).

I have tried on much smaller dataset (<100 images) and it works just fine.

[2017-12-09 23:07] pcmanik commented on #33
I think it's better to expose it via Turi Create since it's one step less to produce model with details :)

[2017-12-09 23:32] anushkmittal opened #37 "Some broken links in the API docs and user guide"
Eg. API Docs link on https://github.com/apple/turicreate/blob/master/userguide/recommender/introduction.md#recommender-systems

[2017-12-10 00:14] insidegui commented on #34
I have an app where users can create things by using items. I have a lot of data about which users have used which items and I want to be able to recommend new items to users based on the items they used previously.

[2017-12-10 00:35] andikleen commented on #31
diff --git a/src/unity/toolkits/coreml_export/MLModel/src/NeuralNetworkValidator.cpp b/src/unity/toolkits/coreml_export/MLModel/src/NeuralNetworkValidator.cpp
index cc34b407..1228519f 100644
--- a/src/unity/toolkits/coreml_export/MLModel/src/NeuralNetworkValidator.cpp
+++ b/src/unity/toolkits/coreml_export/MLModel/src/NeuralNetworkValidator.cpp
@@ -12,6 +12,7 @@
 #include <algorithm>
 #include <ss

[2017-12-10 00:36] andikleen commented on #31
#include <functional>

that's the missing line

[2017-12-10 03:18] delirious-lettuce opened #38 "Raise specific exceptions?"
https://github.com/apple/turicreate/blob/7f07ce795833d0c56c72b3a1fb9339bed6d178d1/src/unity/python/turicreate/util/config.py#L55

[code]

https://github.com/apple/turicreate/blob/7f07ce795833d0c56c72b3a1fb9339bed6d178d1/src/unity/python/turicreate/test/test_nearest_neighbors.py#L1591

[code]

[2017-12-10 04:18] delirious-lettuce opened #39 "String formatting errors"
https://github.com/apple/turicreate/blob/7f07ce795833d0c56c72b3a1fb9339bed6d178d1/src/unity/python/turicreate/cython/cy_pylambda_workers.pyx#L193

[code]

---
https://github.com/apple/turicreate/blob/7f07ce795833d0c56c72b3a1fb9339bed6d178d1/src/nnvm/tvm/python/tvm/contrib/xcode.py#L189

[code]

---
https://github.com/apple/turicreate/blob/7f07ce795833d0c56c72b3a1fb9339bed6d178d1/scenario-tests/tes

[2017-12-10 06:09] coolioxlr opened #41 "Loading HAPT dataset to sframe for Activity Classifier"
The HAPT dataset used separate the gyro and accel data. Any steps how to create the data = tc.SFrame('hapt_data.sframe') from the datasets or the format to use?

[2017-12-10 08:08] znation commented on #13
@gustavla Or perhaps in the installation instructions in README.md?

[2017-12-10 08:15] znation commented on #37
Thanks for pointing that out @anushkmittal!

Looks like we have quite a few links that ended up 404ing. I'm guessing some of these pages have changed URLs over time and the content hasn't been updated. The full list of 404s is:
[code]

And there are also some 301s/302s:
[code]

[2017-12-10 08:17] znation commented on #37
Oh, and the above is for the user guide. The API docs have these 404s as well:
[code]
And these 301s/302s:
[code]

[2017-12-10 09:17] znation opened #43 "API docs missing `load_sgraph`"
One of the 404s from #37 is actually to what looks like a correct URL; it seems the `load_sgraph` method is missing from the API docs. Should `load_sframe` be listed here as well?

[2017-12-10 10:16] LifeIsStrange opened #46 "OpenCL | | syCL | | HIP support ?"
The Apple i/GPU usebase is mostly made of Intel and AMD. Yet you've chosen to follow that irational trend of going for the ridiculously little minority (watch the JPR stats) that are nvidia gpus, because 1) they invest ton of money for brainwashing developpers, 2) some tools like Tensorflow do not yet support the standards because of the 1) reason.
The second reason would be valid for à little dev

[2017-12-10 10:20] alonpal commented on #41
Thanks for taking an interest in the activity classifier!

Below is the piece of code used to produce `hapt_data.sframe` from the raw data found [here](http://archive.ics.uci.edu/ml/machine-learning-databases/00341/HAPT%20Data%20Set.zip).
This follows the instructions in the README.txt file available with the raw data.

[code]

[2017-12-10 13:20] iblisylvie commented on #22
Thanks for the answering. My os is 10.11.6.

[2017-12-10 17:25] #37 closed

[2017-12-10 17:48] srikris commented on #46
Thanks for the feedback @LifeIsStrange. We are aware of this and working hard (as we speak) to make this happen. Stay tuned for updates!

[2017-12-10 17:48] #46 closed

[2017-12-10 17:57] LifeIsStrange commented on #46
That's amazing, thank YOU for participating to inverting the CUDA monopoly trend !

[2017-12-10 18:16] srikris commented on #43
Looks like these two function calls are missing from the sphinx .rst files

[2017-12-10 19:20] frogg opened #52 "Consistent min/max values for y-axis of diagrams in documentation"
It would be great if the diagrams had consistent min/max values. Especially the 3-axial gyroscope is really hard to evaluate/compare (walking vs. sitting) on this page: https://github.com/apple/turicreate/blob/master/userguide/activity_classifier/introduction.md

[2017-12-10 19:39] josete89 opened #53 "Apending a _1 in the classes generated by xcode given a model name with '-'"
Hi

I've created a model using turicreate and I named 't-shirt_detector.mlmodel' and when I drag into xcode is generating a class called t_shirt_detector_1, which is crashing due to the initializer:
[code]

[2017-12-10 21:57] gustavla commented on #53
Thanks for trying out Turi Create and the object detector! I'm sorry that you are having this issue.

This has happened to me several times actually and I've been wondering if it's just me. The first time it happened, I also had a filename with a dash in it and assumed it might be related. Since then, it has also happened on filenames without a dash, so now I'm not so sure that is related. My work

[2017-12-11 05:13] titomiguelcosta commented on #2
please please, add support for python 3.6

[2017-12-11 08:56] brylie opened #55 "Support/examples for using TuriCreate with pandas?"
The example in the README shows how to use Turi Create with an SFrame. However, [SFrame has not had a release since July 2016](https://pypi.python.org/pypi/SFrame).

pandas is pretty much the de-facto DataFrame library in the Python data science ecosystem. It is under [active development](https://pypi.python.org/pypi/SFrame), has a [substantial community](https://github.com/pandas-dev/pandas/starg

[2017-12-11 09:38] Avimael6 commented on #13
Avimael6

[2017-12-11 09:38] Avimael6 commented on #13
Iphon

[2017-12-11 10:13] #52 closed

[2017-12-11 10:19] frogg commented on #52
Thanks for fixing, now this makes a lot more sense when just glancing at the diagrams :)

[2017-12-11 15:25] davidswaven opened #57 "unable to read from/write to a non public S3 bucket"
It seems not possible to use method turicreate.aws.set_credentials() described in documentation https://apple.github.io/turicreate/docs/api/generated/turicreate.SFrame.html

There is no aws object within turicreate.
It seems also not possible to use environment variables, either when set in the shell environment, or before calling the load_sframe method.

This is the code i'm using to get an SFram

[2017-12-11 16:54] emannuelOC opened #58 "Export text classifier to Core ML"
I would like to export the Sentence Classifier model to Core ML. Right now I'm getting the `'SentenceClassifier' object has no attribute 'export_coreml'` error.
Is there some way to export it?

[2017-12-11 17:06] regexident opened #59 "Activity Classifier doc improvements"
I was trying to reproduce the [Activity Classifier](https://github.com/apple/turicreate/blob/master/userguide/activity_classifier/introduction.md) example by following along and quickly got stuck as the example appears to skip over the essential part of generating the contents of `hapt_data.sframe` and how to actually run the example snippet.

Apart from the missing yet crucial step from `HAPT Dat

[2017-12-11 17:21] srikris commented on #58
Unfortunately, there isn't at the moment but this one is easy to add. We will do it for the next release and add a user guide step for exporting this to Core ML. Thanks for your patience.

[2017-12-11 17:30] igiloh commented on #59
Hi @regexident , thank you for taking interest in the activity classifier!

The steps for building the `hapt_data.sframe` are indeed missing from the current documentation, and you can find them here: https://github.com/apple/turicreate/issues/41#issuecomment-350538212

As for file paths (csv files to be loaded, saved sframe files and saved model files) - please note that all of the methods below

[2017-12-11 17:48] regexident commented on #59
Hi @igiloh and thanks for the prompt response!

I just left for home, but will give it another go tomorrow morning. I’ll let you know if your additional info is enough to get started with the example and no prior experience with turicreate and/or venv.

[2017-12-11 17:57] srikris commented on #59
@igiloh From what @regexident is suggesting, we can do a few things:

- Lets sort out #41 and make sure the example is runnable in this case
- We could also have a general guide for those that are new to Python for the other set of things that were pointed out here.

[2017-12-11 17:59] iandanforth commented on #13
The above comments are correct. "Integration" could be as simple as changing the install instructions README.md. This would save users from the small burden of managing virtual environments manually. Depending on the project this may or may not be desirable, I have found it to be generally more pleasant to work with.

Secondarily the project could add Pipfile and Pipfile.lock dependency descriptio

[2017-12-11 17:59] igiloh commented on #59
@srikris - Sounds right. I've noticed you've assigned @afranklin for #41 .
I'll discuss with @znation about the second bullet, we'll agree on some format and I'll proceed from there.

[2017-12-11 18:01] igiloh commented on #59
@regexident - great, good luck!
Note that `virtualenv` is not **required**. It's just an easier way to sort out your various python libraries. You can skip it as a first step if it give you trouble.

[2017-12-11 18:05] coolioxlr commented on #59
a general guide for those that are new to Python can be easily googled not sure it's necessary to add it in the tutorial. Alternative you can also include jupyter file.

[2017-12-11 18:17] johnlev opened #61 "Core ML: Predicted feature named '___' was not output by pipeline"
I successfully exported a Boosted Trees Classifier model to a Core ML model and imported it into a Xcode project. All seemed well until I tried using it in Swift. Whenever I run the predict function (even with valid inputs) I receive an error: "Predicted feature named 'room' was not output by pipeline" where room is my target name. Is this a Core ML issue or did I export it wrong from Turi Create?

[2017-12-11 19:13] hoytak commented on #39
Hi delirious-lettuce,
Great catches -- your fixes are good!  If you could submit a pull request with those fixes, that would be fantastic.

Thanks!
-- Hoyt

[2017-12-11 19:15] delirious-lettuce commented on #39
@hoytak ,

Alright, glad you approve! I was mostly curious about how the first one should be handled but if you are confirming that `i` should be the first argument then I can easily fix all three and send a PR in the next few minutes!

[2017-12-11 19:47] srikris commented on #59
@coolioxlr That's a valid point. I wasn't implying that we add it to all tutorials. Just one place in the user guide for people who are new to Python to go to. What are your thoughts on that?

[2017-12-11 20:01] srikris commented on #55
@brylie Thanks for your feedback!

We have been actively developing the SFrame for over 4 years now. There are many reasons why we like SFrame.

- Its out of core so you can work with really large datasets
- Lazy evaluation lets you work interactively even on really large datasets
- Its fast! and has some awesome compression techniques that make sure you can do more with less
- Because it is writt

[2017-12-11 20:27] tuanavu commented on #2
Yes, 3.6 please!

[2017-12-11 20:38] igiloh commented on #59
I tend to agree with @coolioxlr . Adding a notebook with a simple example and clear explanations is probably the way to go here.

[2017-12-11 20:54] AdamMiltonBarker opened #63 "Incorporating new observation data"
Does this actually train the new data to the model or is it only passed to reference ?

[2017-12-11 21:16] znation commented on #61
@johnlev Could you please provide detailed steps to reproduce the issue? I tried with the following steps, with synthetic data based on what you pasted above: [repro.txt](https://github.com/apple/turicreate/files/1549403/repro.txt)

[code]

[code]

Gives output with no error:
[code]

[2017-12-11 21:29] #39 closed

[2017-12-11 21:31] znation commented on #55
@brylie To clarify re: SFrame project status, the SFrame codebase is still under active development; however, it's no longer developed or released as its own project. Development of SFrame has been folded into turicreate and is ongoing here in this repo.

[2017-12-11 21:37] srikris commented on #63
@AdamMiltonBarker Could you clarify your question some more?

[2017-12-11 22:11] srikris commented on #41
@alonpal We can't host this dataset but we can add code that creates this into the user guide. Can we add simplified code above into the user guide?

[2017-12-11 22:17] johnlev commented on #61
Oh, Python is not the problem. Running it with coremltools works fine, but importing into an Xcode project is where it fails to predict

[2017-12-11 22:43] srikris opened #64 "Rename introduction.md to Readme.md so that pages render right on github"
When browsing the  user-guide on github, we don't get a default rendering on folders because there is no README.md. We should rename introduction.md to README.md for all tools

[2017-12-11 22:46] znation commented on #61
Interesting. Let me see if I can repro the issue there.

[2017-12-11 22:50] znation commented on #61
@johnlev I'm still unable to repro. In Swift in Xcode, I tried the following:

[code]

And it gives me:
[code]

What version of Xcode are you using, and what version of macOS are you running? It's possible this bug is specific to a particular version.

[2017-12-12 00:09] AdamMiltonBarker commented on #63
Hi @srikris thanks the quick reply, so regarding the docs on new observation data:

[code]
Does this actually update the net with the new observation data, or is it just used to reference against and is then gone when the recommendation finishes? If this is the case, is there a way to train the network with new data but not have to retrain the entire network again from scratch, so I am describing

[2017-12-12 00:25] johnlev commented on #61
I am on 10.13.2 using Xcode 9.2. I tried using your repro.txt and it worked just fine, but using the same code but with the expanded dataset I again encountered the error. Any reason you rounded the numbers in repro.txt?

[2017-12-12 00:34] znation commented on #61
@johnlev Interesting, I see! Not sure when or how the numbers got rounded (somewhere in copy/paste the way I made a CSV) but I doubt that would affect it. Can you by any chance share your full training data (or a subset of it that also results in the same issue), in CSV format, as a `.txt` file here so I can reproduce the issue? Thanks!

[2017-12-12 01:16] brylie commented on #55
Ah, it wasn't clear ay first glance that SFrame is part of Turi Create. With such a tight relationship between SFrame and Turi Create, will there also be pandas support?

At the risk of drifting off topic, what is the overlap between SFrame and pandas, and what are significant differences?

For note, I am coming from a JavaScript background where there is a lot of churn and bikeshedding. I am conc

[2017-12-12 02:17] brylie commented on #55
Also, how does SFrame compare with the design goals and fiundations of [Dask](http://dask.pydata.org/en/latest/)? E.g.

[2017-12-12 05:34] AdamMiltonBarker opened #66 "No way to return json ?"
Hi guys, I know you can export to json file, but in the application I am building it includes an API, seems a bit over kill to write to a json file and then read the json file to return the response, is there any functionality to simply receive the data in json or convert it to json without having to save to save to file.

TIA.

[2017-12-12 06:24] AdamMiltonBarker commented on #66
Was able to accomplish this by converting to a list.

list(Sframe)

[2017-12-12 06:24] #66 closed

[2017-12-12 08:03] srikris commented on #55
As I mentioned, SFrame and Pandas data frames are already deeply compatible. The APIs working with SFrames allows us to push a lot of optimizations into the model creation process that would otherwise not be possible by using Pandas.

I tried outlining the key differences above. The overlap in terms of functionality is pretty high. The SFrame is pretty full featured and we plan to keep building on

[2017-12-12 08:35] brylie commented on #55
@srikris thanks for your clarifications. It would be interesting to read a more thorough article outlining the above concepts, similarities, differences - as well as perhaps a plan to be good stewards of the data science ecosystem. Thanks for your innovative work :-)

[2017-12-12 10:01] brylie commented on #55
I would just like to clarify that my intention here is not to diminish this project or the talent of its contributors.

For a slightly broader context, companies like Apple, Facebook, Google, and Microsoft exert a lot of influence over the developer community, with starry eyed developers eager to try the latest offerings. In the sometimes competitive platform landscape (iOS, Android, and cloud ser

[2017-12-12 19:35] takeon8 commented on #1
+1 for linux show()

[2017-12-12 21:04] takeon8 opened #76 "It is unclear where to submit SFrame changes"
when contributing to SFrame related changes, should we submit pull request to SFrame repo or this repo?

[2017-12-12 21:33] igiloh commented on #76
Hi @takeon8 , thank you for taking interest in Turi create and SFrame!
All SFrame development was moved to this repo, so please put your PR here.

We should probably update the documentation in https://github.com/turi-code/SFrame to point to this repo. I'll leave this issue open until we do.

[2017-12-12 23:25] johnlev commented on #61
Sure:
[all2.txt](https://github.com/apple/turicreate/files/1553651/all2.txt)

[2017-12-12 23:45] cor-rine opened #77 "ToolkitError: Unsupported PNG bit depth: 4"
While creating graph lab images - PNG images are not currently supported by the ToolKit, resulting in the following error to be thrown:
`ToolkitError: Unsupported PNG bit depth: 4`

Complete error details:

[code]

[2017-12-12 23:50] znation commented on #61
Thanks @johnlev, I'm able to reproduce the issue with the model trained on `all2.txt`. I'm not sure yet what the cause is but I'm able to see that this model gives predictions in Python but gives errors when called from Swift. I'll investigate further.

[2017-12-12 23:54] znation commented on #77
@cor-rine PNG images should be supported with other bit depths (like 8 bits per channel). We'll keep this issue open to track adding support for 4-bit images. In the meantime, as a workaround you could use another tool like ImageMagick to convert the bit depth to 24-bit (8 bits per channel, 3 channels) or 32-bit (8 bits per channel, 4 channels) prior to loading the images into Turi Create. Hope th

[2017-12-13 00:02] cor-rine commented on #77
Hey, thanks @znation - actually, I think I messed up and got my issue into your bucket by accident.  I was working with graphlab Image and filed your issue because of the cute dog logo.  Are you associated with graphlab?  This issue might be relevant to them, but their site offers no help with logging issues.

[2017-12-13 01:36] srikris commented on #57
Thanks for reporting this. We will look into this issue and update the instructions on using S3.

[2017-12-13 02:06] znation commented on #20
Assigning to you @gustavla - but if this turns out to be a WSL-specific issue feel free to assign to me. Thanks!

[2017-12-13 02:13] znation commented on #38
@gustavla Something we should do as part of the fix for #2 ? I haven't tested this but I suspect Python 3 is less happy about using strings as exception values than Python 2.

[2017-12-13 02:15] delirious-lettuce commented on #38
@znation ,

I used Python 2 for the first comment but here shows both. This is a `TypeError` in both versions.

[code]

[2017-12-13 02:16] znation commented on #27
The work here is twofold:

* Build a wheel, instead of an egg, for Linux.
* Remove the 4.0 egg so that users on unsupported platforms don't get that one on `pip install`.

Open question: should we backport this fix to 4.0 and publish a 4.0 wheel for Linux? Not sure if this is even possible on PyPI.

[2017-12-13 02:17] delirious-lettuce commented on #38
I just wasn't sure what specific exception you guys wanted raised so I didn't send a PR.

[2017-12-13 02:18] znation commented on #38
@delirious-lettuce Thanks, I see! I suspect this may have worked at some point in Python 2 but perhaps it never did.

I would use [RuntimeError](https://docs.python.org/2/library/exceptions.html#exceptions.RuntimeError) to wrap all of these strings. Please feel free to submit a PR with that. Thanks!

[2017-12-13 02:20] delirious-lettuce commented on #38
@znation ,

You might be right, `2.7.12` is the lowest Python version I have tested it with but it may have been different earlier (2.6 maybe?).

I am just about to send a tiny PR right now but then I will fix this one ASAP (with `RuntimeError`).

[2017-12-13 08:08] Legendgp commented on #2
3.6, please.

[2017-12-13 09:44] helloniklas opened #80 "Export Object Detector model to CoreML crashes"
So I've created an object detection model. Saved it out. When I then try and load it in and export to CoreML I get
[code]

The code I'm using to train the model all seems fine and completes.
[code]
I then later do
[code]
And then get the fatal error.

I'm running in CPU mode on a MacBook Pro 13" 2017 macOS 10.13.2

[2017-12-13 10:24] regexident commented on #59
@igiloh with the missing steps from #41 and information from https://github.com/apple/turicreate/issues/59#issuecomment-350796559 it was straight forward to follow, thanks!

[2017-12-13 10:41] nhatlee opened #81 "Could not find a version that satisfies the requirement turicreate"
I following the installation instruction, but end up faced with the error when running command `(venv) pip install -U turicreate`. The error:
`
  Could not find a version that satisfies the requirement turicreate (from versions: )
No matching distribution found for turicreate`
Please help me to fix it.

[2017-12-13 10:51] igiloh commented on #81
Hi @nhatlee , thanks for your comment!
Can you please try running `pip install --upgrade pip`, and then run the turicreate installation again?

[2017-12-13 11:04] nhatlee commented on #81
@igiloh : Yes. I did it. But still got this error(I used MacbookPro 2013, version: 10.13.2).

[2017-12-13 11:32] igiloh commented on #81
Hi @nhatlee,
Turicreate is currently supporting python 2.7 only. You can see a discussion about python 3 support here: https://github.com/apple/turicreate/issues/2.
Can you please try installing with python 2.7?

[2017-12-13 13:06] nhatlee commented on #81
@igiloh : Thanks for your help. However, I think we should change for another error message with more clearer than above.

[2017-12-13 13:06] #81 closed

[2017-12-13 13:50] helloniklas commented on #80
Further more, the model works all fine in Turi, I am able to make accurate predictions on new images. So not sure why this export keeps crashing?

[2017-12-13 14:30] ProjectDent opened #83 "Unclear how to set up annotations column for Object Detection"
The [guide for Object Detection](https://github.com/apple/turicreate/blob/master/userguide/object_detection/introduction.md) doesn't cover setting up the data, including how to attach the "annotations" category.

What I've done is to create a separate `annotations` file, which looks like this:

[code]

I then setup my data using `load_images`, and this file:

[code]

That works well, and if I prin

[2017-12-13 15:55] gustavla commented on #80
@helloniklas Thanks for trying out the object detector! I'm sorry you are having this issue. I have never seen it before and it looks difficult for me to fix unless I can reproduce it. I suspect it may be something with your Python installation, so any additional information about your Python setup would help. For instance, is it the Python that comes with macOS or did you install it yourself (hom

[2017-12-13 16:04] gustavla commented on #83
Thanks for describing your pain points in great detail! We know that setting up the data for the object detector is tricky and appreciate all the feedback we can get to help make the process easier.

It looks like you are all set, except for one thing. Each cell in the `annotations` column must contain a list of dictionaries. This is to allow more than one object per image. Of course, if you are o

[2017-12-13 16:07] helloniklas commented on #80
@gustavla So I haven't tried other models yet. I believe on this laptop python was installed with Homebrew, as well as the default Xcode install of python. However, I was under the impression that when following your install steps and setting it up with a virtualenv it would use the Python in that virtualenv. I'm new to the Python world. Is there a way I can ensure the virtualenv is using the corr

[2017-12-13 16:41] helloniklas commented on #80
@gustavla So after setting up the virtualenv with virtualenv --python=/usr/bin/python2.7 turiAgain
It now seems to work, CoreML model is saved out. Good time.

I guess without specifying the python path to use it used some compatible version, although it still was python2.7

[2017-12-13 17:33] srikris commented on #80
@helloniklas coremltools does not work with python installed via homebrew. That explains the error you are getting. I filed an issue with that repository (https://github.com/apple/coremltools/issues/88)

[2017-12-13 17:33] #80 closed

[2017-12-13 19:23] TobyRoseman commented on #76
@srikris - I agree with @igiloh, let's leave this issue open until we've cleared up this confusion. I'll edit the title of this issue make it more clear what we're using this issue to track.

[2017-12-13 21:04] #38 closed

[2017-12-13 21:17] znation opened #87 "Consolidate external source drops"
We have source drops of external projects in several places:

[code]

We should consolidate these into a single external directory, and make it clear that these are external source drops and generally shouldn't be modified except to take new source drops of these projects.

[2017-12-13 21:18] ProjectDent opened #88 "Turi Create Visualisation often stuck on "Loading" screen"
I don't know what additional information to provide here, as it's happened in a number of different situations. With a large or very small data set, Turi Create Visualisation remains stuck on the "Loading" screen and never loads. Sometimes I can run the same code again, and it will load almost instantly with all data shown. But often, it'll not move past that initial screen. Sometimes re-running i

[2017-12-13 21:54] TobyRoseman opened #89 "SArray.read_json() should be able to read an array"
The following code fails:
[code]
with this error message:
[code]

[2017-12-13 23:34] znation commented on #88
@ProjectDent Thanks for reporting this. So far I haven't seen this happening in general, and it seems hard to reproduce. Do you notice any patterns in when it happens, relating to any of the following? I'm trying to narrow down what might be causing it.

* Are the SFrames being shown newly loaded (from CSV, or SFrame format), or based on the result of some computation?
* Are they loaded from local

[2017-12-13 23:36] znation commented on #88
@ProjectDent Another thing that would be useful to know is the machine specs. Could you share RAM/CPU/etc. specifics? I suspect this may be a timing issue that happens only when a sequence of events happens in a different order than usual.

[2017-12-13 23:37] znation commented on #57
Adding the `bug` tag since it looks like there is a real bug here as well. Even when credentials are set via env variables, reading from buckets doesn't always work.

[2017-12-14 00:31] znation commented on #89
I'd call this a bug. Both `{}` and `[]` are valid as top-level elements in JSON.

[2017-12-14 04:15] dmvianna opened #92 "sqlalchemy connection & pandas `object` dtype"
It seems `turicreate` doesn't like `sqlalchemy` connections. Fair enough. I can connect to it using `pandas` instead and then create an `SFrame` from it.

Turns out, though, that in `pandas` string types are represented under the umbrella of `dtype(O)`. And `turicreate` doesn't recognise these as strings.

`pandas` and `sqlalchemy` play really nice with each other, and I would wage there's a lot o

[2017-12-14 05:07] cnnsbs commented on #22
I have same problem.
python 2.7.13, anaconda, windows 10

[2017-12-14 05:29] dmvianna opened #93 "doesn't play nice with pyodbc"
Tested in `Jupyter`

[code]
Error message
[code]

[2017-12-14 05:34] dmvianna commented on #93
And before you ask: yes, the `turi_auth.txt` file is fine and works trivially with `pandas`

[code]

[2017-12-14 06:19] falu2010 commented on #28
I tried to build from source by following instructions mentioned in above link. There is build failure on OSX 10.12.6:

$make -j 4
.......
eferenced from: /Applications/Xcode.app/Contents/Developer/Library/PrivateFrameworks/SimulatorKit.framework/Versions/A/SimulatorKit
  Reason: image not found, NSBundlePath=/Applications/Xcode.app/Contents/PlugIns/IDEInterfaceBuilderCocoaTouchIntegration.framewo

[2017-12-14 08:43] aa125660636 opened #94 "Everybody, who can do the app on the shelf?"
Everybody, who can do the app on the shelf? Like this https://itunes.apple.com/cn/app/id1293167709? Mt=8
Https://itunes.apple.com/cn/app/id1317244973? Mt=8

[2017-12-14 10:07] znation commented on #94
This appears to be spam.

[2017-12-14 10:07] #94 closed

[2017-12-14 10:42] sezan92 opened #97 "Need the datasets used in the examples"
Hello. I was intending to experiment with turicreate. However , I don't know where did you get the data from. Can anybody give me links?

[2017-12-14 12:14] alonpal opened #98 "CoreML errors for some models trained on dict features"
Predicting using an exported ```svm_classifier```, ```logistic_regression```, or ```linear_regression``` trained on dict columns, errors out if the model was used to predict on dicts with keys it hasn't seen during train time.

I am able to consistently reproduce with the following code:
[code]
[code]
Removing the line ```model.predict(test)``` results in the expected output of the program:
[code]

[2017-12-14 18:44] jrjames83 opened #101 "Support for audio use cases"
In the release notes you mention flexible data formats including audio. I see lots of information for images, but are there any docs related to reading or clustering mp3/wav files or dealing with spectrograms?

[2017-12-14 19:13] srikris commented on #97
We are working on making it easier to get access to the datasets. Stay tuned.

[2017-12-14 19:32] srikris commented on #98
Unfortunately, this is a Core ML bug as it requires a change to the .proto of Core ML to support this functionality (right now, only the CategoricalMapper handles this case https://github.com/apple/coremltools/blob/f3863482cd11cec1ea276f046259e4cfe273dd93/mlmodel/format/CategoricalMapping.proto#L31)

[2017-12-14 21:25] srikris commented on #92
You are right, the SFrame `from_sql` function currently does not work with SQLAlchemy. [Pandas documentation](https://pandas.pydata.org/pandas-docs/version/0.21/generated/pandas.read_sql_query.html) suggests that they support:

* sqlite3 DBAPI2
* SQLAlchemy connectable(engine/connection)
* database string URI

The SFrame [from_sql](https://github.com/apple/turicreate/blob/6225cd5e31f743d10b9cd3b5f

[2017-12-14 21:26] srikris commented on #93
Thanks for pointing out! This looks like a type mis-match. Hopefully, its a simple fix. We will look into it.

[2017-12-14 22:18] Buza commented on #88
I'm experiencing this as well. I'm using a very small and simple test dataset (<10 imgs) for object detection, and explore() originally led me to a 'loading' screen on the first ~5 tries. Oddly, now subsequent runs open no window at all. I can't recall a situation where this was working for me.

OS X 10.13.2
MBP 2017, 16GB/3.1GHz
Intel HD Graphics 630

[2017-12-14 22:23] srikris commented on #88
That's very unusual. Are these images really large?

[2017-12-14 22:43] Buza commented on #88
The largest image is 2.1M, then ~400K and a few at ~100K. I'm only trying to run it with a set of maybe 8 images total.

[2017-12-14 22:44] srikris commented on #88
We have tested on datasets with over 100K images so I'm wondering if it has more to do with the size of each image rather than the number of images. Thanks for the info. We will try and figure out what's going on here.

[2017-12-15 00:23] teaglin opened #102 "Training – IOError: Fail to write. Disk may be full.: iostream error"
Hi,

I am using a fairly large dataset – 75GBs, that is stored on a separate server. During training, 250GB is written to the local hard drive completely filling it up. RAM usage is also extremely high it uses 80-85% of 128GBs of RAM. Training ends up failing due to – IOError: Fail to write. Disk may be full.: iostream error

Something seems very inefficient with loading remote training data via a

[2017-12-15 01:29] srikris commented on #102
Sorry you are having trouble with this.

Can you tell us some more about how you created this dataset? By any chance, was this created by appending many small SFrames? It would also help to know what are the contents (how many rows,  how many columns, what are the types of columns).

[2017-12-15 01:41] AFathi opened #103 "SFrame head method is returning [n+1] rather than [n] rows"
I'm currently using the `SFrame` object to load data from a **csv** file and it's working perfectly fine.

However, when I call the `head(n)` method to retrieve the first **n** rows (as mentioned in the API docs), the result is always n+1.

I forked this project and edited the `unity_sframe::head(size_t nrows)` method in the `src/unity/lib/unity_sframe.cpp` file, by subtracting 1 from `nrows` in t

[2017-12-15 01:46] srikris commented on #103
Can you provide repro steps? I don't quite see this behavior

[code]

returns

[code]

[2017-12-15 01:54] teaglin commented on #102
Thanks for the quick response!

I am doing object detection, but I created the dataset using existing code I had for tensorflow. All the image paths + classes are stored in a db and the images are stored in a directory. I do some additional processing to the image so each image is loaded individually via worker queues and then a single worker would write it out sequentially to a training dataset f

[2017-12-15 02:00] AFathi commented on #103
@srikris, I see where the problem is coming from now!

The data in the sample **csv** file I'm using doesn't have the 'a' column and starts right away from the actual data. So when I was counting, I included the 'a' column.

Here's how it looks like:
<img width="1099" alt="screen shot 2017-12-14 at 8 58 23 pm" src="https://user-images.githubusercontent.com/4106695/34023224-a4071392-e111-11e7-952c-

[2017-12-15 02:24] srikris commented on #103
The row in bold is the "header" row. I think your call to `read_csv` automatically assumed the first row is the header which it should not be. When you use `read_csv`, you can use the `header = False` option that will prevent that from happening.

[2017-12-15 02:24] #103 closed

[2017-12-15 02:25] AFathi commented on #103
Perfect, thank you.

[2017-12-15 04:23] srikris commented on #102
This is well within the limits of the SFrame and it should not cause any trouble. Can you share your snippet of code you are using to create and write out the SFrame to a file? That could help us better identify why this be happening.

[2017-12-15 09:03] JamesDale commented on #88
Same issue here, ~1.7MB Images (3024 x 4032). Works if I do a couple (say three or four photos) but any more and I get the same issue. Running on MBP 2017 (3.1Ghz,8GB,Intel Iris Plus 650).
When the images do load if I provide 3/4 of them, generally the image hover popup will get stuck on loading as well.

[2017-12-15 13:31] espenjutte opened #105 "Exporting Turi model in other ways (for example MXnet)"
I was wondering if there was a way (other than CoreML) to export models out of Turi to other systems. As part of learning neural networks i wanted to see if i could deploy a Turi Create model to a RESTful-interface with AWS Lambda, but i have yet to see a good way to export the (i assume to be) underlying MXnet model or a way to save a the Turi-model in a more friendly format. Am i missing somethi

[2017-12-15 14:24] Mithilan16 commented on #92
Hi! Can I take this bug?

[2017-12-15 17:32] srikris commented on #105
All models can be saved in a native format using `model.save('foo.model')`. So your service can load models using:

[code]
and then you can make predictions. Prediction latencies are typically quite low as we have optimized several models to work well in a low batch setting specifically for this reason.

[2017-12-15 17:33] srikris commented on #92
@Mithilan16 Yes you may!

[2017-12-15 18:14] helloniklas opened #107 "Will Turi get GPU support for AMD's ROCm software platform?"
I see AMD Vega GPU that is in the new iMac Pro is being marketed as excellent for machine learning with their new ROCm software platform that apparently has tensor flow support coming.

Will Turi Create be able to take advantage of this GPU with an iMac Pro?

[2017-12-15 20:59] znation commented on #88
@JamesDale, @Buza, @ProjectDent - I'm unable to reproduce this on my machine (2016 MBP) with my own data. To make a representative example that I thought would reproduce the issue, I made an SFrame with 8 rows of (jpeg) images, each in the 2 MB range.

Are any of you able to reproduce the issue with the following code (and the attached SFrame?). First, download and extract [repro-88.sf.tar.gz](htt

[2017-12-15 21:28] gustavla commented on #31
Thanks so much @andikleen for pointing this out and suggesting a solution! This seems to have been addressed exactly as you proposed by #108.

[2017-12-15 21:28] #31 closed

[2017-12-15 21:49] znation commented on #57
The fix to support s3 regions other than the default is in #90. Leaving this issue open for now, to update the documentation as well.

[2017-12-15 23:09] teaglin commented on #102
This is what I ended up having to do to get it to work as I mentioned in my previous post.

`class WriteWorker(Thread):
    def __init__(self, savePath):
        Thread.__init__(self)
        self.images = []
        self.annotations = []
        self.queue = Queue()
        self.daemon = True
        self.savePath = savePath
        self.start()

    def run(self):
        while True:

[2017-12-16 00:29] JamesDale commented on #88
@znation Same thing, it's appearing to be a machine-dependent timing issue.

[2017-12-16 00:47] znation commented on #88
Thanks @JamesDale! I'll try to reproduce it on a similar machine to yours.

[2017-12-16 22:26] gustavla commented on #102
Hi @teaglin, the way you are currently creating the SFrame by first building Python lists and then feeding them to the SFrame constructor, means Python needs to keep all your data in memory before it is even handed off to the SFrame. I suspect this could be why your RAM usage is so high.

Instead, you could try using the [SFrameBuilder](https://apple.github.io/turicreate/docs/api/generated/turicre

[2017-12-17 14:42] amayers opened #112 "Instructions don't work. Cant create CoreML model, crashes"
So I'm trying to make my first model. First the installation instructions are incorrect, if you follow them to the T, they fail with a non useful error on `pip install -U turicreate`. Turns out this project requires you to downgrade to an ancient Python version. How about the installation instructions include that detail, or better yet, make it work with the current version that ships on all Macs.

[2017-12-17 18:55] res0nat0r opened #114 "object_detector.create operands could not be broadcast together"
Hi all,

I'm trying to follow the object detection tutorial on some image data I have, I have
an SFrame with my images labeled with annotations. `explore()` shows the bounding
boxes properly setup, but I'm getting the error below when trying to create a model.

Any suggestions would be great, or if this is a bug I'd be happy to help debug further.

[code]

[code]

Model failure:

[code]
...

[code

[2017-12-17 23:45] francisbitontistudio commented on #20
Got a similar problem here, I'm using paper space ubuntu 16.04 ML-in-a-box,  it is x86_64, 30G RAM,   It happen not matter how large the batch size is. Any insights would be very appreciated!

[2017-12-18 00:08] teaglin commented on #102
@gustavla I tried out that method it did help, but the real trick was setting the cache config.

[code]
My only criticism is that this seems like a very important piece for building large SFrames, but the API is very obscure. Also doing it this way is much much slower than directly writing out to a file. For example in tensorflow you can directly write out a single tfrecord, whereas with SFrame it

[2017-12-18 09:01] alkravchenko commented on #107
I think that Metal (MPS) support would be event better, because of mac GPU models list and Core ML GPU’s support. Metal supports AMD, NVidia and even Intel GPU’s. In ideal case we don’t want to think about hardware. And It would be great if Turi Create will chose optimal hardware backend themself as CoreML do in case of CPU/GPU choise.

[2017-12-18 09:03] alkravchenko opened #115 "Metal (MPS) support as hardware backend for Turi Create"
I think that Metal (MPS) support as hardware backend would be great, because of mac GPU models list and Core ML GPU’s support. Metal supports AMD, NVidia and even Intel GPU’s. In ideal case we don’t want to think about hardware. And It would be great if Turi Create will chose optimal hardware backend themself as CoreML do in case od CPU/GPU choise.

[2017-12-18 09:04] alkravchenko commented on #107
I wrote new issue with that notes - https://github.com/apple/turicreate/issues/115

[2017-12-18 12:25] davidswaven opened #116 "Inconsistent groupby aggregation between SUM and MEAN"
Summing over None values in an SArray returns 0.0.
I think we would expect aggregation on SUM to return None instead of 0.

Doing the same with MEAN returns None, as expected.
[code]

`sf.groupby('c1', agg.SUM('c2'))`
returns
Data:
+----+-----------+
_| c1 | Sum of c2 |_
+----+-----------+
| a  |    0.0    |
+----+-----------+
[1 rows x 2 columns]

while `sf.groupby('c1', agg.MEAN('c2'))`
returns

[2017-12-18 13:51] Kagandi opened #117 "Is there are any plans to add cross validation module?"
In the previous version of turicreate (graphlab-create-2.1) were a [cross validation module](https://turi.com/products/create/docs/graphlab.toolkits.cross_validation.html) that included cross_validation and KFold.
I wasn't able to find them anywhere in the current documentation or code.
It would be great to have cross validation and KFold as part of Turi.

[2017-12-18 15:28] amayers commented on #112
Yes I am on Python installed by homebrew. How do I install a version of python that works with this project since it seems like it's so picky about the version & install method???

[2017-12-18 16:20] igiloh commented on #112
Hi @amayers , thank you for taking interest in Turi Create!

The documentation issues have already been fixed, as you can see [here](https://github.com/apple/turicreate/blob/master/userguide/image_classifier/introduction.md).

As @srikris have mentioned - the CoreML team is aware of the problem with Homebrew.
There are several recommended ways to install python on macOS:
1. Using [Anaconda](https:

[2017-12-18 16:26] amayers commented on #112
Hi @igiloh I would have loved to use the native python version that ships with macOS, however Turi Create isn't even found when you try to use `pip install -U turicreate` on it. It wasn't until I installed 2.7.14 from Homebrew that Turi Create could be pip installed.

[2017-12-18 16:45] igiloh commented on #112
Hi @amayers, thanks again for the further input.

I've just re-tested on a clean macOS10.12 and 10.13 machines - and on both I was able to successfully perform
[code]
I was also able to create a model and export it to Core ML.

Which macOS version are you running?
Can you please print out the current `pip` version you're using, and the error you're gertting?

[2017-12-18 17:10] amayers commented on #112
I just uninstalled python from homebrew leaving just the system python installed.
[code]

Then I recreated the virtual environment:
[code]

I also tried again adding the `pip install --upgrade pip` line that wasn't in the instructions. It gave the output `Requirement already up-to-date: pip in ./egg_environment/lib/python3.6/site-packages`, and didn't fix the install error.

I'm running macOS 10.1

[2017-12-18 17:12] TobyRoseman commented on #76
@takeon8 - I've updated the SFrame repository readme. Now it has a deprecation warning and a link to this repository.

[2017-12-18 17:12] #76 closed

[2017-12-18 17:32] gustavla commented on #114
Thanks for trying out the object detector! I really appreciate the detailed report of this bug, since it made it very easy for me to understand the issue. The problem is that we are not handling images with 4 channels (RGB + opacity channel) correctly.

I will work on a fix and in the meantime let's discuss work-arounds to get your model working. If you want to train the model to leverage the opac

[2017-12-18 18:29] igiloh commented on #112
As mentioned in the [documentation](https://github.com/apple/turicreate#system-requirements), turicreate only supports python 2.7 at the moment. Any python 2 version from 2.7.8 and up to the latest 2.7.14 (released 9/2017) should work.
Python 3 support is still an ongoing process, as you can see here: https://github.com/apple/turicreate/issues/2

macOS 10.13 comes natively with python 2.7.10, and

[2017-12-18 19:07] res0nat0r commented on #114
Hi,

Thanks for the feedback. I can look into manually fixing the images as a workaround. I've tried the fix above but am also getting the below error:

[code]
[code]

[2017-12-18 19:12] srikris commented on #117
We don't have it now. This is a great feature request!

[2017-12-18 19:18] srikris commented on #112
For the macOS native python, it should look like this

[code]
If you see `/usr/local/bin/python` for your python location then you probably have a mismatched version of Python and pip.

As @igiloh mentioned, your Python seems to be 3.6 which isn't yet supported (we will be fixing that soon). So Python 2.7 should work.

[2017-12-18 19:21] srikris commented on #93
Fixed in #109

[2017-12-18 19:21] #93 closed

[2017-12-18 19:26] srikris commented on #102
I'll close this and add another issue that points to the specific concern.

[2017-12-18 19:26] #102 closed

[2017-12-18 19:27] srikris opened #118 "SFrame builder API documentation"
From #102 the API of SFrame builder requires some better documentation (maybe a better user guide chapter).is very obscure. There could also be a way to write out a single row of data (like tfrecord)?

[2017-12-18 19:32] srikris opened #119 "Creation of tc.Image should be simpler"
Right now, there are a few "hidden" parameters in the creation of tc.image. We should change that and expose them like this

[code]

[2017-12-18 19:33] gustavla commented on #114
That looks like another bug unfortunately (thanks for finding these!). I can't seem to reproduce it though. There is probably something different between your images and my test images. Perhaps it will give us a more informative error message (or none at all) if you run this as a slower for loop:

[code]
Sorry again for this and thanks for your patience! Any additional information that can help us

[2017-12-18 19:35] gustavla commented on #119
A common use-case is to convert a numpy array to a Turi Create image, so perhaps we should make this particularly simple (similar to PIL's `Image.fromarray` for instance).

[2017-12-18 19:59] srikris commented on #116
At first, I thought this was a bug but now on second thought, I think this is correct behavior. There are 2 concepts:

1. All group-by operators in turicreate follow the skip None policy i.e they will omit all missing values from the aggregation.  As an example, `sum([None, 5, 10]) = 15` if you assume that the None is skipped.
2. Additionally, in python/pandas/numpy etc, `sum([]) = 0` which is exa

[2017-12-18 19:59] #116 closed

[2017-12-18 20:01] srikris opened #120 "SFrame groupby should document that None values are skipped"
Feedback from #116 suggests that we should clarify that all None values are skipped by the aggregators.

[2017-12-18 20:16] amayers commented on #112
After I installed Anaconda 2.7 it now works. But this is the first time I've done any python on this machine, and it had 3.6 on it. I guess some 3rd party app updated it?

[2017-12-18 20:16] #112 closed

[2017-12-18 22:40] codedphoenix opened #121 "Could not find a version that satisfies the requirement mxnet==0.11"
I followed the installation instruction, but ended up with an error when running command pip install -U turicreate.
The error: Could not find a version that satisfies the requirement mxnet==0.11
Any help would be very much appreciated.

Python 2.7.13
OS: Windows 10

[2017-12-18 22:43] gustavla commented on #53
I can confirm that this is indeed a bug relating to dashes in filenames (I must be misremembering that I saw this with a filename without a dash). A bug report has been filed and thanks again @josete89 for identifying this issue! I can consistently reproduce this issue.

I will leave this issue open, since even though this is not a bug specific to Turi Create, perhaps we should add a warning to th

[2017-12-18 22:55] gustavla commented on #20
I have still not been able to reproduce this issue.

@francisbitontistudio Thanks for adding another sample point to this investigation. I also see that you are using the object detector, which means it is not limited to image similarity.

@taflahi @francisbitontistudio Can you please try the following?

[code]

Can you also try this but replace `mx.cpu()` with `mx.gpu()` in case your machines hav

[2017-12-18 23:16] res0nat0r commented on #114
Interestingly the code above seems to work fine. I'm able to run it and then modify my model.create to point to the `rgb` column and I see the model output status now.

Here is just a print of the `images['rgb']` column after running the above:

[code]

[2017-12-19 00:05] francisbitontistudio commented on #20
@gustavla Thanks for reply. So with mx.gpu() it works, but same problem when using cpu for this script

![image](https://user-images.githubusercontent.com/11620435/34134025-3371f9ea-e426-11e7-95bb-87109232fb9c.png)

![image](https://user-images.githubusercontent.com/11620435/34134063-60c8bf00-e426-11e7-9788-e29679e68fa4.png)

[2017-12-19 04:45] gustavla commented on #121
Hi @codedphoenix, thanks for giving Turi Create a go. Let's see if we can figure out what's going on. Can you first confirm that you are...
* running this with [WSL](https://en.wikipedia.org/wiki/Windows_Subsystem_for_Linux)?
* on a x86_64 system?

[2017-12-19 05:40] gustavla commented on #114
Great! Does that mean the detector is training now?

I would love to investigate the second bug some more. If you have time, it would be great if you could check if `sf['image'][:1].apply(drop_alpha)` also throws an error. If it doesn't, then try to adjust `[:1]` to find a subset that reproduces the error.

If you find an SFrame with a single image that breaks it, I would love to get more info on

[2017-12-19 06:20] gustavla commented on #20
@francisbitontistudio Thanks, that is really useful! After further investigation, it turns out that the MXNet binaries for the 0.11.0 release were compiled with x86_64 extensions [not available on all hardware](https://en.wikipedia.org/wiki/Advanced_Vector_Extensions#CPUs_with_AVX). This seems to have been fixed in the 0.12.0 release, which unfortunately is not yet supported by Turi Create. We are

[2017-12-19 07:10] shubhamchaudhary opened #123 "tc.feature_engineering interface has changed from 2.1 to 4.0"
Previous interface was: `tc.feature_engineering` and now it is `tc.toolkits._feature_engineering`.

Is this a conscious decision?
If so, is there a plan to remove these?
If not, are you open to PR to make this backward compatible?

## Known solutions
[code]

[2017-12-19 07:12] shubhamchaudhary commented on #123
**Update:** https://github.com/apple/turicreate/blob/master/src/unity/python/turicreate/toolkits/_feature_engineering/README.md

[2017-12-19 07:12] #123 closed

[2017-12-19 09:01] codedphoenix commented on #121
Oh that's where the problem is. I haven't enabled WSL. Thanks

[2017-12-19 15:33] joshij1979 commented on #2
Python 3.6 ..  please

[2017-12-19 17:52] res0nat0r commented on #114
Yep, I was able to get a model to generate now. :)

Actually here is the entire SFrame if you'd like to download it and look. It is just a handful
of iOS game images and is only ~1.2MB so I have no problem sharing it.

Feel free to download below, let me know if you need anything else. Thanks for the help.

https://stefhen.s3.amazonaws.com/clash.sframe.tar

[2017-12-19 17:55] gustavla commented on #20
I may have found a work-around, although proceed with caution. MXNet puts up what looks to be nightly builds. I tried one of the 0.11 ones and this seems to resolve this issue. I do not know much about these versions, so I can't guarantee everything else will work correctly. Turi Create will also still complain that you have the wrong MXNet version.

[code]

Another thing you can do is install ver

[2017-12-19 18:28] Buza commented on #88
@znation Same result here as well.

[2017-12-19 18:42] #121 closed

[2017-12-19 18:56] afranklin commented on #57
Update: Bug resolved; waiting on docs.

[2017-12-19 18:59] afranklin commented on #30
This appears to be a gcc bug - we will explore a workaround.

[2017-12-19 19:51] gustavla opened #124 "SArray.apply fails with UnpicklingError (NEWOBJ has NULL tp_new) on certain images"
This issue was identified in #114 by @res0nat0r and tracked separately here.

The clash SFrame contains a column of `tc.Image` instances.

[code]

[code]

[2017-12-19 19:52] gustavla commented on #114
That is super helpful, thank you so much @res0nat0r. I am now able to reproduce the error. I have filed a separate issue #124 so as not to confuse it with the original issue of not being able to use the detector on RGBA images.

[2017-12-19 20:16] gustavla commented on #124
This issue is present on 4.0, however it was fixed on the master branch since updating to a newer version of cloudpickle (98e54f1fa960c08a517b95bf8571e26e8c488ef3).

[2017-12-19 20:16] #124 closed

[2017-12-19 20:36] res0nat0r commented on #114
Awesome thanks!

[2017-12-19 23:34] smahurkar opened #125 "load_images should have a way to order the images alphabetically by path"
I have setup my annotations in a text file in the format:

[code]

My image files are named in the format: 0000.jpg, 0001.jpg, 0002.jpg, 0003.jpg etc

My python code:

[code]

The output is:

+-------------------------------+------------------------+
|              path             |         image          |
+-------------------------------+------------------------+
| /Users/mahusa7/Documents/t...

[2017-12-20 00:36] gustavla commented on #125
Good point! The `tc.image_analysis.load_images` does not seem to give a consistent order (pretty much random when I try running it). This is design decision that is is worth re-visiting so thanks for pointing it out.

What you can do to fix it is to sort it manually after the call to `load_images`:
[code]
Let me know if that did not resolve your issue.

[2017-12-20 04:29] mattzheng opened #126 "SGraph,how to draw in the console"
In GraphLab Create API Documentation , we could use  graphlab.SGraph()..show() to plot out ,
but in turicreate , In /src/unity/python/turicreate/data_structures/sgraph.py, I can not see .show()
so I want to ask how to draw SGraph graph in the turicreate ?

[2017-12-20 05:51] #87 closed

[2017-12-20 10:58] mnazam commented on #22
Same problem as above on Windows 10.

[2017-12-20 12:14] filippomortari opened #127 "how to get a license for GraphLab Create"
Dear all,

I understand this software has been open-sourced.

I am attending the Coursera Module `Machine Learning Foundations: A Case Study Approach`, which as you might know is heavily dependent on the tool.

The software that runs on the IPython Notebook in Coursera workspace still requires an academic license. I tried to get one from [https://turi.com/download/academic.html](https://turi.com/d

[2017-12-20 15:02] supreetacharya opened #128 "turicreate.aws.get_credentials() throwing error"
turicreate.aws.get_credentials() is throwing `AttributeError: 'module' object has no attribute 'aws'`

[2017-12-20 15:53] smahurkar commented on #125
Thank you. This worked!

[2017-12-20 19:17] srikris commented on #128
Thanks for trying out turicreate and sorry for the trouble. Unfortunately, that was a typo in our documentation. I'll keep this up until we fix the documentation.

We have a bug in our S3 reader for certain regions which got handled in #57. So you might have to wait for the point release (which should happen soon) to get the fix in to use S3 reliably with good documentation too.

[2017-12-20 19:53] helloniklas commented on #125
@smahurkar @gustavla  I set the random_order=False and it seemed to work.
[code]

[2017-12-20 19:58] afranklin commented on #127
Sorry, but we're unable to provide support for Graphlab Create / Coursera in this repo. However, I'll make sure someone takes a look at this SSL issue today. Thanks for your patience.

[2017-12-20 19:58] #127 closed

[2017-12-20 20:03] filippomortari commented on #127
@afranklin yes, I imagined. I just needed an initial point of escalation. Thank you very much indeed. 👍

[2017-12-20 21:47] znation commented on #126
SGraph.show has been removed in the 4.0 release since the previous implementation wasn't very scalable - it could only draw graphs up to about 5,000 vertices.

Let's use this issue to track bringing back `SGraph.show`.

[2017-12-20 22:10] znation commented on #126
@mattzheng In the meantime, you could use NetworkX or another package to draw relatively small graphs, for example:

[code]

[2017-12-20 22:36] gustavla commented on #27
I think you can remove old versions, but you can't re-upload them (maybe twine can circumvent, but I'm not sure). It looks we will probably need to pull version 4.0 from pypi at some point in the future, or issues where users try to install on an unsupported platform will never be fixed:

* #121 Windows user outside WSL
* #22 macOS 10.11
* non-x86_64: I haven't seen a report of this yet, but theor

[2017-12-21 01:03] TobyRoseman commented on #27
@gustavla - twine does *not* allow you to circumvent that.

[2017-12-21 04:03] johnyquest7 commented on #83
Thank you for explaining it. I was also running into the same problem.

[2017-12-21 05:18] johnyquest7 opened #132 "Object detection prediction yields []"
I tried to create an object detection model.
The output of the predict function is [] instead of a list with bounding box

[2017-12-21 17:13] gustavla commented on #132
Hi @johnyquest7, thanks for trying out the detector! An empty list is a valid return if the model did not find an object with enough confidence. However, if you are getting this on an image where you feel there is an object that it should find, then we need to figure out why it wasn't able to learn this.

First of all, try lowering the confidence threshold. This should give you a lot of bounding b

[2017-12-21 17:24] gustavla commented on #27
@TobyRoseman Good to know (I read some vague reference at https://github.com/pypa/packaging-problems/issues/74 to suggest otherwise, but reading it again I think you are right). We'll probably have to pull it at some point in time then.

[2017-12-21 17:26] gustavla commented on #22
@cnnsbs @mnazam Are you trying this using WSL? I think this might be the error you would get if you do it on Windows but without WSL.

[2017-12-21 17:35] gustavla commented on #83
@johnyquest7 Thanks for the feedback! We'll try to make this clearer in the documentation and perhaps also in the error message.

[2017-12-21 18:54] znation commented on #27
@gustavla @TobyRoseman Another option would be to publish a newer version of a pure Python egg named `turicreate`, along with our future releases, but instead of containing a non-working version of Turi Create, it could error out on setup with a user-facing message re: platform/version support?

[2017-12-21 21:14] francisbitontistudio commented on #20
@gustavla using 0.12.1 works for me. Thanks a lot!

[2017-12-21 22:12] johnyquest7 commented on #132
Thanks for the advise. I tried to visualize the original images with bounding boxes. Somehow the bounding boxes were not showing up. May be there was an error in defining the bounding boxes. Trying to find out. Will keep you posted.

[2017-12-22 00:29] johnyquest7 commented on #132
Initially I only ran 50 iterations on 200 image. Later I ran 200 iterations and it worked!

[2017-12-22 00:29] #132 closed

[2017-12-22 02:20] johnyquest7 opened #135 "Using inception"
Can we use inception v3 for model creation?

[2017-12-22 13:49] johnyquest7 commented on #135
For object detection and image classification

[2017-12-23 07:09] TobyRoseman commented on #135
@johnyquest7 - inception is not currently supported for either object detection or image classification.

[2017-12-23 07:09] #135 closed

[2017-12-24 02:44] radikal9 opened #136 "Crash in client visualization process on sf.explore()"
In GraphLab when you use the sf.show() it gives you a localhost URL that allows you to drill down and see additional information. When I use it in turicreate, it opens up Turi Create Visualize but I can't drill down to see the summary, table and plots were I can set the x and y axis etc to get custom plots. Is there a way to get the same functionality in turicreate?

[2017-12-24 11:56] igiloh commented on #136
Hi @radikal9,

To see a summary of the entire SFrame (aggregated view for each one of the SFrame's columns) - please use the `sf.show()` method. Note that only the 50 first columns are presented.
To drill down to a larger view of a specific column, please use `sa.show()` - for example by calling `sf['my_column'].show()`.
If you're interested in browsing the table itself, use the `sf.explore()` met

[2017-12-24 13:00] radikal9 commented on #136
On a Sunday. And Christmas Eve! Thanks for the quick response. This is exactly what I needed. I am running into an issue with sf.explore() though which is crashing Turi Create Visualize (using a CSV file with about 20 columns and 150 rows). I can post a copy of the crash report if that would be helpful.

[2017-12-24 13:04] radikal9 commented on #136
The link  'See turicrete.show' in this paragraph:
"turicreate.show(x=, y=) produces a two-dimensional plot of an SArray on the X axis, and an SArray on the Y axis. The specific plot rendered is determined automatically by the underlying dtype of both x and y. See turicreate.show."
at the URL https://apple.github.io/turicreate/docs/userguide/vis/introduction.html leads to https://apple.github.io/tu

[2017-12-24 13:04] igiloh commented on #136
Sure, that will be very helpful.
If there's a minimal set of your data which you are able to disclose, and that reproduces the problem - that might be very helpful as well.
Lastly, if you could also provide some details about your machine spec and OS version - that would be great. There seem to be some issue with the visualization system which is HW dependent, as you can see in https://github.com/

[2017-12-24 13:09] igiloh commented on #136
Thanks for noticing the broken link! This was already fixed in https://github.com/apple/turicreate/pull/45, and seem to be correct [user guide's source file](https://github.com/apple/turicreate/blob/master/userguide/vis/introduction.md). It will probably published to github.io in the next release drop.

[2017-12-24 13:16] radikal9 commented on #136
<img width="584" alt="screen shot 2017-12-24 at 8 10 10 am" src="https://user-images.githubusercontent.com/33485975/34326751-8332f046-e882-11e7-8abc-d200d81afe87.png">

If you don't need (or want) the full report feel free to delete:

Process:               Turi Create Visualization [2063]
Path:                  /Users/USER/*/Turi Create Visualization.app/Contents/MacOS/Turi Create Visualization
I

[2017-12-24 13:28] radikal9 commented on #88
Running the code above by znation I am having the same issue (stuck on the loading screen). Specs provided in #136

[2017-12-24 13:52] radikal9 commented on #136
With regards to the CVS file causing the issue, I can't share the one I am using but I just tried it with the file you provide in your docs at https://docs-assets.developer.apple.com/turicreate/datasets/tc-clang-format-results.csv and the crash report it generates is essentially identical when running sf.explore()

[2017-12-25 07:05] sezan92 opened #137 "Turi For Cats and Dogs Image Classification"
I was trying to use turi for cats and dogs image classification. My gpu is nvidia 970 , ram 4GB . i have installed mxnet_cu80 0.11.0 ..but the error comes out to be

**RuntimeError: simple_bind error. Arguments:
data: (512, 3, 224, 224)
[01:47:51] src/storage/./pooled_storage_manager.h:102: cudaMalloc failed: out of memory**

[2017-12-25 11:52] igiloh commented on #137
Hi @sezan92, thank you for trying out the Image Classifier!

I suspect that you run out of GPU memory due to the batch size being statically set to a fixed size of 512. There is already an issue tracking similar incidents of this problem and suggesting a simple solution by exposing the batch_size parameter to the higher-level `create()` API method: https://github.com/apple/turicreate/issues/26.

I

[2017-12-25 15:22] Kagandi commented on #117
For one of my own projects I have [implemented](https://github.com/Kagandi/turicreate-cross-validation/blob/master/turicreate_cross_validation/cross_validation.py) a cross-validation and kfold that works with turicreate.

[2017-12-25 18:10] znation commented on #136
@radikal9 I'm able to reproduce a different issue, but not the crash described here, when running as a Python script non-interactively. I suspect different behavior will manifest, given the network/CPU/disk timing on different machines, in the same situation - it seems in general, if the `show` or `explore` method is called immediately prior to exiting the Python process, the client process may fa

[2017-12-25 18:30] radikal9 commented on #136
@znation Thanks for looking into this on a holiday! I am just using BBEdit set to: Python I Unicode I Unix (LF) and then use Command + R to execute the script.

[2017-12-25 18:52] znation commented on #58
Fixed with #99.

[2017-12-25 18:52] #58 closed

[2017-12-25 19:01] radikal9 commented on #136
@znation I think you are on to something here. When I do this:

import turicreate
sf = turicreate.SFrame('/Users/User_Name/file_name.csv')
sf.explore()
sf.show()

It will then open up two windows - one with the file_name.csv table and the other with what you would get with the sf.show() visualizations of each column in the csv file.

When I flip it to:
import turicreate
sf = turicreate.SFrame('/Us

[2017-12-26 07:37] 0xfeedface1993 opened #138 "Import image data Error: Unsupported PNG color type: 3"
This is my image file: [http://oqedp1ccg.bkt.clouddn.com/1xru.png](url)
when I try import image data using **turicreate.image_analysis.load_images()** api,
console show error:
**Unsupported PNG color type: 3 file: /Users/virus1993/MRD/IMG/captcha_train/1xru.png**
google not helpful, is that mean need translate PNG to JPEG format?
but API document say support PNG, what PNG format support ?

[2017-12-26 10:04] igiloh commented on #138
Hi @0xfeedface1993, Thank you for trying out the image analysis toolkit!

The link to your image seems to be broken (or not public). Yet I suspect it might be in RGBA format, which is currently not supported.
Please try the workaround suggested in: https://github.com/apple/turicreate/issues/114#issuecomment-352497812, or if you fail to even load the image try converting it to RGB format first with

[2017-12-26 10:09] igiloh commented on #117
@Kagandi, Thank you - we will definitely have a look.
Feel free to submit this as a Pull Request.

[2017-12-26 11:55] jrosebr1 opened #139 "Disk usage expands dramatically during training, causes 'Disk may be full' error."
I checked the Issues but I haven't found anyone else posting this error so I'm not sure if it's related to my environment, something I am doing wrong, or a bug in the actual library/toolset.

I created a 18GB image dataset (the size of the resulting SFrame) for object detection on an Amazon EC2 p2.xlarge instance. The EC2 instance has 128GB of disk space.

I then went to train the model. The only

[2017-12-26 12:00] jrosebr1 opened #140 "Any plans to support Single Shot Detectors or Faster R-CNN?"
Right now Turicreate supports YOLO for object detection. YOLO is nice, but I've personally found Faster R-CNNs and SSDs to be more accurate and easier to train (but at the expense of model size). Combining SSD with MobileNet would be ideal to balance to speed, accuracy, and model size.

[2017-12-26 14:13] radikal9 opened #141 "turicreate.show bad_get error"
When I use turicreate.show to create a graph:

turicreate.show("Date", "Present")

With x=Date and y=Present ('Date' and 'Present' are columns in the spreadsheet attendance.csv) I get the following error:
Finished parsing file /Users/mobile/Attendance.csv
Parsing completed. Parsed 94 lines in 0.008757 secs.
Traceback (most recent call last):
  File "/Users/mobile/Attendance.py", line 4, in <module

[2017-12-26 17:08] znation opened #142 "Provide API-defined selection of visualization plot type"
From #141:

Turi Create could allow the selection of plot type (among available plot types) from the API to override the automatic selection.

[2017-12-26 17:13] znation opened #143 "More than one column (series) per axis in visualization"
Some plot types can allow for more than one column of data to be plotted in the same plot (designated by position, color, etc. depending on plot type). This issue tracks adding support for multiple series in these plot types. For instance, scatter plot could use two colors for points from two series.

[2017-12-26 17:22] znation commented on #141
@radikal9 Can you upload the `attendance.csv` file in this issue, or another CSV file that reproduces this issue? I haven't seen this issue with any dataset I've tried so far.

As to your questions:

* I opened #142 to track adding an API to select plot type. Currently only the automatic selection is possible.
* I opened #143 to track allowing more than one series per axis in plots where this make

[2017-12-26 19:50] igiloh commented on #143
+1

[2017-12-26 21:42] radikal9 commented on #141
Thanks @znation for the help. It won't allow me to attach a spreadsheet but here is a jpeg (it is very basic to recreate)

<img width="810" alt="screen shot 2017-12-26 at 4 39 14 pm" src="https://user-images.githubusercontent.com/33485975/34365189-844f6146-ea5b-11e7-8448-46f0ab37e82a.png">

When I run the code

import turicreate as tc
sf = tc.SFrame('/Users/name/Attendance.csv')
tc.show('Date', 'P

[2017-12-27 01:57] 0xfeedface1993 commented on #138
Sorry about image link, here is right one  [image](http://oqedp1ccg.bkt.clouddn.com/1xru.png).
Thanks to your advice, I'm try external tool like PIL:
`>>> from PIL import Image`
`>>> img = Image.open('1xru.png')`
`>>> img`

The image is using sRGB color space (konw by Finder), it is mode P, that will trigger error like

But, try this code to generate new image with mode RGBA:
`>>> Image.open('1xru

[2017-12-27 11:34] radikal9 commented on #136
@znation Wonder if this could also be a software issue. I deleted the anaconda folder in /Users and then did a reinstall of Turicreate and have not had any further issues with sf.explore() since. Other issues like the bad_get and the chart not actually populating with data still remain.

[2017-12-27 13:09] jrosebr1 commented on #139
@znation I increased my disk to 200GB and still ran into the same error. Do you have any suggestions that I could try? I can provide the code + dataset if you would like. Thank you!

[2017-12-27 14:12] igiloh commented on #139
Hi @jrosebr1, thank you for the detailed report.

Yes, if you could provide the data and code you have used (as well as OS version and any additional information) that would be really helpful.
Also - if you could try to find a smaller subset of the same dataset that does work properly, and check the peak hard drive usage during model creation, that would also be great.

Can you quickly describe ho

[2017-12-27 16:40] znation commented on #136
@radikal9 I see, thanks for the info. I'm still looking into the `sf.explore()` crash as a few other users have reported it as well. If anyone else would like to chime in: does your experience match @radikal9, if you try to reinstall/recreate your Python environment and reinstall Turi Create?

[2017-12-27 16:41] znation opened #144 "Box plot fails to render with a single data point per category"
See #141 for repro steps. The result looks like this:

<img width="582" alt="34365194-8ccfe82c-ea5b-11e7-82e8-5d68610fc4f3" src="https://user-images.githubusercontent.com/5673251/34387227-e6f17754-eafa-11e7-99d2-7075c7774995.png">

[2017-12-27 16:42] znation commented on #141
Thanks @radikal9, I am keeping this issue to track `bad_get` and I opened #144 to track the box plot failing to render with this data.

[2017-12-27 16:52] znation commented on #141
@radikal9 In the meantime you can probably work around this by using another library to generate the chart you're looking for, with the data from the SFrame. Something like this (using matplotlib below):

[code]

[2017-12-27 17:42] jrosebr1 commented on #139
Hey @igiloh, thanks for getting back.

I am running Ubuntu 16.04 on an Amazon EC2 instance. The actual instance is my [deep learning AMI](https://www.pyimagesearch.com/2017/09/20/pre-configured-amazon-aws-deep-learning-ami-with-python/) which is publicly available. I created a Python 2.7 virtual environment and installed `turicreate` into it. Here is the kernel version:

[code]

[2017-12-27 17:45] jrosebr1 commented on #139
I'm not sure what `data.materialize()` is supposed to output but I didn't get anything back:

[code]

[2017-12-27 18:15] jrosebr1 commented on #139
Originally, I had 6,198 total images in my training set. Some of the training images are high resolution (> 2,000px along their largest dimension). I'm not sure if that is a problem or not, but again, I wanted to share.

As a test, I reduced the total number of images to 200 and then tried to train again. Running `df -m` so can slowly start to see my disk space being eaten up:

[code]
Which seems

[2017-12-27 20:36] igiloh commented on #144
I think we should produce a bar plot in this case. Especially if the X axis is in fact a string, as it is treated here.

[2017-12-27 21:04] igiloh commented on #139
@jrosebr1 thanks again for the extremely detailed report!!!

SFrames are lazily evaluated, so SFrame operations which you're performing aren't actually being calculated until the data is required. The `sf.materialize()` method forces that SFrame to perform all of the calculations in its graph, so all previous operations done on this SFrame are finalized.
`materialize` is usually useful if you've p

[2017-12-27 22:26] jrosebr1 commented on #139
@igiloh No problem! Here are the first images and the CSV file containing their bounding boxes:

https://s3-us-west-2.amazonaws.com/static.pyimagesearch.com/turicreate/data.zip

Thanks for looking into this! I'm excited to get it running and do more tests. I would love to include a Turicreate example in my book and at the very least cover it on the PyImageSearch blog.

[2017-12-28 12:25] Olamyy opened #145 "Disable console printing"
Hi,
Is there a way I can stop turicreate from printing all the information it prints after each action?
Don't get me wrong, the feature is excellent but we're attempting to build on top of turicreate which would render most of it useless since the end users would be calling our api which would in turn call turicreates's apis.

Also, how do I make turicreate `return` the output of some functions in

[2017-12-28 13:41] igiloh commented on #145
Hi @Olamyy, Thank you for your feedback!

Almost all of the higher-API functions in turicreate, such as [SFrame.read_csv](https://apple.github.io/turicreate/docs/api/generated/turicreate.SFrame.read_csv.html#turicreate.SFrame.read_csv) and [<any_model>.create()](https://apple.github.io/turicreate/docs/api/generated/turicreate.image_classifier.create.html#turicreate.image_classifier.create), have a

[2017-12-29 06:14] dmcgloin commented on #80
Got same error as @helloniklas. Everything worked in terms of training a model using the virtualenv (after lots of thrashing through docs - and me being unfamiliar with python).

But when it came to exporting to CoreML, I got the same fatal error.

Installing Anaconda resolved the issue for me.

[2017-12-29 18:36] borderlineinteractive opened #146 "Mac hardware dependent Failed assertion in object detection model running in MacOS"
Hi,

I am getting the following error when I run an object detection model based on the cats and dogs example in a command-line MacOS project in Xcode:
[code]

What's especially unusual is that this error only appears on my iMac (Retina 5K, 27-inch, 2017) and not on my mid 2010 Macbook Pro. The code actually works perfectly on the mid 2010 Macbook Pro as expected. I also noticed that the following

[2017-12-30 10:34] yrik opened #147 "Feature request: Multilabel classification"
Is there any plans to support multilabel classification? I miss this feature badly..

[2017-12-30 21:33] gustavla commented on #137
Hi @sezan92, sorry for the delay in addressing this. Your 4 GB should be more than plenty for the 512 batch size that we use. I suspect that the GPU memory is being used by something else, leaving very little for Turi Create. Can you monitor the memory usage by running `nvidia-smi` and make sure the memory is not used by another process before running your script? Also make sure that you do not im

[2017-12-30 21:43] dmcgloin commented on #88
Can consistently reproduce this "loading" screen.
MacBook Pro (15-inch, 2016)
mac OS 10.13.2
Seems like it could be related to the presence of large images taken on an iPhone X.

Run 1:
12 small jpegs
Success

Run 2:
13 small jpegs + 1 iPhone X jpeg
Success

Run 3:
12 small jpegs + 10 iPhone X jpegs
FAILURE - "Loading" screen

[2017-12-30 22:38] dmcgloin opened #148 "Should I expect object detection on iPhone to be as good as using Turi Create on Mac?"
I've gone through the Object Detection tutorial here:

https://github.com/apple/turicreate/blob/master/userguide/object_detection/introduction.md

...and created my own inventory of images (100+ jpgs) to train to recognize a particular object. After a lot of struggling with docs, python learning (including switching between multiple Python environments), etc., I finally was able to generate severa

[2017-12-31 02:20] amayers opened #149 "Image with ground truth bounding box doesn't visually match the input params"
I've been trying to get my setup fully working, and have now gotten everything to finally seem like it's matching up the annotations & images. However when I try to draw the bounding boxes that I am passing in as ground truth, the boxes don't match what I'd expect. I've verified that my annotations' bounding boxes are defined correctly in the JSON I'm importing and when exploring the `data` after

[2017-12-31 09:55] igiloh commented on #149
Hi @amayers, thanks for the elaborate input!

Please note that the (x, y) coordinates in the annotations dictionary indicate the **center** of the object, and not the top-left corner, as indicated in the [User Guide](https://github.com/apple/turicreate/blob/master/userguide/object_detection/introduction.md#data-acquisition) and [API doc](https://apple.github.io/turicreate/docs/api/generated/turicr

[2017-12-31 12:05] igiloh commented on #139
Hi @jrosebr1,

There seem to be a bug in the code [gist you've provided.](https://gist.github.com/jrosebr1/8dff34056420b819576560c86ff6dd00).
In line 62 you check if `filename != imagePath`, but you never set `filename` after the first line of the first CSV. This means that instead of ending up with one line per image file - you end up with a huge SFrame that has a single line per annotation. Not

[2017-12-31 16:16] amayers commented on #149
Ah, totally missed that. Seems like they shouldn't be called just `X` & `Y` then, but `centerX` & `centerY` since `X` & `Y` typically refer to the top left corner in most systems I've worked with. ¯\_(ツ)_/¯. Works great now. Thanks for the prompt response.

[2017-12-31 16:16] #149 closed

[2017-12-31 20:40] jrosebr1 commented on #139
Hey @igiloh, thanks so much for looking into this. Oof, I feel like an idiot now. I should have caught that the `filename` was never updated.

Thanks for providing your example script. I modified it slightly and used it to rebuild my dataset. It worked great and I had no problems.

This time I was able to actually start training. There was some bloat in disk space use but not to the point where al

[2018-01-01 09:11] igiloh commented on #139
@jrosebr1, I'm glad to hear that things are finally working for you now.
Note that turicreate **doesn't** use GPUs by default, as many users may not have the relevant hardware.
In order to train on GPUs you need to both [install the relevant dependencies](https://github.com/apple/turicreate#gpu-support) and [explicitly set the number of GPUs](https://github.com/apple/turicreate/blob/master/usergui

[2018-01-01 12:19] jrosebr1 commented on #139
Thank you for the clarification on explicitly setting the number of GPUs. However, I found a typo in the [explicitly set the number of GPUs](https://github.com/apple/turicreate/blob/master/userguide/image_classifier/advanced-usage.md#using-gpus) documentation:

``
turicreate.config.set_num_gpus(-11)
[code]
turicreate.config.set_num_gpus(-1)
[code]
turicreate.toolkits._main.ToolkitError: num_gpus m

[2018-01-01 13:11] igiloh commented on #139
Hi @jrosebr1,
What you're describing is peculiar. Are you sure there is no GPU nor CPU activity at all? The process just hangs?
I'll mark it as a bug, we'll try to reproduce it. If you can send your data preparation+ training script that would be great.
I'll also appreciate if you can try a smaller subset of your dataset and see if it still hangs. Any additional info about which cases work and whi

[2018-01-01 13:11] igiloh commented on #139
Oh, and thanks for noticing the user guide typo. I'll fix it right away.

[2018-01-01 14:16] jrosebr1 commented on #139
@igiloh

I can certainly do that. Would you like me to tar up the raw images + SFrame dump as well? I'm happy to do so I just don't want to post a public link to the entire archive. If you would like to entire tarball to aid in reproducing the error please let me know -- but I would need a way to privately share the link.

[2018-01-02 08:29] michaeldong commented on #140
@jrosebr1  can you give me some instruction or document for that? Thanks.

[2018-01-02 11:33] jrosebr1 commented on #140
Can you please clarify in particular what you are looking for? I can provide the papers to the Faster R-CNN and SSD papers along with the authors original TensorFlow/Caffe implementations -- but they would need to be converted to Turicreate format which I assume would mean porting the weights to mxnet.

[2018-01-02 12:12] mordoron opened #153 "Build Prerequisites are Missing for Build on Mac"
I experience two failures building turicreate from source on Mac High-Sierra:

1. ```bin/sh -c \"/Users/mordoron/GitHub/turicreate/debug/src/visualization/Turi\Create\Visualization.build/Debug/Tui\ Create\ Visualization.build/ScriptFC1A878A1FB14D2900A67DAD.sh\"/Users/mordoron/GitHub/turicreate/debug/src/visualization/Turi Create Visualization.build/Debug/Turi Create Visualization.build/ScriptFC1A8

[2018-01-02 13:19] mordoron opened #154 "Unable to run c++ unitests"
After installing and building, per the build.md file. Running:
[code]

Yields:
*********************************
No test configuration file found!
*********************************
Usage

  ctest [options]

running ```ctest .```
Yields:
Test project /Users/mordoron/GitHub/turicreate/debug/test
No tests were found!!!

Details:
MacOS High Sierra
version 10.13.2

[2018-01-02 15:12] helloniklas commented on #17
@gustavla @srikris So I managed to compile from source and run MXNET 1.0.1 on GPU on my MacBook Pro with a Sonnett eGPU and NVIDIA 1080 card.

Since NVIDIA's macOS 10.13.2 driver is only supporting CUDA 9 and not CUDA 8, CUDA 9 is essential for this. I'm also running cuDNN 7 with this setup.

With Turi being an Apple thing and supporting CoreML export for Xcode presumably a lot of users will be on

[2018-01-02 18:19] gustavla commented on #138
Hi @0xfeedface1993! Thanks for the image, that is really helpful since I am able to reproduce this issue. It looks like we are unable to load PNG images that are saved with an 8-bit palette (that is, a table of 256 colors). Images without color palettes are supported in both RGB and RGBA (RGB + opacity channel), but with RGBA images you can run into issues later (as in #114 with the object detecto

[2018-01-02 18:27] gustavla commented on #140
We are always interested to hear what other backend models you might want us to support, so thanks for the feedback!

[2018-01-02 18:50] gustavla commented on #146
Thanks so much for reporting this in detail, Leif (@borderlineinteractive)! I'm really sorry about this issue. I am actively looking into this and will keep you posted.

[2018-01-02 19:02] gustavla commented on #147
This is a great feature request!

Right now the only way to do this is by training a binary classifier (using the image classifier toolkit) for each label separately. Of course, training time does not scale well with the number of classes and even worse the Core ML deployment would not give you a single model that would allow you to do inference on all classes at the same time. To consolidate the

[2018-01-02 20:15] borderlineinteractive commented on #146
Thanks for looking into this. FYI: On both machines, the version of Xcode is 9.2 and of MacOS is 10.13.2

Best wishes,

Leif

[2018-01-02 23:10] gustavla opened #157 "Unable to create SFrame with non-ascii column name in Python 2"
I have been investigating unicode support in Python 2 and 3 as part of #110 and SFrame currently has a mostly consistent behavior, except for one thing that stands out as a bug: Creation of non-ascii column names in Python 2.

Python 2 supports putting both `bytes` (`str` in Python 2) and `unicode` into the SFrame and SArray. It is mostly accepted and printed as a UTF-8-encoded string and returned

[2018-01-03 00:50] TobyRoseman commented on #154
@mordoron - thanks for reporting this issue. I've put up a pull request which fixes this issue for me. It would be helpful if you could verify the fix too.

[2018-01-03 03:46] mattzheng commented on #126
@znation thank you ~networkx is easy to use.I provide a example I have practiced,I make use of  official data from  `https://static.turi.com/datasets/bond/*`:

`import networkx as nx
%matplotlib inline
from turicreate import SGraph, Vertex, Edge

def get_edge_list(g,direct = 'directed'):
    edge_list = []
    [edge_list.append((g_list.values())) for g_list in g.edges[['__src_id','__dst_id']]]

[2018-01-03 06:40] gustavla commented on #27
@znation That would work, yes. I think that's probably our best solution given the circumstances, unless we are willing to remove 4.0 from PyPI soon after the next release comes out.

[2018-01-03 09:43] igiloh commented on #138
@gustavla - I think that in the current state this will be simply a duplication of #114, won't it?
Unless we plan to support also Palette mode in the future.

[2018-01-03 17:33] gustavla commented on #17
@helloniklas We are close to both MXNet 0.12 and 1.0 support. However, the 1.0.0 version causes the object detector to crash (this is fixed in their 1.0.1 nightlies), so we will have to wait until 1.0.1 has been released before we can extend official support to 1.*. Hopefully they release it before our next version so that we can get it in. Thanks for your patience!

[2018-01-03 18:45] zacharyblank commented on #146
Same exact error message for me. I am using an ARSceneView to capture the video frames.

[2018-01-03 20:18] gustavla commented on #138
@igiloh I don't think they are duplicates. It's useful to be able to track the different modes in two separate issues:

* #114: RGBA support
* #138: P support

[2018-01-04 05:32] #154 closed

[2018-01-04 08:03] zhmc opened #162 "how to get IDF coefficients after using method turicreate.text_analytics.tf_idf() ?"
Once, in graphlab, I did such thing like that:

[code]

but in turicreate , there are no feature_engineering module.
So, after extracting tf_idf of a SFrame, how to get the tf_idf of a new article?(IDF coefficients are needed).

thanks in advance

Any info is appreciated.

[2018-01-04 08:49] ariosking commented on #22
same problem，can't install via pip install -U turicreate

[2018-01-04 08:59] igiloh commented on #22
Hi @ariosking, thank you for your input!
Can you please tell us which OS you're using?
And if it's windows 10 - are you using WSL?

[2018-01-04 16:57] zacharyblank commented on #146
@gustavla I did a bit of looking into this and it seems that the error is a bit misleading. I believe that one of the destination textures in the model that is created is null for some operation. I don't know where to begin to fix this but I hope that helps.

Thanks very much!

[2018-01-04 17:57] smahurkar commented on #146
Facing the same issue.

validateComputeFunctionArguments:852: failed assertion `Compute Function(TARR_elementwise_mul_f16_pack4): The pixel format (MTLPixelFormatRGBA32Float) of the texture (name:<null>) bound at index 2 is incompatible with the data type (MTLDataTypeHalf) of the texture parameter (src_b [[texture(0)]]). MTLPixelFormatRGBA32Float is compatible with the data type(s) (
    float
).'

[2018-01-04 18:06] zacharyblank commented on #146
@smahurkar how are you capturing the video (or image) frames? When I use an AVCaptureSession it works just fine. I only get the above error when I am using an ARSCNView session.

[2018-01-04 21:10] smahurkar commented on #146
I am using ARSCNView as well.

`      let pixbuff : CVPixelBuffer? = (sceneView.session.currentFrame?.capturedImage)
        if pixbuff == nil { return }

        print("pixel buffer is of type")
        print(CVPixelBufferGetPixelFormatType(pixbuff!))

        let ciImage = CIImage(cvPixelBuffer: pixbuff!)

        let imageRequestHandler = VNImageRequestHandler(ciImage: ciImage, options: [:])

[2018-01-05 07:37] znation opened #167 "Histogram of ints should have integer bin boundaries"
See screenshot. When computing a histogram of integers, the bin boundaries should also be integers. Currently they are floating point (and may not align to the int values in the dataset).

<img width="932" alt="screen shot 2018-01-04 at 11 35 47 pm" src="https://user-images.githubusercontent.com/5673251/34599614-2944312e-f1a8-11e7-87d2-28d9032ffb79.png">

[2018-01-05 08:01] srikris commented on #139
@gustavla Can you take a look at this? The hang suggests to me that something isn't quite right with this setup.

[2018-01-05 08:19] dmcgloin commented on #146
Same issue. I'm using ARSCNView session, specifically: sceneView.session.currentFrame?.capturedImage

[2018-01-05 21:45] gustavla commented on #17
All changes to support all newer versions of MXNet (which include CUDA 9 from 0.12.1) have been merged in (#129, #169). Unless you do a from source installation, this will all be available in the next release.

[2018-01-05 21:45] #17 closed

[2018-01-05 22:38] gustavla commented on #139
@jrosebr1 I'm sorry about these issues. Thanks so much for such a detailed account, that is really useful! I am setting up a script to reproduce this now thanks to all your scripts and the dataset. However, I do think I know what's going on already. As part of the a pre-processing step, the object detector takes all images in the SFrame and decodes them. This is to avoid the overhead of constantly

[2018-01-05 22:42] gustavla commented on #146
Thanks everyone, this is really useful information! We are looking into the issue.

[2018-01-05 22:57] jrosebr1 commented on #139
@gustavla Got it, that makes sense. I'll be sure to give that a try. Will scaling the images in the way you suggested affect the bounding boxes? Will have to manually scale them as well or will they be automatically scaled with the images?

[2018-01-06 04:58] gustavla commented on #148
Hi @dmcgloin, thanks for trying out the object detector! The results should be consistent between Turi Create and all Core ML platforms (iOS, macOS). There could be slight numerical differences, but it would not be noticeable if you look at the bounding boxes.

One key difference is that in Core ML, you get relative coordinates, so make sure to account for that. It's also important to make sure yo

[2018-01-07 18:58] jrosebr1 commented on #139
@gustavla I went back to my Python script used to build the SFrame dataset and applied the image scaling as you suggested:

[code]
As well as scaling the bounding boxes:

[code]

`data` is then combined into `final` later on.

**I'm happy to report that this method worked!**

There was _zero_ disk bloat and the training started immediately.

A big thank you to you and @igiloh for helping out with

[2018-01-08 16:08] gustavla commented on #139
@jrosebr1 I'm glad to hear that and that you remembered to rescale the bounding boxes too. I will still work on finding a better solution, so I'll leave this issue open until it has been addressed.

[2018-01-08 16:20] gustavla commented on #20
Since MXNet support will be extended beyond 0.11 in the next release (#129, #164), I'm closing this issue.

[2018-01-08 16:20] #20 closed

[2018-01-08 16:30] ubuntudroid opened #170 "Precision Recall evaluation for recommendation model returns 0 for all cutoffs"
I've trained a `ranking_factorization_recommender` using a CSV looking like this:

[code]

My code looks like this:

[code]

Evaluation gives me this result:
[code]

And when I try to recommend broadcasts for a new user for whom I have some interactions it always returns the same recommendations, no matter which interactions I define. They only change if the interaction contains items which are us

[2018-01-08 20:37] znation commented on #153
We depend on [node](https://nodejs.org/en/) for visualization (typically the latest official LTS version should work). We should check for it in `./configure` and error out, and we should update the build instructions to reflect that we depend on it.

As for the second point - @mordoron, what Xcode version gives this issue, and what version fixed it? I'm not sure we have been rigorous about testin

[2018-01-08 21:59] hoytak commented on #170
It appears to be that you are creating with `interactions`, which includes the validation_data.  Create the model with training_data and you will likely see different results.

That said, this model is a bit tricky to use, and you will need to play around with the parameters to get a good model, particularly num_factors and num_iterations.   Generally, the item_similarity model is easier to use fo

[2018-01-08 22:07] znation commented on #41
Looks fixed with #71.

[2018-01-08 22:07] #41 closed

[2018-01-08 22:12] smahurkar commented on #146
@gustavla Thank you for your help. I have a deadline to meet for the end of next week to integrate object detection with ARKit. I am using turicreate for this purpose. Do you think this issue will be resolved by next week?

[2018-01-08 22:42] znation commented on #145
@Olamyy Good question, and I'm tagging this issue as `enhancement` to track supporting separately and selectively turning off or re-routing debug/info/warning/error messages printed from turicreate.

I think the ideal state here is:

* No output is directly sent to `stdout`, with the exception of APIs like `print_rows` that explicitly print to the console. Such APIs should have non-print equivalen

[2018-01-09 09:47] mordoron commented on #153
Thanks for looking into this.
My current Xcode version (on which the build succeeds) is: Version 9.2 (9C40b)
I am not 100% sure as for the version on which it failed, but you can see below the update (from my app-store record) which seems to have fixed the issue:

Hope this helps...

 Mor

[2018-01-10 16:16] ubuntudroid commented on #170
Ah, I must have been deep asleep not to use `training_data` when doing the generation. After doing that the table looked like this - much better:

[code]

Then I switched to `item_similarity` and it works beautifully! Initially I went with the `ranking_factorization` because it supports side features, but now I simply clean up the data before and it works perfectly fine. Thanks so much! :)

[2018-01-10 16:16] #170 closed

[2018-01-10 18:55] dmcgloin commented on #148
@gustavla Thanks very much for taking the time to respond to this inquiry.

I went back and scrutinized my rectangle calculations - but it still seems like the coordinate system and math is correct. I also tried drawing the returned rectangles outside of the app; I used Pixelmator to hand-identify the detected locations returned to the app.  The Pixelmator experiments matched what I was seeing in

[2018-01-11 18:27] emannuelOC opened #174 "Text classifier predictions on Xcode"
After importing the model created with the sentence_classifier into Xcode, I got the following error:

`Error Domain=com.apple.CoreML Code=1 "Predicted feature named 'rating' was not output by pipeline"`

`rating` was the name of the target variable in my dataset.

Here's the code I used to create the model:

`import turicreate as tc`
`data = tc.SFrame('sentiment-train.tsv')`
`model = tc.sentence_

[2018-01-13 07:20] hoytak opened #175 "Lapack not properly detected on build"
When building on ubuntu 16.04, the build process does not error out if lapack is not present.  Everything compiles fine, but the use of most of the machine learning algorithms results in `std::logic_error: solve(): use of LAPACK must be enabled`.

[2018-01-14 05:08] znation commented on #136
@radikal9 It looks like this was a temporary software configuration issue. I'm going to close this issue as Not Repro; if you have consistent repro steps that will reproduce this crash on another machine, please reopen this issue and paste them here. Thanks!

[2018-01-14 05:08] #136 closed

[2018-01-14 09:07] igiloh opened #185 "Publish C++ documentation"
Though our C++ documentation can be generated by running `doxygen` after cloning the source code, we should probably also publish the generated html files directly at gihub.io.

[2018-01-14 21:10] gchiste commented on #146
The pixel format (MTLPixelFormatRGBA32Float) of the texture (name:<null>) bound at index 2 is incompatible with the data type (MTLDataTypeHalf) of the texture parameter (src_b [[texture(0)]]).

Exactly the same issue as dmcgloin, using sceneView.session.currentFrame?.capturedImage.

[2018-01-14 21:11] znation commented on #185
Thanks @igiloh. I'll take this one.

[2018-01-15 02:26] HelloWorldYyx commented on #34
I am also very urgent that this problem can be solved!thank

[2018-01-15 07:26] JiangShj commented on #137
Have you ever solve the problem? I have the same question, Hoping you can give me your solution. Thanks a lot!

[2018-01-15 08:25] JiangShj opened #187 "How to download the dataset cats-dogs.sframe?"
I want to sue the example, but I don't find the way to download the datasets. Thanks for your suggestion!

[2018-01-16 16:02] gustavla commented on #137
@JiangShj Could you look at my last post and report how this looks for you? How does `nvidia-smi` look before and during execution of the script? I recommend running `watch nvidia-smi` to get continuous updates. Also, do you import tensorflow or anything that might implicitly import tensorflow (such as keras)?

[2018-01-16 17:24] srikris commented on #174
I'd recommend building on your machine so its easier for us to triage and identify the issue. Otherwise, it could be a symptom of your system.

What trouble did you have building? Were you able to follow the instructions on BUILD.md to make that happen?

[2018-01-16 18:55] znation commented on #57
Docs updated with #183.

[2018-01-17 04:53] znation commented on #187
Hi @JiangShj - good question! [This page](https://github.com/apple/turicreate/blob/master/userguide/image_classifier/introduction.md#loading-data) shows how to create the dataset from your own set of cat & dog images. It expects a collection of images on the filesystem (they can be .jpg, .png, etc.) in two directories: `cat` and `dog`.

I'll keep this issue open to see if we can provide a pre-labe

[2018-01-17 06:40] JiangShj commented on #187
@znation Thanks for your reply，I have tried the experiment on image classification，It is so convenient and awesome! I look forward to the dataset for the object detection.

[2018-01-17 12:53] elseagle opened #190 "Import Error on windows"
I keep getting import error, I installed kin the virtualenv but still giving that.

[2018-01-17 13:14] igiloh commented on #190
Hi @elseagle, thanks for trying out turi create.
Are you using WSL?

Can you please give some info about your machine and your OS version? Python version?
Can you please paste the error you get here?

thanks!

[2018-01-17 13:23] elseagle commented on #190
I wasn't using WSL before, just downloaded it. I'm on windows 10, python 2.7
Error: Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named turicreate

[image: --]

Oluwasogo O. Ogundowole
[image: https://]about.me/ogundowole
<https://about.me/ogundowole?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=chrome_ext>

On Wed, Jan 17, 2

[2018-01-17 13:32] igiloh commented on #190
Windows 10 is supported only via WSL, as described in the [user guide](https://github.com/apple/turicreate#supported-platforms).
Please try with WSL.

[2018-01-17 13:39] elseagle commented on #190
okay thanks

[2018-01-17 13:45] #190 closed

[2018-01-17 15:30] elseagle opened #191 "Import Error"
ImportError                               Traceback (most recent call last)
<ipython-input-5-1b519f14fefb> in <module>()
----> 1 import turicreate

/home/elseagle/venv/local/lib/python2.7/site-packages/turicreate/__init__.py in <module>()
     28 from turicreate.version_info import __version__
     29
---> 30 from turicreate.data_structures.sgraph import Vertex, Edge
     31 from turicreate.data_s

[2018-01-17 15:31] elseagle commented on #191
`ImportError                               Traceback (most recent call last)
<ipython-input-5-1b519f14fefb> in <module>()
----> 1 import turicreate

/home/elseagle/venv/local/lib/python2.7/site-packages/turicreate/__init__.py in <module>()
     28 from turicreate.version_info import __version__
     29
---> 30 from turicreate.data_structures.sgraph import Vertex, Edge
     31 from turicreate.data_

[2018-01-17 16:57] gustavla commented on #191
Hi @elseagle, thanks for trying out Turi Create! Let's see if we can figure out what's going on. If you do:
[code]
Does it list the file `image.py`? It should, among other files. If this is the case, you can try to uninstall and re-install `pip uninstall -y turicreate && pip install turicreate` to see if that fixes it.

[2018-01-17 17:03] elseagle commented on #191
it lists `image.py`

[2018-01-17 17:14] elseagle commented on #191
`ls /home/elseagle/venv/local/lib/python2.7/site-packages/turicreate/data_structures/
gframe.py   grouped_sframe.py   image.py   __init__.py   sarray_builder.py   sarray.py   sframe_builder.py   sframe.py   sgraph.py   sketch.py
gframe.pyc  grouped_sframe.pyc  image.pyc  __init__.pyc  sarray_builder.pyc  sarray.pyc  sframe_builder.pyc  sframe.pyc  sgraph.pyc  sketch.pyc`

[2018-01-17 17:29] elseagle commented on #191
I have `pip uninstall -y turicreate && pip install turicreate` still giving the same error

[2018-01-17 18:59] gustavla commented on #191
How are you running `import turicreate`? It looks like it's through IPython. Does this also happen if you do it in the regular interactive python prompt from an empty directory?

[2018-01-17 19:12] elseagle commented on #191
yes i am runnig through IPython. and I just ran it in shell and I'm getting
`Python 2.7.12 (default, Nov 20 2017, 18:23:56)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/elseagle/venv/local/lib/python2.7/site-packages/turicreate/__init__.py", line 30, in <

[2018-01-17 19:21] gustavla commented on #191
It looks like you are missing a dependency. Make sure to read through https://github.com/apple/turicreate#installation, it will describe how to install all the dependencies. Since you are on Linux, you will want to follow the instructions here: https://github.com/apple/turicreate/blob/master/LINUX_INSTALL.md .

Let me know how it turns out!

[2018-01-17 19:22] elseagle commented on #191
okay

[2018-01-17 19:51] elseagle commented on #191
I have fixed it.. I didn't have the libblas dependency. I think this should be left open for other wsl users to see. Thanks a bunch @gustavla

[2018-01-17 20:54] gustavla commented on #191
Great! Since the dependency is documented in the installation instructions and closed issues are still viewable and searchable, I hope you don't mind if I go ahead an close it.

[2018-01-17 20:54] #191 closed

[2018-01-17 22:21] #64 closed

[2018-01-17 22:22] #43 closed

[2018-01-17 23:43] creative-intersection commented on #146
The same error also occurs when calling the model directly via the predictionFromImage method. Like reported above works from a AVCaptureOutput  when converting from the CMSampleBuffer but not from images captured from ARSession didUpdateFrame. Have even tried converting the ARFrame.capturedImage to a CMSampleBuffer then back again to a CVPixelBufferRef but results in the error.

[2018-01-18 04:22] elseagle opened #194 "Error Creating Model"
`training_data, validation_data = tc.recommender.util.random_split_by_user(terravas, 'user_id', 'service_name')`

This is what I got

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-217-4b342fbf3878> in <module>()
----> 1 training_data, validation_data = tc.recommender.util.random

[2018-01-18 05:02] gustavla commented on #194
It looks like you are putting in a pandas DataFrame into the function while it is expecting an SFrame. We should probably raise a more user-friendly error in such cases. Thanks for pointing it out!

[2018-01-18 05:07] elseagle commented on #194
Okay. Noted

[2018-01-18 06:00] Reubend opened #195 "Links in README.md are Dead"
The readme file has several dead links, which refer to files that no longer exist. There is a section which says
`With Turi Create, you can tackle a number of common scenarios:`
and underneath are links like [Recommender systems](https://github.com/apple/turicreate/blob/master/userguide/recommender/introduction.md) which redirect to a 404 page.

[2018-01-18 07:24] elseagle commented on #194
What actually happened was  I analyzed the data in pandas and wanted to use tc to set a recommender_system but I didn't rename my dataframe for tc modeling so it kept reading from the pandas  perspective

[2018-01-18 15:14] emannuelOC commented on #174
I got the following erros when running `make -j 8`:

`
Command /bin/sh failed with exit code 127

** BUILD FAILED **

The following build commands failed:
	PhaseScriptExecution Run\ Script /Users/emannuelcarvalho/Developer/turicreate/debug/src/visualization/Turi\ Create\ Visualization.build/Debug/Turi\ Create\ Visualization.build/Script-FC1A878A1FB14D2900A67DAD.sh
(1 failure)
make[2]: *** [src/vis

[2018-01-18 17:14] emannuelOC commented on #174
Now I'm getting an error when I try to import `turicreate`:

[code]

[2018-01-18 17:52] znation commented on #144
Fixed with #159

[2018-01-18 17:52] #144 closed

[2018-01-18 18:50] emannuelOC opened #198 "Invalid type conversion when creating sentence_classifier model"
I'm getting the following error when I try to create a sentence classifier model:

[code]

I've built the project locally as described in [BUILD.md](https://github.com/apple/turicreate/blob/master/BUILD.md) and I tried creating the model using different csv files in order to create the SFrame.

My code is as follows:

[code]

The error happens after all the iterations, as you can see in the log be

[2018-01-18 23:26] emannuelOC commented on #195
I fixed them in my forked and created a pull request.
However maybe some files should be renamed. There's an inconsistency in the naming of the files:
`Classifiers`, `Regression` and `Neearest Neighboors` have their guides as `classifier.md`, `regression.md` and `nearest_neighboors.md`, respectively, while the others have a `README.md` file.

[code]

[2018-01-18 23:36] znation commented on #198
@emannuelOC Can you try again with latest master? I suspect this may be fixed with #197.

[2018-01-19 00:07] emannuelOC commented on #198
@znation It did work now! I was able to create the model and export it to the .mlmodel format.
Now I'm back at the problem in #174.

[2018-01-19 00:14] emannuelOC commented on #174
After building, I was able to export the model to the .mlmodel format and use it in Xcode but the problem persists.

Here's the code I used to create and export the model:

[code]

And here's the swift code:

[code]

It output the error bellow:
[code]

Maybe there's a problem with my dataset?

I uploaded the csv file [here](https://github.com/emannuelOC/emannuelOC.github.io/tree/master/turicreate)

[2018-01-19 00:55] TobyRoseman commented on #195
@Reubend - I'm sorry you ran into this issue. Now that #199 has been merge, none of the links on `README.md` are broken any more.

[2018-01-19 00:55] #195 closed

[2018-01-19 04:27] znation commented on #198
Thanks @emannuelOC! I'll close this as fixed with #197.

[2018-01-19 04:27] #198 closed

[2018-01-19 04:29] znation commented on #174
Thanks @emannuelOC - I'll investigate from here.

[2018-01-19 06:13] Daemon-Devarshi opened #201 "Implementing OCR in iOS app using turicreate"
I have to implement OCR in iOS for a certain font. I think the way to achieve this is:

- Train model for OCR by capturing image of each alphabet and tagging it with respective character
- Use native capabilities to detect characters from a scanned image
- Feed character images identified, in sequence, to trained model
- Based on prediction from model recognize each character, display the same, in

[2018-01-19 07:41] wangchuanya opened #202 "import turicreate as tc has a error why?"
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-6-b996469cf675> in <module>()
----> 1 import turicreate as tc

/root/anaconda2/envs/turi/lib/python2.7/site-packages/turicreate/__init__.py in <module>()
     28 from turicreate.version_info import __version__
     29
---> 30 from tu

[2018-01-19 11:38] elseagle commented on #202
are you on wsl?

[2018-01-19 11:40] elseagle commented on #202
try pip installinng sframe in your virtual environment and check the dependency page to install ` liblas`

[2018-01-20 11:25] KevinGong2013 commented on #201
I have a similar repo to do this, but that work in progress. ^_^

[2018-01-21 07:03] chengjun opened #206 "Support for Python 3.x"
Recently, most python packages do not support python 2.7 anymore. And the python will officially stop support python 2.7 by within one more year. However, for quite a long time, GraphLab only support python 2.x. I am wondering whether it is possible for turi create to upgrade to python 3 now.

[2018-01-21 18:29] srikris commented on #174
@emannuelOC Thanks for catching this issue. The issue is related to #98 and we will continue to investigate. It seems that this happens when you have a new word during prediction time. We have narrowed down this issue and hope to get a fix out soon.

[2018-01-21 18:33] srikris commented on #206
Duplicate of #2. Python 3 support coming real soon! We are in the testing and validation phase.

[2018-01-21 18:33] #206 closed

[2018-01-22 09:04] RobinChao opened #209 "Input feature features was presented as an array of size (1, 50, 6), but the model expects an input of size (1, 50, 7)."
when use the activity classifier model in iOS app,  the console log output 'Input feature features was presented as an array of size (1, 50, 6), but the model expects an input of size (1, 50, 7).'

[2018-01-22 15:13] alonpal commented on #209
Thank you for trying out the activity classifier. I assume you are referring to the user guide example. There is a mistake in the example where the model also considers the ```user_id``` column.
You can fix this by replacing the model creation with:
[code]
Or by removing the ```user_id``` column before model creation via:
[code]
We will update the example to reflect these changes.

[2018-01-22 15:13] #209 closed

[2018-01-22 21:08] znation commented on #202
@wangchuanya This error indicates the file `/root/anaconda2/envs/turi/lib/python2.7/site-packages/turicreate/data_structures/image.py` is missing (or corrupt?). Could you try uninstalling turicreate with:

`pip uninstall turicreate`

And reinstalling with:

`pip install turicreate`

and see if the issue still repros? Thanks!

[2018-01-22 21:47] smahurkar commented on #146
@gustavla here is a sample project that reproduces the issue of object detection model with scenekit.
https://github.com/smahurkar/ARObjectDetectionError

[2018-01-22 22:54] CogMachines opened #211 "Example of C++ API usage"
I have trained and deployed a model using turicreate in a shipping iOS app (www.kompapp.com).  Our notation and classification engine is in C++.  With our previous classifier, we could access the core code using Obj-C and C++, allowing us to have both an iOS and server-based solution.  I have been able to classify in C++ using the turi model by embedding Python and using PyObject calls.  This seem

[2018-01-22 22:58] CogMachines commented on #201
Your approach may work, but it may depend on the number of images per character label you will be using for training and the model you will be using for classification.  Have you decided what algorithm you will be using to do the classification?  Once you collect all of your training data, it is quite easy to set up turicreate to do the training and classification.

[2018-01-23 00:26] srikris commented on #149
@amayers Did you end up deploying this model on your application?

[2018-01-23 07:53] znation commented on #185
Done - it's up at https://apple.github.io/turicreate/docs/cpp/

[2018-01-23 07:53] #185 closed

[2018-01-23 08:22] znation commented on #211
Hi @CogMachines, I uploaded the [C++ docs](https://apple.github.io/turicreate/docs/cpp/). Since those can be kind of unapproachable (more of a class/function reference than a howto -- the search works well, but I don't tend to browse), I also wanted to add some sample code here.

Let's assume we're starting with the model that results from the introductory example in the [boosted trees classifier]

[2018-01-23 08:23] znation commented on #211
I'll keep this issue open for now to track adding the above code sample to the C++ API docs, and restructuring the API docs to present some high level use cases first.

[2018-01-23 11:34] pcmanik commented on #140
Also the "full" YOLO model would be appreciated. Devs may find that the performance of tinyYOLO is not as important as accuracy of the "full" version of YOLO.

[2018-01-23 11:56] jrosebr1 commented on #140
I second @pcmanik's comment on the full version of YOLO.

I would still recommend SSDs and R-CNNs over YOLO if accuracy is valued more than the performance/speed of the pipeline (although SSD + MobileNet does a great job balancing both).

[2018-01-23 12:12] pcmanik commented on #140
Is SSD or R-CNN really that better? According to results published in YOLO paper - https://arxiv.org/abs/1612.08242 Both of them are slower to execute with lower mAP.

If workflow doesn't expect detecting small objects where YOLO is not very good, than YOLO is winner here in both accuracy and perf no?

Maybe you have better experience with them that's just what I found. I'm not very experienced in

[2018-01-23 12:33] jrosebr1 commented on #140
In practice I've found that YOLO9000's accuracy isn't as good as SSD or Faster R-CNN (speed is another story, YOLO is very speedy). YOLO can also be more challenging to train, depending on the task. As you also noted, YOLO doesn't work well with small objects.

It's impossible to say "this architecture is always the best" because (as we know) which architecture + training procedure is best is _hig

[2018-01-23 15:23] atthaje commented on #83
The annotation column in my SFrame ends up having 3 rows after I read annotation list for 3 objects in an image, but the image column has only 1 row representing the corresponding image, thus resulting in row mismatch. Shall I be repeating the image 3 times if I intend to detect 3 objects in an image?

[2018-01-23 19:03] gustavla commented on #83
@atthaje If you have an image with three objects, then it should be 1 row in an SFrame and the annotations column should be a list of three dictionaries. I hope that clarifies things! Feel free to open up a new issue if you are still having problems.

[2018-01-23 20:54] jgaynor opened #212 "Exporting Image Similarity model to CoreML?"
After creating an Image Similarity model it appears as if there's no way to export this model to Core ML currently. Is this correct? If so, which model do you suggest if I'm looking to pass a model an image and match it to a predefined list of images as best as possible? Would image classification work in that case?

[2018-01-23 21:43] srikris commented on #212
This is correct. This is currently not supported.

We'd like to understand your use case a bit better i.e where are the images stored? Is this for an app that you are building?

[2018-01-23 23:26] siideffect opened #213 "Cant create coreml model - Fatal python error"
Hello, this issue is similare to #112
I am trying to creating a custom core mlmodel , but seems there is a problem related to python, which is making me going crazy.

This is the output terminal :

[code]

Note that, i have installed python 2.7.14 from python.org
Then i went for pip install -U turicreate
Im not a terminal / python wizard, but i have read the issue #112 with attention.
Why is pytho

[2018-01-23 23:40] jgaynor commented on #212
Thanks for your reply. This is for an iOS app where the images would be stored locally (within the app or model). The user’s camera would be used to recognize a series of predefined cards.

[2018-01-24 00:11] znation commented on #174
Dupe of #98 (it's the same issue). @srikris, please verify both when closing #98.

[2018-01-24 00:11] #174 closed

[2018-01-24 00:34] srikris commented on #213
Thanks for trying it out and sorry for the trouble. coremltools currently doesn't support Python.org python. Its a known issue and we are seeing what we can do about it. In the meantime, I'd recommend you use anaconda or system python.

In order to fully remove python.org python, I've use these instructions before and they seemed to work for me:
https://stackoverflow.com/questions/13538586/uninsta

[2018-01-24 05:25] atthaje commented on #83
Thank you for the clarification.

[2018-01-24 05:26] #194 closed

[2018-01-24 06:18] CogMachines commented on #211
Thanks for the late night work!  I was able to get it the libs linked in.   I made a custom binaries and header archive so I could deploy the build across various machines.  The code is closed source, but if you are interested in taking a look at the implimentation, I would be glad to share it with you.  It is great to be able to use the same codebase across mobile, desktop and server!

[2018-01-24 06:27] srikris commented on #211
Out of curiosity, do you mind telling us which feature in your app was powered by the model?

[2018-01-24 06:41] CogMachines commented on #211
The classification of musical symbols and alphanumeric characters is done using the trained model.  I am not using the boosted_trees_classifier that was in the example code, but a different one.  The classified symbol along with some morphological analysis and contextual data is used to the convert the users handwriting into music notation.  Before I integerated CoreML, I was using my own nearest

[2018-01-24 07:04] srikris commented on #148
@dmcgloin Did you end up getting your model deploying in your app?

[2018-01-24 07:09] #55 closed

[2018-01-24 08:28] siideffect commented on #213
@srikris Thanks for your response , i have been able to remove python package i have previously installed. I ve also had to install pip again in order to install turicreate.

The command i ve inserted to install turicreate is
`
pip install turicreate
`

which unfortunately fails, giving me this error

[code]

[2018-01-24 08:31] srikris commented on #213
Our instructions in the README.md suggest to use virtualenv. I strongly recommend that over doing sudo (which you would need to do to install without a virtualenv)

[2018-01-24 16:17] Pearapon opened #214 "When it will come out for Python 3+"
Hi,

   Can anyone tell me when "TuriCreate" will come out for Python 3

Regards
Pearapon S.
Bangkok, Thailand

[2018-01-24 16:56] gustavla commented on #214
Thanks for your interest in Python 3! We are getting close to a release which will have full support. See duplicates #2 and #206.

[2018-01-24 16:56] #214 closed

[2018-01-25 07:45] srikris commented on #212
@jgaynor We are happy to discuss your use case a bit more because it's something that will come up for other people.  If you have an email account that we can reach you from GitHub, we can definitely follow up.

[2018-01-25 07:46] srikris commented on #201
Unfortunately, our policy does not include providing advice on training models that are outside the scope of the tool. We wish you the best with your app.

[2018-01-25 07:46] #201 closed

[2018-01-25 11:43] Daemon-Devarshi opened #219 "Smaller data set, larger mlmodel size"
I am using around 12 images to obtain a trained modal using turiecreate, total size is approximately 1000 KB. Dimension of each image varies from 176x417 to 400x448. The size of final mlmodel obtained is around 94.2 MB. Is there any to bring down the size of final mlmodel? Please suggest.

Here is the script used to load image data into data frame:

[code]

Here is the script used to obtain the mo

[2018-01-25 14:23] jgaynor commented on #212
Thank you for your reply - you can reach me via email at jgaynor@weblications.com.

[2018-01-25 18:25] znation commented on #211
@srikris I'm keep this issue open for now to track adding the above code sample to the C++ API docs, and restructuring the API docs to present some high level use cases first.

[2018-01-26 02:49] dmcgloin commented on #148
@srikris Thanks very much for following up! I updated my GitHub profile to include my email.

I did not get much further here. A combination of things were impeding progress: 1) Real life work :) 2) This issue 3) This other issue: https://github.com/apple/turicreate/issues/146

#3 is sort of a big blocker because my app idea depended on using ARSCNView. Hopefully, this issue will get resolved soon

[2018-01-26 07:00] igiloh commented on #219
Hi @Daemon-Devarshi , thank you for taking interest in the image classifier!

By default, the classifier uses resnet model, which is indeed larger in model size.
Please try adding the parameter `model='squeezenet_v1.1'` to your `create()` call. Using squeezenet should provide a much smaller model.

[2018-01-26 12:39] siideffect commented on #213
I have been able to install turicreate using a virtual environment as you suggested, thank you very much @srikris

[2018-01-27 18:51] #219 closed

[2018-01-29 03:24] patrickwang96 opened #223 "Number of CPU usage"
Hi, I'm currently building a model using turicreate. However, I wish to set the CPU usage while trainning the model (Turicreate currently used all CPUs by default)

When I look into the docs, there is only APIs for setting GPU usage. And the source code seems to fix thread_pool size to all the cpu cores on computer.

[code]

I wonder if there is any way for me to limit my CPU usage?
Thanks!

[2018-01-29 20:25] michaelschleiss opened #224 "Object Detection performance issues with large images"
I am training the object detector on a dataset with large images 3000x2000 pixels on a GPU. I couldn't see any difference in the time that is spent on training compared between training on GPU or CPU.

I made that training on GPU is set to active and it works fine for the sample image classification task with the dogs and cats. There I see a huge performance difference between GPU or CPU.

But for

[2018-01-29 21:09] znation opened #225 "Catch std::bad_alloc in recommender system and refer to docs"
In Recommenders, there is a possibility of running out of memory. The user can tune the memory usage according to a parameter, but if the default doesn't work well, the error gives no indication of how to use the API to succeed. Let's link to the API docs from a user-facing error message in this situation.

[2018-01-29 21:17] gustavla commented on #224
There are known performance issues for running the detector on large images, and you are probably spending a lot of time resizing the images down to the size expected by the neural network. This issue is tracked in #139, which also contains some work-arounds (such as resizing them in the SFrame).

Also, you could you try running your creation script like this:

[code]
I'm curious to hear if this m

[2018-01-29 22:55] T-Cornelis commented on #22
@igiloh @gustavla  Hello, I have the same problem on Windows 10. I have an x64 PC and have installed WSL. Had the problem both before and after installing WSL (dunno how to check whether the WSL is working).

[2018-01-29 23:59] znation commented on #213
Sounds like this is resolved - thanks for the info @siideffect!

[2018-01-30 00:01] znation commented on #223
Thanks for the request @patrickwang96 - we'll look into providing an API call or setting to set number of CPUs.

[2018-01-30 07:46] HelloWorldYyx opened #226 "I do not know how to generate a data source for "Object Detection." Can you provide a detailed list?"
https://apple.github.io/turicreate/docs/userguide/object_detection/introduction.html
I do not have the direction to do data collection! thankyou

[2018-01-30 22:41] KeyboardNerd opened #227 "csv header parsing problem with BOM UTF8"
I'm using Python 2.7.13 with turicreate version 4.0 shown by "pip show turicreate".

To recreate the bug,
1. Write character 'a' to "buggy.csv" in UTF-8 encoding.

2. Run the following code:
`import turicreate as tc
data1 = tc.SFrame('buggy.csv')
print data1['a']
`

Expected output:
[]

Actual output:
RuntimeError: Column name a does not exist.

I used a debugger and found that the corresponding c

[2018-01-30 22:55] TobyRoseman commented on #227
@KeyboardNerd - Does it work if you do: `data1 = tc.SFrame.read_csv('buggy.csv')`? This is the intended way to read CSV files.

What you're doing should probably give an error. I'll take a look at that. Please attach `buggy.csv` to this issue.

[2018-01-30 23:08] KeyboardNerd commented on #227
@TobyRoseman no the result is the same, here's stack trace
`Parsing completed. Parsed 0 lines in 0.009459 secs.
Traceback (most recent call last):
  File "/Users/Sida/Projects/turicreate/test/test2.py", line 4, in <module>
    print data1['a']
  File "/usr/local/lib/python2.7/site-packages/turicreate/data_structures/sframe.py", line 3517, in __getitem__
    return self.select_column(key)
  File "/

[2018-01-31 09:24] UHemarajU commented on #114
Hi res0nat0r,

I am trying to generate model for object detection. While generating model i am also getting same error as you got.
 i.e.  **MXNetError: [13:55:21] src/operator/tensor/./elemwise_binary_broadcast_op.h:66: Check failed: l == 1 || r == 1 operands could not be broadcast together with shapes (416,416,4) (1,1,3)**

i tried to add the code you and gustavla discussed above but i am still g

[2018-01-31 14:05] igor9silva commented on #34
+1 for exporting recommender models into a CoreML Models.

[2018-01-31 19:07] TobyRoseman commented on #226
@HelloWorldYyx - Sorry for the inconvenience. This a known issue. We are tracking it in #97.

[2018-01-31 19:07] #226 closed

[2018-02-01 09:08] Padalingam opened #231 "Got a Exception when I try to install turicreate"
Hi,
I got the below error when I tried to install turicreate. Used comment is pip install turicreate

   DEPRECATION: Uninstalling a distutils installed project (numpy) has been deprecated and will be removed in a future version. This is due to the fact that uninstalling a distutils project will only partially uninstall the project.
    Uninstalling numpy-1.8.0rc1:
Exception:
Traceback (most recen

[2018-02-01 19:57] AbhinandanBedi commented on #213
I am still getting the crash error even after re-installing python 2.7. Can anyone please clearly elaborate how to fix the issue?

[2018-02-01 20:05] siideffect commented on #213
Use the default version of python installed on your Mac, and follow the instructions in README file of the repo to setup a virtual environment correctly. Once you setup it, you will be able to install turicreate in the virtual environment you just created.

[2018-02-01 20:05] srikris commented on #213
@AbhinandanBedi Can you elaborate on which version of python you have? (run `which python`). Can you share what your crash is? That would help too.

[2018-02-01 20:18] AbhinandanBedi commented on #213
@srikris
![screen shot 2018-02-02 at 1 46 32 am](https://user-images.githubusercontent.com/20858369/35701126-12cc92e6-07bb-11e8-8120-a05d30c00fe7.png)
![screen shot 2018-02-02 at 12 24 46 am](https://user-images.githubusercontent.com/20858369/35701140-1a1f14e2-07bb-11e8-8f8a-53a5a093d707.png)

Any help?

[2018-02-01 20:34] znation commented on #213
@AbhinandanBedi with Python in `/Library/Frameworks/Python.framework/Versions/2.7`, using virtualenv from `/Library/Frameworks/Python.framework/Versions/2.7/bin/virtualenv`, I'm unable to reproduce this issue with turicreate==4.0.

Can you provide some more info? Exactly which commands are you running, in which order? What version(s) of Python do you have on your machine, and how did you install t

[2018-02-01 20:42] AbhinandanBedi commented on #213
@znation I have successfully installed the turicreate using the command `pip install turicreate` Now, I am running this "classifier.py" file with the command `python classifier.py`After running, it opens the python launcher, Turi Create Visualization but in the end it shows that Fatal Error as mentioned in above screenshots.

![screen shot 2018-02-02 at 2 08 26 am](https://user-images.githubuserco

[2018-02-01 20:49] srikris commented on #231
Which version of python are you on? Python 3? If so, then we are planning to release a Python 3 version very soon!

[2018-02-01 21:41] znation commented on #213
Thanks @AbhinandanBedi. Looks like we may still have a bug here; I'll reopen this issue so we can track it. We'll try to reproduce it with the code you have provided.

[2018-02-01 23:03] gustavla commented on #231
It looks like you don't have permission to run pip globally. We recommend installing turicreate into a virtual environment:
[code]

[2018-02-02 04:18] Padalingam commented on #231
its installed successfully, when i use this cmd "pip install --ignore-installed turicreate"

[2018-02-02 04:19] #231 closed

[2018-02-02 06:35] Padalingam opened #234 "Column type of target 'rating' must be int or str in sentence_classifier.create"
I got the following error, when i execute the sentence_classifier

Input csv is

rating | text
-- | --
Positive | This movie is awesome
Positive | This movie is excellent
Positive | This movie is good
Positive | This movie is wonderful
Positive | This movie is ok
Negative | This movie is bad
Negative | This movie is not good
Negative | This movie is too bad
Positive | This movie is fantastic

i se

[2018-02-02 06:37] srikris commented on #234
Thanks for trying out TC. This is a duplicate of #98. We are looking into it.

[2018-02-02 06:38] Padalingam commented on #234
Even, i used tc.SFrame.read_csv('ratings.csv') but the error remains same

[2018-02-02 06:40] srikris commented on #234
Looks like this is not a duplicate. Let me look into it.

[2018-02-02 07:38] Padalingam commented on #234
i have tried
1) data = tc.SFrame.read_csv('ratings.csv', column_type_hints={'ratings':str, 'text':str})
2) data = tc.SFrame.read_csv('ratings.csv', column_type_hints=str)

But the error remains the same but if i try data = tc.SFrame({'rating': [1, 5], 'text': ['hate it', 'love it']})
this works fine

[2018-02-02 07:39] srikris commented on #234
Thanks for giving more info. I have traced the bug and made a fix. I'm testing it locally. I'll put up a PR soon.

[2018-02-02 07:46] srikris commented on #234
Fixed with #235. Version 4.1 is coming real soon.  Thanks for reporting.

[2018-02-02 07:47] srikris commented on #224
Dupe of #139

[2018-02-02 07:47] #224 closed

[2018-02-02 08:16] Padalingam commented on #234
Thanks dude. How can i check my turicreate current version and how can update the new version?.

[2018-02-02 08:23] srikris commented on #234
When the new version comes out, it will have this bug fix and you can upgrade with

[code]

[2018-02-02 08:37] Padalingam commented on #234
Thanks. it's working for following data set

rating | text
-- | --
1 | This is too good
1 | This is too wonderful
1 | This is too awesome
1 | This is too good
1 | This is worth to watch
0 | This is too bad
0 | This is not good
0 | This is very bad
1 | This is fantastic

But, i got the following error
Traceback (most recent call last):
  File "classifier.py", line 17, in <module>
    model.export_c

[2018-02-02 08:38] AbhinandanBedi commented on #213
Worked successfully for me after running virtual environment in Anaconda.
@znation @siideffect @srikris

[2018-02-02 08:39] srikris commented on #213
Yes. The previous python you were using was from Downloaded from python.org. This will be fixed on coremltools-0.8

[2018-02-02 08:39] srikris commented on #234
This is most definitely #98 :) which we are investigating

[2018-02-02 08:44] Padalingam commented on #234
But, this error is seems to be SentenceClassifier doesn't have the export_coreml method

[2018-02-02 08:45] srikris commented on #234
It has been added after 4.0 and will be available in 4.1. This should be available soon.

[2018-02-02 08:49] Padalingam commented on #234
Thanks bro

[2018-02-02 14:25] alonpal commented on #212
@jgaynor We are working on supporting this feature, thank you for your patience.

[2018-02-02 17:10] soubh1k opened #236 "graphlab.toolkits.cross_validation.shuffle which was originally present in Graphlab Create is missing in TuriCreate"
Previously to shuffle a SFrame, we used graphlab.toolkits.cross_validation.shuffle. However, in TuriCreate this is missing.

[2018-02-02 21:34] srikris commented on #234
Fixed.

[2018-02-02 21:39] znation commented on #153
Fixed with #230.

[2018-02-02 21:39] #153 closed

[2018-02-03 04:15] #234 closed

[2018-02-03 04:15] srikris commented on #98
Fixed

[2018-02-03 04:15] #98 closed

[2018-02-03 04:27] Padalingam commented on #234
After upgrade
Padalingam-MacBook-Pro:MovieAnalysis padalingam$ pip install turicreate --upgrade
Requirement already up-to-date: turicreate in /Library/Python/2.7/site-packages
Requirement already up-to-date: pillow>=3.3.0 in /Library/Python/2.7/site-packages (from turicreate)
Requirement already up-to-date: requests>=2.9.1 in /Library/Python/2.7/site-packages (from turicreate)
Requirement already

[2018-02-03 04:29] Padalingam commented on #234
i think, i am not able get a new version of turicreate. its working fine when rating column is a int

[2018-02-03 04:36] srikris commented on #234
As I made mentioned earlier, the new version is not yet released. It will be coming soon. We will post here when we upload the new version.

[2018-02-03 05:26] soubh1k commented on #236
I think your work-around is better as the shuffle function originally present in graphlab creates a new SFrame. However, your method does not require to create a new SFrame.

[2018-02-03 17:11] gustavla commented on #236
@soubh1k Actually, the sort does not happen in-place, so it does create a new SFrame which is why I had to capture the results of the sort with `sf = ...`.

[2018-02-05 12:50] davidswaven commented on #57
hi, any idea when this will be released ? thanks

[2018-02-05 13:14] HincaTseng opened #241 "How can I set some model metadata when used model.export_coreml(),Thanks."
How can I add the license, author get surfaced in the XCode UI. I can't find more information in
Turi Create API Documentation.Could you help me with it.Thank you very much😻!

In Docs...  [image classification -> Introductory Example](https://apple.github.io/turicreate/docs/userguide/image_classifier/introduction.html)

In coremltools Docs... [Model Interface about author](https://apple.github.io/

[2018-02-05 15:40] gustavla commented on #241
Hi, thanks for letting us know this is something you would like to be able to do. Right now there is no way to set custom meta data through Turi Create. The current way to do it is to re-open the mlmodel file using coremltools, add the desired information, and then re-save it.

[2018-02-05 18:54] steve21124 commented on #140
Any new info on SSD or Faster R-CNN support?

[2018-02-05 19:53] znation commented on #57
@davidswaven Stay tuned - I can't give an exact date but we're putting together a 4.1 release including all current fixes.

[2018-02-05 19:54] srikris commented on #57
We are hoping for this week.

[2018-02-05 21:20] srikris commented on #213
@AbhinandanBedi Coremltools 0.8 should have fixed this issue. Can you run your script again after upgrading using:

[code]

[2018-02-05 21:28] srikris commented on #212
We think we have a solution. Worked in progress on #242. Feel free to comment on that.

[2018-02-05 21:58] znation commented on #241
We should probably return a `coremltools.models.MLModel` object from `export_coreml` (and/or, create a new API `to_coreml` to just return the object without saving), so that users can directly add metadata and call save.

[2018-02-06 11:44] HincaTseng commented on #241
Sincerely thanks again，have a good day.😸😸😸

[2018-02-06 17:44] srikris commented on #227
Good find. Interestingly, the column name is parsed incorrectly

[code]
We'll investigate

[2018-02-06 17:44] #213 closed

[2018-02-06 18:09] srikris commented on #107
We are looking into this. We will use the issue in #115 to track the issue.

[2018-02-06 18:09] #107 closed

[2018-02-06 18:10] #236 closed

[2018-02-06 18:12] srikris commented on #34
We are looking into this. Stay tuned.

[2018-02-06 18:22] srikris commented on #63
Sorry for the late response. No it does not update the data but it updates the predictions assuming this new data was seen so the effect is pretty close.

[2018-02-06 18:22] #63 closed

[2018-02-06 18:23] #59 closed

[2018-02-06 19:20] afranklin commented on #202
@wangchuanya Can you please try @znation's suggestion and let us know if the issue still repos? thanks.

[2018-02-06 19:22] afranklin commented on #175
We should make sure that:

* We error out at compile time if lapack is not present
* We error out at runtime if lapack is not present

[2018-02-06 20:02] znation commented on #28
@falu2010 What version of macOS are you running? What version of Xcode do you have installed? We have only tried building latest master on macOS 10.12 and 10.13 with Xcode 9; other versions may or may not work. If you can provide specific versions that don't work, we can try them out.

[2018-02-06 20:20] gustavla commented on #148
@dmcgloin Really sorry about the many issues that you've been having. #146 remains a very high priority for us, but the fix needs to go into macOS as opposed to Turi Create, so it makes the process slower.

Perhaps you could provide a Turi Create model and an image, and I can run it both inside Turi Create and using Core ML and we can look at what I get? I apologize for the slow response!

[2018-02-06 20:23] gustavla commented on #146
@smahurkar Thanks!

I just wanted everyone to know that this problem remains high priority for us. It is a problem that likely needs to be addressed in macOS, so the time frame for rolling out a fix is unfortunately slower than if the problem had been inside Turi Create. I'll post an update as I know more.

[2018-02-06 23:00] #120 closed

[2018-02-07 05:34] #157 closed

[2018-02-07 07:09] #2 closed

[2018-02-07 08:54] Padalingam opened #249 "AttributeError: 'SentenceClassifier' object has no attribute 'export_coreml'"
I got this when i try to run my .csv file

import turicreate as tc
# Load data
data = tc.SFrame.read_csv('ratings-one.csv')
#data = tc.SFrame({'rating': [1, 5], 'text': ['hate it', 'love it']})

# Create a model
model = tc.sentence_classifier.create(data, 'rating', features=['text'])

# Make predictions & evaluation the model
predictions = model.predict(data)
print(predictions)
results = model.eva

[2018-02-07 12:17] ubuntudroid opened #250 "Are recommender models getting better over time when using them?"
I'm a real beginner in the area of ML so please bear with me: I searched the documentation, but couldn't find a real answer on whether the recommender models trained with Turi Create are getting better over time when I'm using them to recommend. Personally I doubt it, cause I'm not seeing any way to feed back information whether a recommendation was good or not. On the other hand there is a way to

[2018-02-07 21:51] znation commented on #212
Fixed in #242.

[2018-02-07 21:51] #212 closed

[2018-02-07 21:55] znation commented on #249
Thanks for the issue report @Padalingam! This has been fixed in master with #99 and will be released in the upcoming 4.1 release.

[2018-02-07 21:55] #249 closed

[2018-02-08 19:29] RSherwoodJr commented on #22
Just want to chime in: I'm having the same issue on Windows 10.  Tried on both Python 3.6 and 2.7, with and without 2.7 virtual environments.

[2018-02-08 20:27] afranklin commented on #61
Resolved in Turi Create 4.1

[2018-02-08 20:28] afranklin commented on #249
Turi Create 4.1 is now available.

[2018-02-08 20:28] afranklin commented on #234
Turi Create 4.1 is now available.

[2018-02-08 20:29] afranklin commented on #57
Turi Create 4.1 is now available.

[2018-02-08 21:10] gustavla commented on #22
@T-Cornelis @RSherwoodJr Can you please confirm that WSL is enabled? From what I understand, it must be enabled by the user and not simply installed. I don't know exactly how to do this, but a search for "Enable WSL" seems to give plenty of tutorials of how to do it.

[2018-02-08 21:15] rajatarya opened #256 "import turicreate fails on macOS 10.12.6"
Reproduced using turicreate v4.1, does not reproduce with turicreate v4.0.

[code]

[2018-02-08 21:26] T-Cornelis commented on #22
I enabled it already once. Here is the result that I got when I tried enabling the WSL again:

`PS C:\WINDOWS\system32> Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-Windows-Subsystem-Linux
Path          :
Online        : True
RestartNeeded : False`

Still getting the same issues (which prevent me from installing turicreate).

[2018-02-08 21:46] TobyRoseman opened #257 "Wrong git SHA in egg/wheel"
`tc.version_info.git_sha` seems wrong.

[code]

However that doesn't seem to even be a commit in this repository:
https://github.com/apple/turicreate/commit/54b25133c1d8b8d84e2e580f546a23348f3c6796

I would expect it to match the SHA listed here (`39e7f27`): https://github.com/apple/turicreate/releases/tag/v4.1

[2018-02-08 21:48] znation commented on #257
@TobyRoseman Hmm, thanks for checking on this. Looks like our build system logic around git sha is a bit messed up.

[2018-02-08 22:09] gustavla commented on #22
@T-Cornelis Thanks for the quick response. Can you try directly downloading the coremltools wheel from https://pypi.python.org/pypi/coremltools/0.8 and then running `pip install <path to file>.whl`? It should be the manylinux1 corresponding to your Python version. Let's see if that gives us any more information.

[2018-02-08 22:25] johnlev commented on #61
I might be confused, but after upgrading to 4.1, regenerating the mlmodel, and replacing it in my project, I am still experiencing the same error:

<img width="1335" alt="screen shot 2018-02-08 at 5 24 37 pm" src="https://user-images.githubusercontent.com/2834973/36001667-14ce8880-0cf5-11e8-8004-ebc78c9339bc.png">

[2018-02-08 22:53] zellsun commented on #145
@igiloh @znation
Turi Team, please try your best to refrain from outputting the **considerate** comments to stdout, such as:

[code]

Or at least give us a switch to turn off these **thoughtful** words.

Thanks a lot.

[2018-02-08 22:59] znation commented on #61
Thanks @johnlev, looks like this did not in fact get fixed in 4.1. Sorry for the miscommunication. I'll reopen and we'll make sure the fix gets into 4.2.

[2018-02-09 07:25] Padalingam opened #259 "Got the Error in recommender system"
When i tried to run the recommended system, i got the following error

import turicreate as tc
data = tc.SFrame({'user_id': ["Ann", "Ann", "Ann", "Brian", "Brian", "Brian"],
                         'item_id': ["Item1", "Item2", "Item4", "Item2", "Item3", "Item5"],
                         'rating': [1, 3, 2, 5, 4, 2],
                 'country':["United States","United States","United States","Un

[2018-02-09 07:29] dmcgloin commented on #148
Thanks @gustavla Can I send the model and image(s) privately? My email is in my profile.

[2018-02-09 08:37] T-Cornelis commented on #22
The result I got is the following:
`(py27) C:\Users\<user name>\Downloads>pip install coremltools-0.8-py2.7-none-manylinux1_x86_64.whl
coremltools-0.8-py2.7-none-manylinux1_x86_64.whl is not a supported wheel on this platform.`
Sorry for the late reply this time.

[2018-02-09 14:44] otto-schnurr opened #260 "Document which platforms turicreate is able to support GPU acceleration."
It's helpful that `turicreate` communicates at runtime that ["Using GPUs is currently not supported on Mac"][runtime error]. However, runtime feedback can be a little late in a setup process (e.g. after working through how to install MXNet from source with CUDA support on a Mac).

Could this limitation be mentioned in the [GPU documentation]? It may help some Mac enthusiasts with NVIDIA cards find

[2018-02-09 16:02] gustavla commented on #22
@T-Cornelis I'm still learning how WSL works from online resources (I have never tried it myself), and it looks like you first enable WSL and then install a linux distribution. Have you installed Ubuntu? Your prompt looks like a Windows one, so could you run bash first and then the pip command from inside bash (to make it absolutely certain that your are executing this from the WSL).

[2018-02-09 18:24] TobyRoseman commented on #259
@Padalingam - The issue is this part of code on line 14:
`users['user_id'][users['country']==country].unique()`.
There isn't a variable called `users`.

I think what you are trying to get recommendations for all users of a country and limit those recommendations to only items rated by users of that country. If that is the case, I would recommend creating a temporary variables to make things easier

[2018-02-09 19:45] davidswaven commented on #57
I'm able to make it work from my laptop. Thanks.

Unfortunately, from an EC2 linux server that has an IAM role, I have no way to access my SFrame stored in S3 bucket.
If I don't provide any environment variable, I get the following (and expected) error:
`KeyError('No access key found. Please set the environment variable AWS_ACCESS_KEY_ID.',)`
If i provide an access & secure key that has access to

[2018-02-09 19:46] znation commented on #57
Thanks @davidswaven - sounds like there is still a (now more obscure) bug here. I'll reopen this issue to track that.

[2018-02-09 21:02] znation commented on #259
Sounds like this issue has been resolved. @Padalingam, please reopen if you continue to see an issue here after applying @TobyRoseman's suggested change. Thanks!

[2018-02-09 21:02] #259 closed

[2018-02-09 22:12] gustavla opened #263 "Make sure wheels reflect macOS versions that are supported"
Right now wheels suggest that Turi Create supports macOS 10.5+, which will cause pip to try to install Turi Create on those versions. However, it only support 10.12+ and that should ideally be reflected in the wheels.

[2018-02-10 03:39] Padalingam commented on #259
Its working fine. Now, my question is after i got the recommended model. how can i store it as a .mlmodel file and to use that recommended model into my iOS project

[2018-02-10 04:00] TobyRoseman commented on #259
@Padalingam - That is an open issue, which we are tracking in #34.

[2018-02-10 05:16] Padalingam commented on #34
i am also looking forward...

[2018-02-10 08:43] helloniklas commented on #260
@otto-schnurr since MXNet 1.0 works fine with NVIDIA eGPU on Mac if you build from source... won't Turi Create 4.1 work with this?

[2018-02-10 14:52] otto-schnurr commented on #260
@helloniklas Yeah, I don't know the backstory behind the toolkit error. In case it involves something more than just MXNet capability, I haven't tried to venture past it.

But yes, even with a CUDA-enabled MXNet, I seem to eventually run into this toolkit error when I try to [`set_num_gpus()`] to 1 on my Mac.

[`set_num_gpus()`]: https://apple.github.io/turicreate/docs/api/generated/turicreate.con

[2018-02-11 05:45] JamesDale commented on #34
@srikris @znation Hey guys, I'm using the item_similarity recommender. Would there be a CoreML workaround for this?

Cheers.

[2018-02-12 19:17] znation opened #266 "Plot API for inline display in Jupyter Notebook"
Currently, the `show` method is the only way to get a plot from SFrame/SArray, and the plot immediately opens in a native GUI app.

Ideally, we should provide a way to create and manipulate plot objects in the API, which can then be rendered to Jupyter Notebook (see http://ipython.readthedocs.io/en/stable/config/integrating.html#rich-display )

The resulting plot object could also be:
* shown in n

[2018-02-12 19:23] znation commented on #266
I'm rethinking overloading `tc.show` - it is a bit too overloaded already. Perhaps something like `tc.visualization.tile(a,b,c,d)` to explicitly tile multiple plots. We could add other things under the `tc.visualization` namespace, like explicit plot types (where we currently auto-select among plot types under the hood; users may sometimes want to choose).

[2018-02-12 21:05] johnlev commented on #61
Thanks @znation. Looking forward to using Turicreate in my project once this is done

[2018-02-13 11:20] tarakinsuide opened #267 "Add batch_size as an option to image_classifier and reduce the default from 512 for memory reasons."
Why is my training file throwing this error?

My code is below:
[code]

[2018-02-13 11:21] tarakinsuide commented on #267
[15:58:47] src/nnvm/legacy_json_util.cc:190: Loading symbol saved by previous version v0.8.0. Attempting to upgrade...
[15:58:47] src/nnvm/legacy_json_util.cc:198: Symbol successfully upgraded!
Resizing images...
Performing feature extraction on resized images...
terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc

Process finished with exit code 134 (interrup

[2018-02-13 13:51] polymorphia commented on #256
I have the same problem, trying to execute my .py files on a MacOS Sierra 10.12.6 with Python 2.7.10. Is there a workaround for this? Thanks!

[2018-02-13 14:16] frogg opened #268 "ERROR: Incomplete installation for leveraging GPUs for computations."
When I run the script to train my MLModel using the SFrame, I always get the following error when using a GPU. Do you have any idea what I'm doing wrong?

[code]

[2018-02-13 16:11] srikris commented on #256
@polymorphia We are fixing this right away. Your current workaround is to revert to turicreate 4.0.

[code]

[2018-02-13 19:49] znation commented on #268
@frogg What CUDA version do you have installed? Does your `mxnet` installation match that version of CUDA? Please try following the instructions in the error message:

your terminal and try again:

You can also disable GPU usage altogether by invoking turicreate.config.set_num_gpus(0)

[2018-02-13 19:58] nickjong commented on #89
The documentation for read_json states:
        Construct an SArray from a json file or glob of json files.
        The json file must contain a list of dictionaries. The returned
        SArray type will be of dict type
In this case, the json file is a list of integers.

Should we change the documented behavior of the function?

[2018-02-13 20:10] #61 closed

[2018-02-13 23:58] frogg commented on #268
Hey, I've tried the suggested command several times. I think something is wrong with the overall CUDA installation. Our GPU computer is used by many different people and my guess is that this causes some problems now with different configurations/installations.

[2018-02-14 00:06] znation commented on #268
@frogg I agree, it sounds like the CUDA installation may be non-functional. There are more installation and troubleshooting steps documented [here](https://mxnet.incubator.apache.org/how_to/multi_devices.html#how-to-use). If you can get an mxnet installation working with GPU support, then turicreate should work with it. If turicreate still doesn't take advantage of the GPU after that, please reope

[2018-02-14 00:06] #268 closed

[2018-02-14 00:34] #114 closed

[2018-02-14 05:07] gustavla commented on #267
Hi @tarakinsuide! Sorry you are having issues like this. Let's see if you can figure out what's going on.

Can you try firing up python and doing:
[code]
Does that produce the same error? I suspect your MXNet installation is broken somehow. Which version do you have (`pip freeze | grep -i mxnet`)?

[2018-02-14 08:23] igiloh commented on #223
@znation Wouldn't changing `set_runtime_config('TURI_DEFAULT_NUM_GRAPH_LAMBDA_WORKERS')` be a good workaround to limit the CPUs actually used by TC?

[2018-02-14 10:03] Padalingam opened #283 "Why csv files always takes user_id and item_id"
i wanna use two different csv file for users and movies. i have two columns called user_id and movie_id. when i run movies.csv file i got the following error.
**Error**
Finished parsing file /Users/padalingam/Documents/Xcode 9 Projects/Movie-Rating/MovieRecommendation.csv
Parsing completed. Parsed 6233 lines in 0.023191 secs.
Recsys training: model = item_similarity
[ERROR] turicreate.toolkits._ma

[2018-02-14 17:10] #138 closed

[2018-02-14 18:54] TobyRoseman commented on #283
@Padalingam - I do not have enough information to debug the issue.

From the stack trace it sounds likes the item similarity recommender can't find the user id column. This could be because that information is not present in your SFrame. Or maybe that column is called something other than `user_id`. Using the `user_id` parameter you can specify a different column name value. Here is the `item_simi

[2018-02-14 18:54] #283 closed

[2018-02-14 19:10] znation commented on #223
Good question @igiloh. I'm not sure this works everywhere, but it might. @patrickwang96, can you try that and let us know if it reduces the number of CPUs used in your scenario?

[code]

[2018-02-14 19:34] znation commented on #256
Fixed in release 4.1.1.

[2018-02-14 19:34] #256 closed

[2018-02-14 19:38] znation opened #284 "Build Python User Guide and C++ API docs from make_wheel.sh"
Currently, [make_wheel.sh](https://github.com/apple/turicreate/blob/master/scripts/make_wheel.sh) only builds Python API docs and not the Python User Guide or C++ API docs. (The User Guide and C++ API docs are built manually by running `npm run build` and `doxygen` respectively). We should add both to this script so we can collect them as build artifacts at the same time as the Python API docs.

[2018-02-15 00:47] pbojinov opened #285 "Image similarity for image outside of reference dataset"
From what I understand after reading the docs on [similar images](https://github.com/apple/turicreate/blob/master/userguide/image_similarity/README.md), the examples provide a way to find the most similar images in the reference dataset for all images in the reference dataset.

How would one find similar images in the dataset to an image outside of the dataset? Is this currently possible with the

[2018-02-15 05:53] srikris commented on #285
The `query` method lets you query for new images. For example, the following code will give you the 10 closest images in your dataset given 10 new images

[code]

[2018-02-15 05:53] #285 closed

[2018-02-15 05:59] #260 closed

[2018-02-15 07:06] Padalingam opened #286 "IOError: [Errno 13] Permission denied: '/var/tmp/model_cache/resnet-50-symbol.json'"
**Error**
Done.
Downloading https://docs-assets.developer.apple.com/turicreate/models/resnet-50-symbol.json
Traceback (most recent call last):
  File "classifier.py", line 9, in <module>
    model = turi.image_classifier.create(trainingBuffers, target="chairType", model="resnet-50")
  File "/Library/Python/2.7/site-packages/turicreate/toolkits/image_classifier/image_classifier.py", line 116, in cr

[2018-02-15 12:22] Padalingam commented on #147
Even, i need to classify multiple images. i implemented this by using following code

data["chairType"] = data["path"].apply(lambda path: "Base" if "base" in path else ("Chair" if "chair" in path else "Roller"))

Its not classified property and i tired with four/five classification of the images but i didn't workout. i have all the image set on the respective folder

[2018-02-15 17:02] gustavla commented on #286
Hi @Padalingam, thanks for trying out the image classifier! Before the classifier is used, it downloads a model file from the internet and it looks like Turi Create wanted to put the model in a location that you don't have access to. This should not happen and is a bug that we need to address. Thanks for bringing it to our attention!

In the meantime, I think I have a work-around for you. The dire

[2018-02-15 18:02] #211 closed

[2018-02-16 05:00] Padalingam commented on #286
This is working fine, when i tried to run as a root user.

[2018-02-16 05:07] Padalingam opened #287 "Multi labeled Image classification - Help Needed"
Hi All,
when i tried to predict two labeled image classification, its working fine. when i tried more than two image classification its not predicting correct value

Correct Prediction is
data["animalType"] = data["path"].apply(lambda path: "Cat" if "cat" in path else "Dog")
Wrong Prediction is
data["animalType"] = data["path"].apply(lambda path: "Cat" if "cat" in path else ("Dog" if "dog" in path

[2018-02-16 06:57] Padalingam opened #288 "Help Needed on image classification"
Hi All,
Can any one help me on this below questions
1) what will be the input image size and its height/width?
2) How many images, do i need to put on my dataset to get good prediction result?

Explanation Needed:
I got this warning lot of times when i run two label image classification
WARNING: The number of feature dimensions in this problem is very large in comparison with the number of example

[2018-02-17 05:49] TobyRoseman commented on #288
@Padalingam -

1 - The Image Classifier automatically resizes images for you. So you don't need to worry about that.

2 - There's no hard and fast rules here, but only 50 examples is certainly on the low end. It could work, but more data would be better.

3 & 4 - It's just a warning. I would not worry too much about this warning. It's probably fine. Try out the model on a test set.

[2018-02-17 05:49] #288 closed

[2018-02-17 05:53] TobyRoseman commented on #287
@Padalingam - We are going to need a lot more information to in order to help you. For starters, what accuracy are you getting with three classes vs with two classes? How many examples do you have in each category?

[2018-02-17 22:06] MatthewWaller commented on #101
Would love to know about this as well, especially as it relates to speech recognition.

[2018-02-18 02:57] atthaje opened #289 "MXNet error when using a bigger data set"
Hi,

I have previously run objection detection successfully using turiCreate that included 120 training images with annotations as input.

When I try to run the same with 3000+ images, I encounter an error, seemingly from MXNet library. The SFrame gets loaded without any error([3686 rows x 3 columns]) which makes me believe that the data(images and annotations) isn't the cause for this error. Afte

[2018-02-18 03:58] gustavla commented on #289
Thanks for reporting this and sorry that you are having issues! You are right, it does look like it's coming from MXNet and more specifically from the data augmentation. This makes me think that perhaps a certain image or bounding box annotation in your input is triggering a rare bug in MXNet.

Let's try to figure out what's going on. First of all, what version of MXNet are you running? You can ch

[2018-02-18 06:07] Padalingam commented on #287
@TobyRoseman I have 30 images in each category. After converting the core ml model, if i feed any one of three images as a input, i am getting a single category in three classes as a output and its accuracy is vary between 0.5 to 1.0

Example 1: if i feed cat image, i am getting dog
Example2: If i feed dog image, i am getting dog
Example3: If i feed lion image, i am getting dog

But, if i have two

[2018-02-19 06:05] atthaje commented on #289
First of all, thank you very much for such a prompt response. Your suggestion worked! I was using mxnet version 0.11.0 and upon installing the version you suggested, training went smooth despite few compatibility warnings. Only, the last line of my code that converts the model into a coreml model threw an error at me.

Traceback (most recent call last):
  File "/Users/shiva.pa/Desktop/Work/Python/

[2018-02-19 06:06] srikris commented on #289
We have tested Turi Create with MXNet 1.0 so you can try the following

[code]

and it should export smoothly.

[2018-02-19 06:35] atthaje commented on #289
In fact, even with MXNet 1.1.x, I run into the same previous error "Check failed: infershape[op](attrs, &in_shapes, &out_shapes)" when I set max_iterations > 15.

As was suggested, I'll try to narrow down to the data that is causing this.

Thanks & Regards
Shivaprasad

[2018-02-19 15:37] gustavla commented on #289
@atthaje Sorry for not being able to save the model after all the training! I think you are using Turi Create 4.0, since the issues with MXNet that you are mentioning have been fixed. Run:

[code]

This may downgrade MXNet to 0.12.1, so in a subsequent call get that back up to the latest and everything should work. Please try with `tc.object_detector.create(..., max_iterations=1)` first to make su

[2018-02-19 20:43] TobyRoseman opened #291 "make_wheel.sh does not run cpp unit tests and error out on python unit tests"
This is with Python 2.7 on Linux.

Here is the relevant output:
[code]

[2018-02-19 22:14] TobyRoseman commented on #287
@Padalingam -

1 - ResNet is used to get what are called deep features. You can think of it as basically a dimensionality reduction from the input, where the input is the RGB values for each pixel. A logistic regression is then trained on these deep features.
For details, see: https://github.com/apple/turicreate/blob/master/userguide/image_classifier/how-it-works.md
The actual code is [here](https

[2018-02-19 22:14] #287 closed

[2018-02-20 00:53] znation commented on #83
Reopening to track a product change to eliminate this pain point: let's allow for the annotations being either a single dictionary or a list of dictionaries.

[2018-02-20 00:54] znation commented on #125
Reopening to track a product change to reduce confusion here: let's make `random_order=False` the default for `load_images`.

[2018-02-20 04:46] atthaje commented on #289
Thanks a lot for guiding me here. With TuriCreate v4.1.1 and MXNet v1.1.0b20180217, I was able to generate CoreML model when max_iterations was set to 1. However with max_iterations > 15, or more specifically, when I hit the 14th iteration, I get the error that I posted originally - Check failed: infershape[op](attrs, &in_shapes, &out_shapes). Could this be due to a rogue annotation file? If that

[2018-02-20 04:48] Padalingam commented on #287
Thanks so much and sounds good. One more question, do i need to maintain equal number images in each category?

What happen, if i have 25,20, and 30 images in three labeled image classification? Will it predict correctly?

[2018-02-20 18:37] TobyRoseman commented on #287
@Padalingam - good question. As long as your class sizes are roughly equal you should be fine. You do not need to have exactly the same number of each category in your training data.

[2018-02-20 20:29] Varun51194 opened #295 "Follow up with SFrame.show() and Turi Create Canvas"
We are trying to use Turi Create for STAT/CSE 416.  We're having problems with the following:

**************
- turicreate.SFrame.show()
- turicreate.canvas.set_target('ipynb')

Currently, SFrame.show() is not implemented for linux systems.
https://apple.github.io/turicreate/docs/api/generated/turicreate.SFrame.show.html#turicreate.SFrame.show

We also need to be able to change the canvas target t

[2018-02-20 20:31] #295 closed

[2018-02-21 01:01] afranklin commented on #34
We're continuing to investigate a solution with a high priority. Thanks for your patience - stay tuned.

[2018-02-21 08:01] atthaje commented on #289
OK, the culprit was an "Egyptian Mau" cat image in my image set! Of the 3686 images, just this one turned out to have 1 channel instead of 3. I took out the image and its corresponding annotation file from the input and I'm done training with 100 iterations successfully. My apologies for having your time spent on what turned out to be a data issue!
Having said that, I would still prefer the implem

[2018-02-21 08:06] srikris commented on #289
Re-opening this issue to fix the underlying behavior

[2018-02-21 08:09] srikris commented on #289
@atthaje Out of curiosity, what application are you using the object detection for?

[2018-02-21 09:07] Padalingam commented on #287
Thanks. Whether deep learning supports in turicreate? If so, how can i implement it?
or If i specify my model as resnet-50 then, the classifier will belongs to deep learning?

[2018-02-21 09:44] atthaje commented on #289
Internal project. Wanted to be able to count the objects of interest in an image.

[2018-02-21 19:15] TobyRoseman commented on #287
@Padalingam - Sorry, I do not understand your questions. Image classification uses deep learning (either a trained resnet-50 neural network or a trained squeezenet neural network) to generate the deep features. If that doesn't answer your questions, please clarify your questions.

[2018-02-21 23:09] #125 closed

[2018-02-22 04:45] SoCohesive opened #299 "Cannot infer 'feature' column for Object Detection classifier"
Hello!

I am having difficulty setting up the data for an Object Detection classifier.

For now I am keeping data very simple:
 - 5 images with annotation data

The SFrame is as follows:

+-------------------------------+------------------------+
|          annotations          |         image          |
+-------------------------------+------------------------+
| [{'label': 'image_1', 'ty... | He

[2018-02-22 05:04] patrickwang96 commented on #223
This doesn't work in my case. I'm building recommender system and it still eats all CPUs after adding `turicreate.config.set_runtime_config('TURI_DEFAULT_NUM_GRAPH_LAMBDA_WORKERS', 2)`.

[2018-02-22 05:07] Padalingam commented on #287
Yes, my question is how can i achieve deep learning in turicreate(Image classification)

[2018-02-22 06:40] srikris commented on #299
Can you share the exact code you have written?

[2018-02-22 07:09] srikris commented on #146
@smahurkar Can you run `sw_vers` on your Mac and let us know what version of MacOS you are running?

We want to confirm that we can reproduce the same on your exact same machine and version that our fix fixes it on a newer version of Mac.

[2018-02-22 07:39] srikris commented on #146
@smahurkar CoreML doesn't exist on that version so I'm not sure that your issue is the same as the one in this thread.

[2018-02-22 07:46] smahurkar commented on #146
@srikris my issue, in particular, was with using ARKit Sceneview with the object detection model. The object detection model trained from Turi worked with AVFoundation. I have another mac:

ProductName:	Mac OS X
ProductVersion:	10.13.2
BuildVersion:	17C205

If you like, I can try training the model on the other mac and get back to you with results.

[2018-02-22 07:47] srikris commented on #146
@smahurkar Great. This second Mac seems to be consistent with the bug. We'll get back to you soon with an update.

BTW, were you able to get your deployed model in the App Store?

[2018-02-22 07:50] smahurkar commented on #146
@srikris No, I have not attempted deploying the model.

[2018-02-22 13:58] SoCohesive commented on #299
Yup! I kept it very simple for now...

[code]

[2018-02-22 16:33] srikris commented on #299
From the error message `No "feature" column specified and more than one image column in "dataset". Can not infer correct feature column.`, I can see that we were trying to infer which column in the dataset we should use as the image column. Because you have 2, one was your ground truth while the other you had drawn bounding boxes on it to annotate.

use the following to make it clear:

[code]
Deta

[2018-02-22 16:33] #299 closed

[2018-02-22 19:22] gustavla commented on #289
@atthaje Since Turi Create 4.1 (and PR #275), the object detector should handle images with a single channel. If this is not the case, then this is definitely a bug that we want to fix.

Would it be at all possible for you to share that one image that caused the crash? We can connect over email so that you can share it privately. If you do not want to do this (which I completely understand), maybe

[2018-02-23 05:59] atthaje commented on #289
I'd be happy to help. This image is from Oxford IIIT pet data set. The name of the image is "Egyptian_Mau_129.jpg". I can email you the image if needed.

[2018-02-24 00:38] znation opened #301 "Double scrollbars on Linux visualization"
Repro steps:
[code]

Expected:

One scrollbar on the right.

Actual:

Two scrollbars on the right. The inner one seems disabled. See screenshot.
![screen shot 2018-02-23 at 4 37 28 pm](https://user-images.githubusercontent.com/5673251/36623271-f9a7dc90-18b7-11e8-9d6e-9a286044223d.png)

[2018-02-24 00:39] znation opened #302 "Font used in Linux visualization looks very different than on macOS"
See screenshot:
![screen shot 2018-02-23 at 4 37 28 pm](https://user-images.githubusercontent.com/5673251/36623276-117def4e-18b8-11e8-899d-7cb95d7e80fa.png)

We should probably pick a font that looks as close as possible.

[2018-02-24 17:54] Ayiruss opened #305 "Image similarity export to coreml on a model > 2GB fails"

[2018-02-24 17:54] Ayiruss commented on #305
Starting brute force nearest neighbors model training.
[libprotobuf FATAL google/protobuf/wire_format.cc:830] CHECK failed: (output->ByteCount()) == (expected_endpoint): : Protocol message serialized to a size different from what was originally expected.  Perhaps it was modified by another thread during serialization?
terminate called after throwing an instance of 'google::protobuf::FatalException

[2018-02-24 17:56] srikris commented on #305
Thanks for reporting this. Can you share the code snippet that caused this error.

[2018-02-24 17:59] Ayiruss commented on #305
Thanks for the quick reply.

It's the same snippet which is given in the documentation.

reference_data = tc.image_analysis.load_images('LIM')
reference_data = reference_data.add_row_number()

reference_data.materialize()

model = tc.image_similarity.create(reference_data)
model.export_coreml('sim_model_large.mlmodel')

It fails in **tc.image_similarity.create(reference_data)**

[2018-02-24 18:00] maherkarim commented on #295
Hi,
I have the same in mac

[2018-02-24 18:01] srikris commented on #295
Could you clarify more on what your issue us? The following function does not exist in the surface area.
[code]

.show should work flawlessly on the Mac

[2018-02-24 18:02] srikris commented on #305
Your error message smells like an issue with the export_coreml. Can you try it without the export_coreML but on a smaller set of data? I suspect you are hitting the 2G limit on protobuf.

[2018-02-24 18:04] Ayiruss commented on #305
I tried with 1.6GB mlmodel which worked fine. I am just having issue with larger dataset. can't we use the similarity for larger dataset?

[2018-02-24 18:11] srikris commented on #305
Are you trying to deploy this on your phone? or using it locally? If its the latter, you can do the '.save' instead of '.export_coreml'.

I think we are hitting the 2GB (see https://chromium.googlesource.com/external/github.com/google/protobuf/+/HEAD/src/google/protobuf/message_lite.cc#289)  limit of a protocol message when exporting to coreml.

This should work fine if you do .save. I'll make a c

[2018-02-24 19:22] Ayiruss commented on #305
I can able to save the model now.
Thanks a lot!

[2018-02-25 01:46] srikris commented on #305
I've changed the title to reflect the bug.

[2018-02-26 07:59] suyashgupta25 commented on #146
I am facing the same issue. Is there any update regarding it?

[2018-02-26 14:49] LennartOlsen commented on #146
I am using the example supplied from https://github.com/apple/turicreate/blob/master/userguide/activity_classifier/export_coreml.md my only difference is that i supply the data from an external sensor not from the internal `CMAccelerometerData`

Running the application on my MacBook pro 14,1 running macOS 10.13.3 it works fine (as a native app), though running the exact same framework on my iPhone

[2018-02-26 16:06] ubuntudroid commented on #250
Anyone who can answer that question? Really curious!

[2018-02-26 16:20] srikris opened #307 "Activity classifier deployment error on iPhone SE, iOS 11.2.5"
Following a conversation from https://github.com/apple/turicreate/issues/146#issuecomment-368526896 with @LennartOlsen

I am using the example supplied from https://github.com/apple/turicreate/blob/master/userguide/activity_classifier/export_coreml.md my only difference is that i supply the data from an external sensor not from the internal CMAccelerometerData

Running the application on my MacBoo

[2018-02-26 16:21] srikris commented on #146
@LennartOlsen Your issue is not the same as the others. I've filed a new issue #307 to track that.

[2018-02-26 16:33] srikris commented on #146
@suyashgupta25 @smahurkar @borderlineinteractive Can try upgrading to the latest 10.13.3 beta https://beta.apple.com/sp/betaprogram/ That should fix your issue.

[2018-02-26 16:34] srikris commented on #146
@zacharyblank @dmcgloin It looks like your issue is not the same as the one tracked in this issue. Can you share a sample project. I can make another issue.

[2018-02-26 16:36] gustavla commented on #289
@atthaje Thanks! I have that file and now I understand what's going on. This issue is fixed, but unlike what I thought it did not make it into the 4.1.1 release. So, the fix is sitting in this repository waiting to go out in the next release (look out for 4.2).

Until then, I suggest you take that image out or re-save it in another program. Sorry again about this issue!

[2018-02-26 16:36] #289 closed

[2018-02-26 16:42] LennartOlsen commented on #307
@srikris it could look like a GPU error with Core ML on iOS devices, the problem persists across the following devices :
[code]
Unfortunately i am not able to replicate it on the MacOS emulator as it does not support the Bluetooth Device i am using to collect the data.

Let me know if you need anything

[2018-02-26 17:36] ubuntudroid opened #308 "Definition of cutoff"
Another beginner question. Regarding the `cutoff` as displayed in the model evaluations: how exactly is it defined. I searched the documentation, but couldn't find a clear definition - I guess it's a term data scientists know by heart and I'm just too newbie to know it. ;)

Could anyone help out a with a definition (which we could maybe also include in the documentation)?

[2018-02-26 17:37] ubuntudroid commented on #250
Awesome, thanks, that helped a lot!

[2018-02-26 18:08] ubuntudroid commented on #308
I just stumbled on a definition of cutoff in the [documentation](https://apple.github.io/turicreate/docs/api/generated/turicreate.recommender.util.precision_recall_by_user.html#turicreate.recommender.util.precision_recall_by_user) of the util function `precision_recall_by_user` (btw, the definitions of precision and recall in the documentation of this function are just duplicates):

If I get this

[2018-02-26 21:43] znation commented on #308
Thanks @ubuntudroid, that's good feedback. @hoytak, does the definition given by @ubuntudroid above sound correct for cutoff?

We should use this issue to track updating the API docs and user guide to provide a clear definition of cutoff.

[2018-02-26 22:34] #302 closed

[2018-02-26 22:34] #301 closed

[2018-02-26 22:58] znation commented on #1
Fixed in master with #264

[2018-02-26 22:58] #1 closed

[2018-02-26 23:47] afranklin commented on #115
Thanks for the feedback, we’ll keep you posted on exciting updates to Turi Create.

[2018-02-27 00:07] johnyquest7 opened #310 "Draw ROC curve"
How can I draw an ROC curve based on the output from results = model.evaluate(test_data)
It would be nice to have a function to draw ROC curves.

[2018-02-27 04:20] johnyquest7 opened #311 "ImportError: cannot import name libinfo - How can I fix this"
ImportErrorTraceback (most recent call last)
<ipython-input-23-5c80cf7862a7> in <module>()
      1 model = tc.image_classifier.create(
----> 2                train_data, target='label')

/usr/local/lib/python2.7/dist-packages/turicreate/toolkits/image_classifier/image_classifier.pyc in create(dataset, target, feature, model, max_iterations, verbose, seed)
    114
    115     # Load pre-trained mod

[2018-02-27 05:40] gustavla commented on #311
Hi @johnyquest7, sorry you are having problems creating a classifier! Let's first see if this is an issue with one of our dependencies (MXNet). Could you try running this:
[code]
Do you get the same error? In that case, we can try to re-install MXNet:
[code]
Did it help? Let's start with that and take it from there.

[2018-02-27 06:00] johnyquest7 commented on #311
Thanks @gustavla
Following worked
pip uninstall -y mxnet && pip install mxnet-cu80==0.12.1

[2018-02-27 08:23] HelloWorldYyx opened #312 "model = tc.object_detector.create(data, feature='image', annotations='annotations'); Failed to create object detection model"
---------------------------------------------------------------------------
MXNetError                                Traceback (most recent call last)
<ipython-input-12-92f2d0f3e8cf> in <module>()
----> 1 model = tc.object_detector.create(data, feature='image', annotations='annotations')

/Users/admin/anaconda2/envs/turi/lib/python2.7/site-packages/turicreate/toolkits/object_detector/object_detec

[2018-02-27 09:56] igiloh commented on #310
Hi @johnyquest7 , thanks for your question

Theoretically, TC's visualization tool should allow you to plot the ROC by using the `tc.show()` function:
[code]
However, as mentioned in https://github.com/apple/turicreate/issues/142, it's not yet possible to request a specific plot type (a scatter plot in this case) - so sadly the plot won't show correctly for the moment.

The quickest workaround is

[2018-02-27 10:51] igiloh commented on #307
Hi @LennartOlsen,

A few things that come to mind:
1. Are you initializing your `dataArray` at some point? It should be initialized (probably to zeros) before the first calls to `predict()` - so if any of the sensors' readings are missing, you would still have some numerical value in the array.
2. It seems that you're only casting Accelerometer data to `Float`. Are the other sensors guaranteed to

[2018-02-27 17:30] gustavla commented on #312
Hi @HelloWorldYyx! This is a duplicate of #114 and a fix went in with PR #275. Unfortunately this has not made it into a release yet, but it will be fixed when Turi Create 4.2 is released.

The issue #114 discusses some work-arounds that you can use until then. The simplest is to find the images that do not have 3 channels (either 1 or 4) and remove them or convert them. Sorry about the inconvenie

[2018-02-27 17:30] #312 closed

[2018-02-27 17:38] gustavla commented on #312
Actually, a better work-around is this. If you have your SFrame `sf` with a column `image`, you can convert all images to make sure they have 3 channels before you call `create`:

[code]
I hope that works for you!

[2018-02-27 20:33] LennartOlsen commented on #307
Ive tried to simply add dummy data to every element of the data prediction array as shown here :

https://gist.github.com/LennartOlsen/bb1d8462fc6473602caa6c4616f4d381

Still gives the same error :
[code]

My model looks like
<img width="950" alt="skaermbillede 2018-02-27 kl 21 32 14" src="https://user-images.githubusercontent.com/3594549/36753175-b5acc89c-1c05-11e8-8df3-607e3bfca423.png">

To my

[2018-02-27 21:17] igiloh commented on #307
Hi @LennartOlsen

You're probably right - I'm simply trying to rule out some obvious caveats in the way the model is called before diving deep down into Core ML's metal implementation.
Core ML export of `activity_classification` models was tested on a range of iOS devices -  so I'm trying to figure out if it's some specific to your code or a more general error.

Thanks for the input! Will keep inv

[2018-02-27 23:05] znation commented on #310
Tagging as an enhancement. We should consider adding out-of-the-box capability to plot ROC curves.

[2018-02-27 23:12] johnyquest7 commented on #311
When i tried to run the code again, same error popped up. Previous fix did not work.

ImportErrorTraceback (most recent call last)
<ipython-input-49-265f02e9c062> in <module>()
----> 1 import mxnet as mx

/usr/local/lib/python2.7/dist-packages/mxnet/__init__.py in <module>()
     23
     24 from .context import Context, current_context, cpu, gpu
---> 25 from . import engine
     26 from .base impo

[2018-02-27 23:15] johnyquest7 commented on #311
When I tried import mxnet following error appeared

[2018-02-28 00:28] abhishekpratapa commented on #266
Fixed with #294

[2018-02-28 00:29] #266 closed

[2018-02-28 01:32] gustavla commented on #311
Any luck trying newer mxnet versions? For instance `pip install mxnet==1.1.0`?

[2018-02-28 02:34] johnyquest7 commented on #311
I was pulling my hair out.
You are a life saver. That solved the issue!

[2018-02-28 04:39] gustavla commented on #311
Great to hear, @johnyquest7! On that note we plan to extend official support in 4.2 to MXNet 1.1.0. Right now in 4.1.1 you get a warning about it, but so far we have not seen any issues.

[2018-02-28 04:39] #311 closed

[2018-02-28 06:15] HelloWorldYyx opened #313 "How can I do to model success?"
NetError                                Traceback (most recent call last)
<ipython-input-17-7760a7b4eb81> in <module>()
----> 1 model = tc.object_detector.create(data, annotations='annotations', feature='image', model='darknet-yolo', classes=None, max_iterations=0, verbose=True)

/Users/admin/anaconda2/envs/turi/lib/python2.7/site-packages/turicreate/toolkits/object_detector/object_detector.pyc in

[2018-02-28 15:22] gustavla commented on #313
This is the same issue as you raised in #312. I gave you a work-around to try there. Did you try it? We'll need a little bit more feedback from you to address this. Thanks!

[2018-02-28 18:32] #313 closed

[2018-02-28 20:21] smahurkar commented on #146
@srikris I am unable to find a macOS public beta on the app store.

[2018-02-28 23:06] donnydongchen commented on #308
If I am understanding this correctly, the precision and recall in the table are the same as precision@k and recall@k. @ubuntudroid, so I think you are basically on point.  [Here's a detailed explanation of calculation](https://medium.com/@m_n_malaeb/recall-and-precision-at-k-for-recommender-systems-618483226c54)

[2018-03-01 02:50] HelloWorldYyx commented on #312
thank you

[2018-03-01 03:26] HelloWorldYyx commented on #313
thankyou!My code is running again!

[2018-03-01 20:10] smahurkar commented on #146
@srikris Here are some system details:
ProductName:	Mac OS X
ProductVersion:	10.13.3
BuildVersion:	17D102

The app doesn't work with this build. Could you provide more details on how to upgrade to the version to Beta OS required?

I have followed the steps here: https://beta.apple.com/sp/betaprogram/redemption#macos and I don't see the option to download beta in App Store Updates.

[2018-03-01 23:36] srikris opened #319 "Use of NDArray in training models"
The following should work but doesn't

[code]

[2018-03-02 10:01] #227 closed

[2018-03-02 10:03] srikris opened #321 "NDArray __repr__ can be made faster"
When using in iPython, we can make the NDArray __repr__ faster.

[code]

It takes a few 100 milliseconds for the __repr__

[2018-03-02 10:25] srikris opened #322 "NDArray unsupported type gives a cryptic error"
[code]
Technically, this should fail, but I'd expect a better error message than the one below.

[code]

[2018-03-02 10:30] srikris opened #323 "Assertion error on creating a numpy array of an unsupported type"
This should fail more gracefully for some other unsupported types, the errors are also cryptic but in a different way:

[code]

[2018-03-02 19:54] srikris opened #326 "Missing value in Jupiter notebook visualization causes it to open in a new window and not inline"
[code]

[code]

[2018-03-02 20:00] srikris opened #327 "Jupiter notebook doesn't show scatter plots inline (pops open in a new window)"
[code]

[2018-03-02 20:29] srikris commented on #327
Same applies to box plots and categorical heatmaps.

[code]

[2018-03-02 20:47] srikris opened #328 "Userguide for NDArray"
- Add some info to the user guide for NDArray in SFrame

[2018-03-02 21:03] srikris opened #330 "Mention in API docs and user guide that show does it inline in iPython notebook"

[2018-03-02 21:37] #323 closed

[2018-03-03 02:04] smahurkar commented on #146
@srikris I tried the latest version of the public Beta 10.13.4 Beta (17E160g) and the issue still exists. Do you need me to try a version from the developer Beta?

[2018-03-03 06:42] suyashgupta25 commented on #146
In my case it's arising when I am running app in debug mode from xcode. The operation on which it crashes is the perform method being called using array of requests as a parameter.

[2018-03-03 06:44] srikris commented on #146
@smahurkar Let me get back to you shortly on this.

[2018-03-03 23:53] gustavla commented on #146
I was just made aware of a potential work-around:

In Xcode: Edit Scheme... -> Options -> Metal API Validation -> Set to **Disabled**

Please let me know if you have success with this. Ping @smahurkar @borderlineinteractive @LennartOlsen @zacharyblank.