[2019-07-31 18:35] #801 closed

[2019-07-31 19:01] #1228 closed

[2019-07-31 19:48] hoytak opened #2184 "Import of turicreate from python takes > 2 seconds"
Currently, importing turicreate from python takes more than 2 seconds.  This is compared with ~200ms for scipy or numpy.  This should be reduced as much as possible -- ideally, we should be in the same range.

[2019-07-31 22:23] znation opened #2186 "Test failure in vega_example_tests.cxxtest"
In current master:

[code]

[2019-07-31 22:24] znation opened #2187 "Extraneous logging in vega renderer code"
Repro steps:

* Run vega_lite_example_tests.cxxtest

Expected:

* No extraneous logging output while the test is running

Actual:

[code]

[2019-07-31 23:22] hoytak commented on #2175
To do this:

First, write a benchmark test in the C++ code that can be executed.  Use sframe testing utils.  Benchmark on one with groupby count on a binary category.  This should show a lot of slowdown and not be faster with more threads.  Follow sframe/sframe_bench.cpp example.

Add a virtual function `virtual bool lock_needed() const = 0;` to base class in https://github.com/apple/turicreate/bl

[2019-08-01 06:11] foreversunyao commented on #2177
@TobyRoseman  yeah, I was trying to use turicreate to do some anomaly detect on the monitor data(trend metrics), don't know Turi can work on this data by using EWMA ?

[2019-08-01 07:00] MaximBazarov opened #2191 "one_shot_object_detector gets killed because high memory usage"
I'm running to this issue, with a simple data set of 180 images, pretty small, on the peak before getting killed python process uses 62 GB of memory 16 is physical and the rest is a swap.

Here's the project with all the images and the script: [https://github.com/MaximBazarov/experiment_one_shot_object_detector](https://github.com/MaximBazarov/experiment_one_shot_object_detector)

**python3 model_

[2019-08-01 18:03] syoutsey commented on #2191
Hi @MaximBazarov we have an issue tracking this bug along with it's fix here: https://github.com/apple/turicreate/issues/2038

[2019-08-01 18:07] #2186 closed

[2019-08-01 22:16] abhishekpratapa commented on #929
#2178

[2019-08-01 22:17] #929 closed

[2019-08-01 23:05] hoytak opened #2194 "Temp directories for caching models should be user specific"
Currently, some of the models (e.g. for audio classifier) are downloaded to a temp file path that is common between all the users.  The problem with this is that once one user creates that temp directory, no other users on that machine have permission to write to it, resulting in errors such as the following:

E                   IOError: [Errno 13] Permission denied: '/var/tmp/model_cache/VGGishF

[2019-08-01 23:19] hoytak commented on #2181
Hello @gitturi,

You could read the file pointed to by tc.config.get_server_log_location().  However, better logging is something that we're working on.

That said, and I don't recommend, endorse, or encourage the use of this hack, but you can hack it as follows:

[code]

[2019-08-01 23:28] TobyRoseman commented on #2194
Could we just make the `/var/tmp/model_cache/` dir writable by everyone?

[2019-08-02 06:17] #1621 closed

[2019-08-02 10:27] MaximBazarov commented on #1109
Just got this error again, using Google Colab

here's the code
[code]

Stacktrace
[code]

[2019-08-02 11:27] dhgokul commented on #2093
@nickjong  Thanks for your response !

Predict same image using .model and .mlmodel file
model -> confidence: 0.58
.mlmodel ->confidence 0.84

COnfidence level are different ? Please explain why confidence score is different for both models

[2019-08-02 12:40] MaximBazarov commented on #1109
Reinstalled CUDA 8.0

[code]
and seems like other minor issue:
[code]

[2019-08-02 13:29] MaximBazarov opened #2197 "AttributeError: module 'mxnet' has no attribute '__version__'"
Facing this issue using Google Colab
[code]

**Error:**
[code]

**pip freeze:**
[code]

[2019-08-02 16:56] shayneobrien commented on #1200
+1 for wanting Naive Bayes

[2019-08-02 18:54] TobyRoseman commented on #2197
TuriCreate does not support CUDA 10. TuriCreate currently uses MXNet for its deep learning. The latest version of MXNet which works with TuriCreate is 1.1.0. The first version of MXNet to support CUDA 10 is 1.3.1.

Do you need CUDA 10? Or would CUDA 9 work? We support CUDA 9.

It looks like you have several different CUDA version of MXNet installed:
[code]
You should only have one of these package

[2019-08-02 20:33] MaximBazarov commented on #2197
@TobyRoseman thanks for the hints!

I basically want to make it work on GPU,  doesn't really matter what  CUDA would be used along the way.

https://colab.research.google.com/drive/1GaJLOhdrN-OG8zsL4vgo-wBcqJh6CPYv
heres. it the whole notebook

[2019-08-02 21:56] TobyRoseman commented on #2197
@MaximBazarov - you may only be able to use a specific version of CUDA with Google Colab. Did you try what I suggested (uninstalling `mxnet-cu100` and `mxnet-cu90`)? Did it work?

[2019-08-02 22:19] MaximBazarov commented on #2197
@TobyRoseman yes it worked till some point, there's a workaround to install CUDA 8 into the Google Colab:
[code]
but at some point it crashes with out of memory
[code]

[2019-08-02 22:50] TobyRoseman commented on #2197
We're tracking the out of memory error here: #2038.

Since the original issues is resolved, I'm going to close this issue.

[2019-08-02 22:50] #2197 closed

[2019-08-03 13:22] astrokin commented on #1109
I had the same issue with GPU, on CPU I was able to train a model successfully.

[2019-08-04 01:52] MaximBazarov opened #2198 "load_model can't find a model"
Trying to load a previously saved by `model.export_coreml('grn.mlmodel')` model:
[code]
heres the files tree
[code]

Getting  an error:
[code]

[2019-08-04 02:25] MaximBazarov commented on #2198
same goes for ```model = tc.load_model('grn.mlmodel/')``` in case it makes diference

[2019-08-04 03:46] MaximBazarov commented on #670
Gives me this on turicreate 5.6
[code]

[2019-08-04 06:39] gitturi commented on #2181
Hi Hoyt,
Thanks for the detailed answer. I was checking the server log, but it is too detailed for our use. The logging messages that your hack logs are exactly what I was looking for. What are the downsides to the hack? You don’t recommend to; are there any hidden costs associated with it that I should be aware of?
(Besides the lack of forward compatibility with Turi, which is admittedly a big is

[2019-08-05 13:59] nerdinand commented on #1495
Very much looking forward to this! In the meantime, for everyone like me, who needs a solution now, here's a gist: https://gist.github.com/nerdinand/748192be1bc69d7e39e043ace5451527

[2019-08-05 18:53] abhishekpratapa commented on #2198
@MaximBazarov unfortunately CoreML models aren't loadable in TuriCreate. The `load_model` function only works for models saved in TuriCreate. This means using the `save` method present on a trained TuriCreate model.

The `export_to_coreml` method creates a CoreML file that can be consumed by Xcode, for example maybe an iOS app. I'm not certain what your code is in the file `model_create.py` but I

[2019-08-05 18:53] #2198 closed

[2019-08-05 20:16] #2158 closed

[2019-08-05 20:23] TobyRoseman commented on #670
@MaximBazarov - That issue is already fixed in master by #2067. The fix will be included in our next release. Until then you could work around this issue by editing that locally installed file, changing `_mx.` to `mxnet.` Making sure you have the right version of MXNet installed would also solve this problem (`pip install "mxnet==1.1.0"`).

[2019-08-05 23:20] #2013 closed

[2019-08-06 00:27] nickjong opened #2201 "Test failures in vega_example_tests.cxx and vega_lite_example_tests.cxx"
While running the C++ unit tests on a 10.13 machine from https://github.com/apple/turicreate/commit/2e40f1207662ca0847752c18c1ab03d6f84eaacc
The following tests FAILED:
	160 - vega_example_tests.cxx (Failed)
	161 - vega_lite_example_tests.cxx (Failed)

[code]
and
[code]

[2019-08-06 00:31] nickjong opened #2202 "Test failures in test_mps_image_augmentation.cxx"
While running the C++ unit tests on a 10.14 macOS machine from https://github.com/apple/turicreate/commit/2e40f1207662ca0847752c18c1ab03d6f84eaacc, the test run hung in test_mps_image_augmentation.cxxtest. Attempt to reproduce locally yielded a memory error.

[2019-08-06 01:12] shayneobrien opened #2203 "Unable to export random_forest_classifier to CoreML"
I am attempting to train and export a tc.random_forest_classifier using the following code:

[code]

The model fully trains and evaluates successfully but I am unable to export it to CoreML. I receive the following error when trying to do so:

[code]

The input data consists of a binary target (0, 1) and has features consisting of strings tokenized into dicts using tc.text_analytics.count_words. I

[2019-08-06 01:57] syoutsey commented on #2203
Hi @shayneobrien are you able to share the dataset that reproduces this error? We'd like to repro it in house. Thanks!

[2019-08-06 01:59] shreyajain17 commented on #1706
@nickjong I don't think it should be solved with docs though. I mean the column `prediction_id` has no use if it just like the index/row number of the SFrame.

[2019-08-06 04:12] #2096 closed

[2019-08-06 08:34] MaximBazarov commented on #670
@TobyRoseman yeah I was about to "contribute" but then have seen that it's already there.

Unfortunately `MXNet 1.1.0` doesn't exist for CUDA92, so I'll wait the next release or will do this trick

thank you!

[2019-08-06 13:23] shayneobrien commented on #2203
Unfortunately I am unable to share the dataset :/... is there any other info I can provide to help debug? I ran into similar issues with other tree-based models as well. Non-tree models e.g. logistic regression export to CoreML without error.

[2019-08-06 15:46] dhgokul commented on #2093
@nickjong @znation @TobyRoseman  any updates ?

[2019-08-06 16:37] syoutsey opened #2207 "User guide documentation link to downloadable content is broken"
In our Random Forest Classifier we reference a `mushroom.csv` [file](https://apple.github.io/turicreate/docs/userguide/supervised-learning/random_forest_classifier.html) which is no longer stored at that URL on Github. This is almost certainly because of the recent code refactoring we did which changed the paths of content in our repo, which we then reference in our user guide.

We should audit al

[2019-08-06 17:46] #2170 closed

[2019-08-06 17:49] hoytak commented on #2033
Confirmed resolved (as a workaround) by https://github.com/apple/turicreate/pull/2141.  Root cause is https://github.com/apple/turicreate/issues/2175; tracked separately.

[2019-08-06 17:49] #2033 closed

[2019-08-06 17:54] hoytak commented on #2194
Actually, /var/cache is the standard location for program-specific cache data.  But we should make sure these directories are world writable.

[2019-08-06 17:54] hoytak commented on #2194
Reference: http://www.tldp.org/LDP/Linux-Filesystem-Hierarchy/html/var.html

[2019-08-06 18:00] syoutsey commented on #2203
@shayneobrien I'm unable to reproduce this with any datasets I have access to, is there a subset of the data you can share or perhaps a different dataset that also reproduces the error?

[2019-08-06 18:12] nickjong commented on #2093
Hmm, some difference is to be expected depending on how the image is resized and otherwise converted into the raw NN input, but I am surprised that the difference is this high. Would you be able to share the saved .model  and the image you're using for testing? (If not, we can try to repro on our end, but it might be helpful to ensure we're looking at the same things.)

[2019-08-06 18:18] nickjong commented on #1706
From offline discussion, sounds like this is an occasion where the code is wrong, and needs to be fixed to match the intent captured in the user guide

[2019-08-06 18:34] abhishekpratapa commented on #2207
#2055 actually fixes this!

The URLs didn't propagate because the user guide doesn't get updated until a new release.

For instance:

https://github.com/apple/turicreate/blob/master/userguide/supervised-learning/random_forest_classifier.md

[2019-08-06 19:27] syoutsey commented on #2207
Keeping this open to verify URLs are fixed when we push docs as part of 5.7 release.

[2019-08-06 20:09] hoytak commented on #1332
I've been working with Guihao on this one; the issue is with columns that have dictionary features and those with categorical lists.  The way these are unpacked in old versions of CoreML means they are unpacked into uninitialized memory.  He's verified all the tests pass now; is checking today I believe on 10.13.

@Jarvi-Izana -- is that a correct summary of the status?

[2019-08-06 21:13] #1953 closed

[2019-08-06 22:01] hoytak commented on #2203
This easily reproduces it:

[code]

[2019-08-06 22:37] Jarvi-Izana commented on #1977
hi @znation, I'm not familiar with image annotation. Could you introduce me to the typical image annotation process? I'm not sure how I could reproduce this.

[2019-08-06 23:09] #2050 closed

[2019-08-07 02:18] #1994 closed

[2019-08-07 07:56] znation commented on #2137
Moving to 5.8 since actually getting call stacks will be more extensive; we need to switch from using `file://` to `http://` URLs (backed by `boost::beast` as the localhost web server).

[2019-08-07 08:33] #2201 closed

[2019-08-07 11:57] ashwini02590 opened #2214 "hi, I'm trying to use itemcontent recommender but getting the following error"
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
~/newenv/lib/python3.6/site-packages/turicreate/extensions.py in __run_class_function(self, fnname, args, kwargs)
    273         try:
--> 274             ret = self._tkclass.call_function(fnname, argument_dict)
    275         except RuntimeError

[2019-08-07 12:23] ashwini02590 opened #2215 "How to evaluate item content recommender?"
Hi, when i try to evaluate the item content recommender, i get the an error saying data set must have a column pertaining to user ids. Since the content recommender doesn't use user interaction, why does it need the user id? Any way I can get evaluation

---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call

[2019-08-07 15:13] #2202 closed

[2019-08-07 16:47] syoutsey commented on #2215
Hi @ashwini02590, @znation wrote a nice summary of the need for user IDs here: https://github.com/apple/turicreate/issues/1182#issuecomment-435171757. Does this answer your question?

[2019-08-07 16:50] syoutsey commented on #2214
Hi @ashwini02590 can you share any code and/or datasets you're using which reproduce this error? We'd like to debug this but will have a hard time without more information. Thanks!

[2019-08-07 17:32] #1455 closed

[2019-08-07 17:50] LemonAndroid opened #2216 "macbook pro 2018 why?"
[launcher-install-log.txt](https://github.com/apple/turicreate/files/3478291/launcher-install-log.txt)

[2019-08-07 18:25] Jarvi-Izana commented on #1332
@hoytak sorry for the late reply. I just finished running the pipeline with relevant `xfail` removed and it failed on mac_10_13 environment with python27.

[2019-08-07 18:26] #2110 closed

[2019-08-07 18:30] syoutsey commented on #2216
This its the repository for Turi Create not GraphLab Create. GraphLab Create has long been deprecated. Please use Turi Create instead. If there is a reason you can not use Turi Create, please open a separate issue.

[2019-08-07 18:30] #2216 closed

[2019-08-07 19:18] #2002 closed

[2019-08-07 20:04] ashwini02590 commented on #2214
Hi @syoutsey this is the code i used.

dfRating = tc.SFrame.read_csv("anime.user_merged.csv", header=True,
                                delimiter=',')
dfAnime = tc.SFrame.read_csv("anime_filtered.csv", header=True,
                                delimiter=',')

content_model= tc.recommender.item_content_recommender.create(dfAnime,"anime_id", observation_data=dfRating,max_item_neighborhood_size

[2019-08-07 20:10] hoytak commented on #2175
This ends up being harder than anticipated due to some other parts of the groupby code base, so I think we should push this out to 5.8 to give us time to do it right and fully bake this release.

[2019-08-07 20:52] ashwini02590 commented on #2215
Hi @syoutsey! Thanks for the explanation. I'm a little confused though. So is there a way I can provide the user ID data, since I do have data on user interactions. I have item data (item id, name, genre, plot etc) and the user interaction data (user id, item id, rating).  I would like to generate content based recommendations. Mainly I would like to evaluate it in terms of RMSE so that I can comp

[2019-08-07 22:01] Jarvi-Izana commented on #2175
Sounds like a plan. I will all my code change.

[2019-08-07 22:17] syoutsey commented on #2215
Take a look at our [user guide](https://apple.github.io/turicreate/docs/userguide/recommender/coreml-deployment.html) section on interacting with Core ML. You'll see sample code detailing how to pass in user interaction data to generate recommendations, as well as associated probabilities for each recommendation. Hopefully, the following code from the user guide is what you're looking for. If not,

[2019-08-07 22:24] Jarvi-Izana commented on #1332
Ok, I tried MoD with a macOS10.13 instance and it failed on python3 as well.

[2019-08-08 00:02] syoutsey commented on #1182
Closing this issue as the user guide documents how to use the recommender with a Core ML model.

[2019-08-08 00:02] #1182 closed

[2019-08-08 08:09] ashwini02590 commented on #2215
thanks a ton @syoutsey, I shall try this :) is there a way I can do a hybrid recommender combining the weighted predicted ratings from other recommenders(item similarity, popularity,factorisation )?

[2019-08-08 10:29] phelmsgit opened #2217 "oneshot detector segmentation fault or kernel dies"
Model creation fails if tested on more than a few images. Tried macOS (16 GB RAM), CentOS 9 (28 GB RAM), Ubuntu 18 and 19 (28 GB RAM), but I always get Segmentation fault or kernel killed; tried a combination of python 2.7 and 3.6, same result. I run it against 10-30 images. Sometimes memory usage is high, sometimes not. Tried it with different image sets. Example image set: https://drive.google.c

[2019-08-08 12:51] LemonAndroid commented on #2216
i'm disabled

[2019-08-08 12:51] LemonAndroid commented on #2216
@syoutsey

[2019-08-08 16:23] Jarvi-Izana commented on #1332
no code change is needed. We should keep triaging it.

[2019-08-08 17:40] mrsaw12 opened #2218 "Documentation / what mean Loss, transfer learning / object detection"
Hi Guys,
i's not really a issue, but i dont know where i can ask this, because it's too turi create specific. I guess the answers help too other people.

i'm train at this moment a object detection model, and have still following questions:

1) what means LOSS / what is LOSS?
+--------------+--------------+--------------+
| Iteration    | Loss         | Elapsed Time |
+--------------+-------------

[2019-08-08 19:39] nickjong commented on #2218
Let me take a pass at some of your questions!

1. The loss reported in the progress table is the "YOLO" loss defined in the model/algorithm described in our user guide here: https://apple.github.io/turicreate/docs/userguide/object_detection/how-it-works.html It's essentially a measure of the distance/discrepancy between what the model is currently predicting and the labeled ground truth. The small

[2019-08-08 19:49] TobyRoseman commented on #2215
@ashwini02590 - We don't have anything like the hybrid recommender that you mention.

I like the idea. It probably wouldn't be too difficult to do something simple which wraps multiple recommender models and combines the ranking from each. Feel free to open a new feature request issue for that. Or let us know if you implement something along these lines.

[2019-08-08 20:35] mrsaw12 commented on #2218
Hi nickjing, thanks for fast response. and yes your answers helped me already much. Following 2 more questions, would be much appreciated if you can answer to it too :)

3) I guess your answer for no. 4 was more related to my question no. 3 of correct "Data preparation"
The user guide described how create from dataset "IG02" annotations. Data IG02 is rich annotated, because it has masks and occlus

[2019-08-08 21:47] #2112 closed

[2019-08-08 22:09] nickjong commented on #2217
This seems to be a dupe of #2038. At the very least, we should see if the fix for that issue resolves this one.

[2019-08-08 22:09] #2217 closed

[2019-08-08 22:10] nickjong commented on #2194
We should make sure we get this right when we re-implement the current Python logic that does this in C++

[2019-08-09 07:02] phelmsgit commented on #2217
When & where is a fix available for this #2038 release so I can test it? Thanks

[2019-08-09 12:19] ashwini02590 commented on #2214
Hi, any update on this error "RuntimeError: Column name implicit_user does not exist."

[2019-08-09 15:20] syoutsey commented on #2214
Can you provide the `.csv` files you're using which reproduce this error? Thanks!

[2019-08-09 15:54] romanoss commented on #2031
@TobyRoseman @banoslo @abhishekpratapa

I checked the original paper and found:

We used the same network architecture as in Johnson et al. (2016),
except for two key details:
zero-padding is replaced with mirror-padding, and transposed convolutions (also sometimes called
deconvolutions) are replaced with nearest-neighbor upsampling followed by a convolution. The
use of mirror-padding avoids borde

[2019-08-09 17:14] #2092 closed

[2019-08-09 17:22] #1332 closed

[2019-08-09 17:31] Jarvi-Izana commented on #1332
We are not going to fix it due to the undefined behavior of CoreML prior to macOS version 10.14. These tests will be still marked as failure for versions prior to version 10.14.

[2019-08-09 18:28] abhishekpratapa commented on #1899
# Parameters to help train Style Transfer Models

Hopefully these tips will help you achieve a better result @banoslo. It'll go over the things you could experiment with and modify to iteratively achieve the model you desire.

#### style_loss_mult

The larger the values of the `style_loss_mult`, the more stylized the image
is. The diagram below illustrates this effect (Note: the model was trained

[2019-08-09 18:29] #1899 closed

[2019-08-09 18:30] abhishekpratapa opened #2220 "Expose more Parameters to Style Transfer in Turi Create"
The Style Transfer model would benefit from an improvement to the number of parameters exposed. For example a stylization parameter from 0-1 to indicate the stylization of an image.

[2019-08-09 18:44] TobyRoseman commented on #2217
@phelmsgit - #2038 is still open. So there isn't a fix yet. This issue was closed as a duplicate. Please subscribe to #2038 for updates.

[2019-08-09 19:59] TobyRoseman opened #2221 "dict_keys and dict_values types do not work with filter_by"
[code]
This issue is only effecting Python 3. This issues should also be fixed for `sframe.filter_by`.

The fix here could be quite similar to #1723. However we should consider doing something more general, rather than special casing each possible type. We probably want to allow any iterable type as input. Determining if an object is iterable [is not straight forward](https://stackoverflow.com/que

[2019-08-09 23:06] Jarvi-Izana opened #2222 "unity_sframe::append should accept SFrame with different name order"
it should behave the same as python layer. Talked @hoytak, we should move logics from python to engine so people relying on c-api will expect the same behavior.

[2019-08-10 01:23] shantanuchhabra commented on #2023
During 5.7, some work in this area led to failing the `export_coreml` unit test. We got an EXC_BAD_ALLOC in the function call to `boost::gil::resample_pixels`. Attaching stack trace here.
[code]

[2019-08-10 20:55] BERENZ opened #2226 "Object detection -- question about confidence measure"
I am running an object detection algorithm with custom classes and annotations, so I am using the object detection algorithm i.e. implementation of TinyYOLO.  `Predict` function returns column `confidence` but I have problem finding explanation what confidence actually means and how it is calculated (e.g. equations).  Is confidence just a probability that object is within given bounding box?

Is i

[2019-08-11 04:04] Jarvi-Izana commented on #2222
sframe x with columns {a:int, b:str, c:int} should accept **appending** sframe y with same columns but appearing different order, such as {b:str, c:int, a:int}.

The logic to reorder columns of sframe y is inside python instead of cpp unity_sframe.

[2019-08-11 08:48] #141 closed

[2019-08-12 16:57] #2207 closed

[2019-08-12 18:55] #2037 closed

[2019-08-12 18:55] #2038 closed

[2019-08-12 18:55] #2045 closed

[2019-08-12 18:55] #2191 closed

[2019-08-13 04:04] shreyajain17 opened #2232 "Build breaks with new Xcode (Version 11.0 beta 5 (11M382q))"
[code]

[2019-08-13 06:50] znation commented on #1635
Removing "Linux Only" - just repro'd this on macOS as well. Note the scroll position (horizontal and vertical), lack of visible scrollbars, and the system setting to always show scrollbars.

<img width="932" alt="Screen Shot 2019-08-12 at 11 48 23 PM" src="https://user-images.githubusercontent.com/5673251/62920888-e39e8080-bd5b-11e9-8e11-391658981fd8.png">
<img width="430" alt="Screen Shot 2019-08

[2019-08-13 10:47] dhendo commented on #788
It looks like all the dependencies now support 3.7?

[2019-08-13 18:02] guihao-liang opened #2234 "virtual function should be avoid during construction and destruction."
[code]
Just realize that virtual functions are called inside constructors.

we should provide a separate `init` function to group all virtual functions. After the object is constructed, we should call `init()` explicitly to enforce virtual functions to be invoked with the right version.

The reason is that during the construction phase, all base classes are constructed before derived class. And th

[2019-08-13 18:30] nickjong commented on #2232
Would it make more sense to adopt the new API or to have this code explicitly ignore this warning?

[2019-08-13 19:41] Jarvi-Izana commented on #2222
Work is completed. Closing this issue with such a fortunate and lucky issue number.

[2019-08-13 19:41] #2222 closed

[2019-08-13 21:22] TobyRoseman commented on #788
In our next release we will support Python 3.7, for macOS only.

[2019-08-14 01:21] #2169 closed

[2019-08-14 06:26] znation commented on #2234
Have we considered simply making this class sealed (non-inheritable)? I'm not sure we have any use case for inheritance here. (Or is that how we're sharing code with Drawing Classifier?)

[2019-08-14 06:31] znation opened #2236 "Jupyter notebook SFrame.explore ignores title parameter"
The Jupyter Notebook integrated SFrame.explore does not honor the `title=` parameter to `explore`. See screenshots for comparison with GUI explore:

<img width="1317" alt="Screen Shot 2019-08-13 at 11 29 35 PM" src="https://user-images.githubusercontent.com/5673251/62999193-7efa2900-be22-11e9-991d-312e70a4a0c2.png">
<img width="932" alt="Screen Shot 2019-08-13 at 11 29 06 PM" src="https://user-ima

[2019-08-14 07:59] dhendo commented on #788
Is there a reason Linux will be unsupported?

[2019-08-14 09:59] NicholasMorris opened #2237 "[Question] How to set TMPDIR/caching location"
I am attempting to create an object detection model based on this data https://www.kaggle.com/c/kuzushiji-recognition. The data becomes too large for my on-device storage during the modelling stage which then causes an error. I have tried setting the the TMPDIR environment variable to be /Volumes/.../tmp, however, this does not solve the issue. /Volumes/.../tmp never has any data written to it.

C

[2019-08-14 17:08] TobyRoseman commented on #2237
Hi @NicholasMorris - Try doing this at the very begnining of your script:
[code]
Let us know if that fixes the issue.

[2019-08-14 17:31] TobyRoseman commented on #788
@dhendo - Yes, there is a reason Python 3.7 will be unsupported for Linux in our next release.

We use a package called MXNet to do some of our deep learning on macOS and all of our deep learning on Linux. The version of MXNet which we currently depend on doesn't support Python 3.7. So we need to depend on a newer version of MXNet. We've experience several issues (mostly nondeterministic hangs) us

[2019-08-14 17:56] TobyRoseman opened #2238 "SFrameBuilder and SArrayBuilder should implement __len__()"
When using an `SFrameBuilder` or an `SArrayBuilder` there is no way to get the number of row appended so far.
[code]

We should add a `__len__()` method to both `SFrameBuilder` or an `SArrayBuilder`. This will also require Cython changes and probably C++ changes as well.

[2019-08-15 05:08] znation opened #2240 "SFrame.explore should support browser target"

[2019-08-15 05:08] znation opened #2241 "Evaluation.explore should support browser target"

[2019-08-15 05:09] znation opened #2242 "image/drawing_classifier.annotate() should support browser target"

[2019-08-15 09:03] NicholasMorris commented on #2237
Hi @TobyRoseman, thank you for your prompt response! That has worked!

[2019-08-15 09:03] #2237 closed

[2019-08-15 11:28] MaximBazarov commented on #670
Can confirm, works with 5.7, gives warning, but works (CUDA 10.0)

[2019-08-15 11:54] MaximBazarov opened #2244 "OSOD logging output don't appear during process (5.7)"
Hi there, trying to use version 5.7, and want to thank y'all for all that fixes, now it works in Google Colab as well on CUDA 100.

Only one concern I found so far it that's the logs I have during the model creation process from the augmented images
[code]
and it's working, I can see that, but there's no output for quite some minutes.
For me, it's important learning, what's the capacity of this ap

[2019-08-15 14:19] MaximBazarov commented on #2244
Still no logs btw, using only one image as a source

[2019-08-15 18:14] TobyRoseman commented on #2244
@MaximBazarov - I'm glad to hear you are liking 5.7. I'm not understand the issue. Is the problem that you are not seeing any output for several minutes once you call `tc.one_shot_object_detector.create(...)`?

[2019-08-15 18:28] MaximBazarov commented on #2244
@TobyRoseman yes, for several hours, the notepad is busy, GPU is working, but no output at all. Basically, the last output I saw is that in the first message.
It might be an issue with Google Collab though, not sure tbh, sorry can't provide more information.

[2019-08-15 22:22] hoytak commented on #1978
The bug is that the input does not check the type correctly; an sarray is being passed in where an SFrame is expected.

[2019-08-15 22:26] hoytak commented on #1761
We should turn this into a None.  It should be a simple fix.

[2019-08-15 22:27] nickjong commented on #2226
The confidence score is an output of the underlying neural network, so it is the result of training across a dataset where correct predictions are trained towards 1 and incorrect predictions are trained towards 0. If I'm not mistaken, the loss function used to train this output does treat it like a probability for the purpose of optimization, but your mileage may vary as to whether you should trea

[2019-08-15 22:30] hoytak commented on #1699
The simplest improvement here is to simply add float16 to the conversion logic in cy_flexible_type.  There is a larger question here about float16 support not being universal, so it may be a bit tricky, but we could certainly improve that type of support.

[2019-08-16 05:13] znation opened #2247 "SFrame.explore should have UI tests"
Depends on #2153.

[2019-08-16 05:14] znation opened #2248 "SFrame.show should have UI tests"
Depends on #2153.

[2019-08-16 06:32] MarkusShepherd opened #2249 "conflicting numpy dependencies in v5.7 with Python 3.6"
When installing Turicreate under Python 3.6, there are conflicting (i.e., unresolvable) constraints on the `numpy` version to be installed. To reproduce:
[code]
It fails with this message:

When running
[code]
it yields
[code]
I.e., `turicreate` itself fixes `numpy` at v1.16.4 (bad practice for a library IMHO), while `mxnet` requires `numpy` before v1.15.0.

It seems to be working correctly under

[2019-08-16 22:06] TobyRoseman commented on #2249
@MarkusShepherd - Thank you for the detailed write up. I appreciate it.

I agree we should do a better job of handling dependency versions. Relying on a range of versions would certainly be better.

Here are all of the distinct requirements for `numpy` in Python 3.6 that you shared:
[code]
So it sounds like we should change [our numpy requirement](https://github.com/apple/turicreate/blob/ca6b9b02d

[2019-08-17 12:10] MaximBazarov opened #2250 "OSOD: Is it possible to separate a result of augmentation form actual model creation?"
Hi folks, I experimented with OSOD on nano tiny data sets (1-2 image) and it takes time to prepare the dataset by augmenting each picture from input on ~900 backgrounds. I also can see that that being done on the CPU, regardless of GPU configuration.

So the question is can I prepare (augment) dataset, on CPU optimized machine, save it into `SFrame` and then use this SFrame to perform model creati

[2019-08-19 09:30] MarkusShepherd commented on #2249
Yes, I'd think so. Looking at the other requirements there are more dependencies fixed at a specific version (`coremltools`, `prettytable`, `resampy`) which would similarly fail to install along any other library that might fix those same dependencies (or maybe allows only a narrow range).

I'm not familiar with best practices regarding dependencies for libraries, but intuitively it makes sense to

[2019-08-19 09:51] BERENZ commented on #2226
Ok, so could you please point me the part where the prediction function is defined?

Just to be sure, is the loss function defined the same as in the original YOLO [paper](https://pjreddie.com/media/files/papers/yolo_1.pdf) (page 4) or your reimplementation include some changes to the original algorithm?

[2019-08-19 14:01] dhendo commented on #788
Thanks, that makes sense.

[2019-08-19 16:51] RAbraham commented on #891
Same problem here. I had to use `df = df.replace({pd.np.nan: None})` to workaround this issue.

[2019-08-19 20:36] Jarvi-Izana commented on #2184
In ipython3 client,
[code]

[2019-08-20 07:08] MarkusShepherd commented on #2249
FYI, I just realised `mxnet` itself is fixed at v1.5.0 for Python3.7 and should probably be `>=1.5.0` instead.

[2019-08-20 09:02] joymkj opened #2254 "Object detection: Setting minimum confidence threshold"
I exported a .mlmodel from Turicreate and dropped it in Apple's [breakfast recognition example app](https://developer.apple.com/documentation/vision/recognizing_objects_in_live_capture). Is it possible to set a minimum confidence threshold here?

[2019-08-20 09:56] #2240 closed

[2019-08-20 15:51] mfriedel opened #2256 "CreateML/CoreML3 vs TuriCreate/CoreML2"
Hey everyone!

I’ve been playing around with CreateML on the beta version of Catalina, and I’ve been benchmarking my model results against a model we built with TuriCreate v5.4 on Google Colab a few months ago. I’ve built a multi-class image classification model (6 classes to predict different animal types).

Basically what I am seeing is this: On the same example validation image, the CoreML3 mod

[2019-08-20 18:11] TobyRoseman commented on #1698
I forgotten I created this GitHub issue. I just hit the problem again and I was confused/annoyed all over again.

@hoytak - I don't think I understand your comment? Why is this by design? It seems like it would be pretty easy to fix.

We could even just fix it in the Python layer. First things save the numpy type. Then run the existing code as-is. Then change the type of the SArray to an int if th

[2019-08-20 19:57] nickjong commented on #2226
The code that transforms the raw forward predictions from the network to the human-readable bounding boxes is here: https://github.com/apple/turicreate/blob/b55af967aa2b824fdc37876e1fd7efebf44da0e1/src/python/turicreate/toolkits/object_detector/_detection.py#L92

The actual loss function is defined here: https://github.com/apple/turicreate/blob/b55af967aa2b824fdc37876e1fd7efebf44da0e1/src/python/t

[2019-08-20 21:16] znation commented on #2249
Seems to only repro on `pipenv`. Using `virtualenv` and `pip`, the console shows 'ERROR: ' lines pertaining to mxnet versions, but ignoring those errors, the installation seems to complete and work properly.

[2019-08-20 23:58] nickjong commented on #2218
Sorry for the delay in responding!

1. At present, I'm afraid the best way to guard against overfitting is to evaluate the trained model, for different numbers of iterations, against a held-out test set. We're in the process of overhauling our Object Detection implementation, and simplifying this task is something we're working on. Perhaps by just periodically giving the validation performance on

[2019-08-21 02:06] znation commented on #2256
Hi @mfriedel, happy to help get to the bottom of this. I think the issue here may be overfitting in the CreateML-produced model. It could be that no train/test split was performed -- the default flow through the UI (in the current Beta) appears to be to use the entire dataset for training/validation unless you specifically create a train/test split. Suppose the example validation image you're seei

[2019-08-21 03:55] williamwongys opened #2257 "Problem verifying the output of collaborative filtering (item-item)"
First of all, I love this library, it makes recommendation engine simple.
However when I tried to run on my data, it gave me weird results and when I tried to verify by using the [algorithm](https://apple.github.io/turicreate/docs/api/generated/turicreate.recommender.item_similarity_recommender.ItemSimilarityRecommender.html#turicreate.recommender.item_similarity_recommender.ItemSimilarityRecommen

[2019-08-21 06:54] MarkusShepherd commented on #2249
When I `pip install turicreate` into a fresh `virtualenv` with Python 3.6, I get error messages:

I'd call that reproducing the issue...

[2019-08-21 12:38] mecid opened #2258 "Making Activity Classifier updatable"
Hello, I try to do my Activity Classifier updatable using this script.

[code]

But I get the error:

`RuntimeWarning: You will not be able to run predict() on this Core ML model. Underlying exception message was: Error compiling model: "Error reading protobuf spec. validator error: Model specification version for an updatable model must be '4' or above.".`

I run MacOS 10.15 Beta 6 and Turi Creat

[2019-08-21 13:51] mfriedel commented on #2256
Thank you, @znation! I agree that overfitting is potentially a problem here.

A few more notes:

I did manually create a train/test split in CreateML, and the only choice that seems to be available for Validation is Automatic. I am 99% sure the validation image I used for the numbers posted above was not in the train/test split. My training data came from Google's Open Images Dataset v4 and the va

[2019-08-21 16:59] nickjong commented on #2254
If you have a static confidence threshold you want to use, you could always set it at export time using the `confidence_threshold` parameter of `export_coreml`: https://apple.github.io/turicreate/docs/api/generated/turicreate.object_detector.ObjectDetector.export_coreml.html#turicreate.object_detector.ObjectDetector.export_coreml

Regardless of what confidence threshold is set as the exported mode

[2019-08-21 18:58] syoutsey commented on #2250
Hi @MaximBazarov, you're correct in that there's currently no way to save off the augmented images between the augmentation and training steps. I know you said that the primary reason you wanted to save off the augmented SFrame is because re-augmenting via the CPU is slower than what would be possible with GPU, are there any other reasons you'd like to save it away?

[2019-08-21 19:20] nickjong commented on #2254
Actually, looks like we already have #798 covering this topic. I'll close this one as a dupe. Still let us know if you have any further questions!

[2019-08-21 19:20] #2254 closed

[2019-08-21 19:22] nickjong commented on #798
In the Xcode for the current betas (e.g. for iOS 13) you should now be able to specify these parameters at runtime, using new Vision framework API: https://developer.apple.com/documentation/vision/vncoremlmodel/3131933-featureprovider?language=objc

We can use this issue to track updating our User Guide with an example here

[2019-08-21 19:40] nickjong commented on #1678
FWIW, an update on our end. We are moving forward with switching from MXNet to TensorFlow, for several reasons. The most proximal reason is some deeper incompatibility between the optimizations found in both our code and in MXNet, preventing us from supporting Python 3.7 on some platforms.

But what we're doing now does move us towards being backend-agnostic, since we already want to support both

[2019-08-21 19:44] nickjong commented on #1675
Ah, that makes sense. Just to follow up here, I'm not sure about the confidence values you're seeing, but ultimately we're tracking that problem with #2093

[2019-08-21 19:44] #1675 closed

[2019-08-21 21:01] TobyRoseman commented on #2258
It looks like TuriCreate is still exporting to Core ML using `specificationVersion: 1`. You do indeed need version 4 in order to have an updatable model. There are also lots of other improvements made in Core ML since the first version.

We should update TuriCreate to export models to Core ML using the most recent specification version.

[2019-08-21 21:15] mecid commented on #2258
@TobyRoseman so there is no way to generate updatable model with Turi Create? As I remember it works before.

[2019-08-21 22:03] TobyRoseman commented on #2258
@mecid - There is no way to generate an updatable Core ML model with Turi Create 5.7.  I also don't think this has worked with any previous version of Turi Create.

[2019-08-21 22:16] mfriedel commented on #2256
@znation An update:

Definitely got 100% prediction probabilities on validation data that was not used in the training set. This was not true for all images, but definitely some. Interestingly, I also saw this behavior with a CoreML2 model I trained using TuriCreate, which I didn't see previously. (I was using v5.4)

Some hypotheses:

* The model does a great job identifying snakes because they ar

[2019-08-22 00:24] mecid commented on #2258
@TobyRoseman can we expect it anytime soon?

[2019-08-22 07:46] MaximBazarov commented on #2250
hi @syoutsey, it's not about slower/faster in general, tbh I'm not sure whether it's going to be faster on GPU, my main concern is that if it's done on CPU it might make a lot of sense to do it on the CPU optimized machine (which is cheaper) and the second part on the GPU optimized machine.

Yeah that's the only concern I have.

[2019-08-22 08:45] hollance commented on #2258
What if you add `spec.specificationVersion = 4` to the above script?

[2019-08-22 12:51] mecid commented on #2258
@hollance it works! Model works correctly. I will try to run on-device update task.
Is it legal to change version like this? I mean I can set version to 5 or whatever and it also works.

[2019-08-22 16:17] syoutsey commented on #2250
Got it. Thanks for the feedback! We'll consider this as part of future One-Shot Object Detection work.

[2019-08-22 17:27] skirdey opened #2261 "Expose model.export_coreml as binary object that can be pickled by native python pickler."
Hey folks, is it possible to expose a trained model as binary object that I can pickle myself?
My use case is to save and load Turicreate models to and from S3, where loading is only used for inference. It seems like coreml produces single file? Would be great to have a way to get a binary of a model that can be pickled with native python pickler.
Thanks!

[2019-08-22 18:21] hollance commented on #2258
@mecid I'm not sure what version of coremltools you're using, but I think in the latest version, `builder.set_categorical_cross_entropy_loss()` will automatically fill in that version number. If not, you can fill in anything you like here, but I would use 4 as that is the correct number. ;-)

[2019-08-22 19:35] TobyRoseman commented on #2261
I just tried and much to my surprise it seems you can not pickle either a mlmodel or the spec for an mlmodel. I get the following error: `PicklingError: Can't pickle <class 'Model_pb2.Model'>: import of module 'Model_pb2' failed`.

@skirdey - Is there a reason you can't call `save(...)` on the turicreate model (not the mlmodel)? I believe you should be able to pass `save` an S3 path.

[2019-08-22 22:17] syoutsey opened #2264 ".explore() method breaks in Python3"
When using inline explore in Python 3 and Turi Create 5.7, the `base64` encoding of an image exposes a bug. It may have to do with how we treat a the `BytesIO` buffer. See the following small repro case related to the base64 encoding (used by the inline `.explore()`):

[code]

[2019-08-23 00:06] skirdey commented on #2261
I have a custom saving mechanism that saves to a location in s3 that I do not control neither know beforehand, having a binary would simplify distributed computing part of using turicreate.

[2019-08-23 12:34] mecid commented on #2258
@hollance so you mean by setting version to 4 and using builder.set_categorical_cross_entropy_loss() my Model packaging will be updated to latest version?
I on the latest coreml tools beta version.

[2019-08-23 13:32] hollance commented on #2258
@mecid I was slightly mistaken, `builder. make_updatable()` will now automatically fill in the `specificationVersion` for you. Not sure why that didn't happen automatically in your script, as with the current beta version of coremltools it should do that. This means you shouldn't have to fill in `specificationVersion` yourself anymore.

[2019-08-23 14:02] mecid commented on #2258
@hollance I'm on CoreML tools 3.0b3 and Turi Create 5.7.
Is it safe to use that model with manual setting version to 4? I fear that it can be broken.

[2019-08-24 11:51] halilkabaca opened #2266 "Illegal instruction (core dumped) error after Turicreate version 5.4"
Hello,

I have an old Dell Optiplex 330 desktop with Xeon E5420 and If i try to install Turi Create version later than 5.4 I get Illegal instruction (core dumped) error when i try to import it. If i use 5.4 or earlier it works.

What has changed after version 5.4 that could cause this?

Looking forward to hearing from you
Regards
Halil

[2019-08-24 12:39] hollance commented on #2258
It is safe. Note that coremltools 3.0b4 is the latest, not b3.

[2019-08-24 13:05] mecid commented on #2258
@hollance thanks, just checked it now, we already have b5.

[2019-08-24 13:17] hollance commented on #2258
Ah nice!

[2019-08-24 22:14] TobyRoseman commented on #2266
@halilkabaca - what operating system are you using? Also is there any additional information you can give us (such as a stack trace)?

[2019-08-25 11:07] halilkabaca commented on #2266
**Operating system:**
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.5 LTS
Release:	16.04
Codename:	xenial

**Dump:**
I only have this entry on /var/log/syslog:

Aug 25 07:06:55 elastic kernel: [97665.124790] traps: python[24248] trap invalid opcode ip:7f0999b7c684 sp:7ffec75bb7a0 error:0 in libunity_shared.so[7f0998fcb000+21e600$

Does that help?

[2019-08-25 11:09] halilkabaca commented on #2266
Same happens on my Dell PowerEdge 6850 server with 4 Xeon 3.16 MP Cpus. Can it be related to Xeon?

[2019-08-25 16:30] chidauri commented on #2042
@TobyRoseman Hi, i am looking forward to fix this, i have a doubt, do we need to run ./configure and then build using "make" everytime we do a change? And is there any discussion platform for this repo?

[2019-08-26 08:51] gurukashyap commented on #1404
@turbogeek  have u explored one shot object detection: https://apple.github.io/turicreate/docs/userguide/one_shot_object_detection/ ?

[2019-08-26 10:20] BERENZ commented on #2226
@nickjong  thank you for clarifying. I have one more question which is somehow connected to the initial question but I would like to be sure.  Does your implementation of YOLO 2 network is *the same* as the one provided in the [yolov2-tiny.cfg](https://github.com/AlexeyAB/darknet/blob/master/cfg/yolov2-tiny.cfg) and if not could you please indicate where are the differences?

[2019-08-27 18:00] dogahe opened #2269 "Using TuriCreate with Poetry"
I am using [Poetry](https://poetry.eustace.io) for Python Package management. Simply I started a new Poetry project (poetry-turicreate) by doing:

`poetry new poetry-turicreate`
`cd poetry-turicreate`
and when I do:

`poetry add turicreate`

I get the following error:

[code]

[2019-08-28 22:46] shantanuchhabra commented on #2250
Hi @MaximBazarov , while there is no way to directly save off the augmented data and load it using the One Shot Object Detection toolkit, you could do so with the Object Detection toolkit. Here is a workaround that could work for now:

[code]

[code]

[2019-08-29 01:10] Jarvi-Izana commented on #2184
[code]
optimization v1. @hoytak

[2019-08-29 22:18] syoutsey commented on #2266
Seems to be caused by the fix for #1441.

[2019-08-29 23:27] TobyRoseman opened #2274 "One Shot Object Detector API docs"
On the [One Shot Object Detector API Page](https://apple.github.io/turicreate/docs/api/turicreate.toolkits.one_shot_object_detector.html) the entries under `utilities` as well as `create` and `OneShotObjectDector` appear to be links but are not actually links.

[2019-08-30 08:07] MaximBazarov commented on #2250
thank you @shantanuchhabra will try that

[2019-08-30 12:38] mfriedel commented on #2256
Hi @znation. We definitely used `resnet-50` in the Turi Create model, so that is almost certainly contributing to what we are seeing. If I see anything else of note, I'll drop it in here. Looking forward to continuing to unpack both tools as they evolve.

[2019-08-30 19:53] znation commented on #2256
I see, thanks @mfriedel! I'm going to close this issue for now, since it's not clear there is a bug here. Please reopen if you're able to get different predictions between Turi Create and CoreML for the same model, or if you're getting seemingly wrong/bad predictions from either Turi Create or Create ML models.

[2019-08-30 19:53] #2256 closed

[2019-08-31 00:51] TobyRoseman opened #2276 "Remove Obsolete Python Methods"
About a dozen of our Python toolkit classes have a `_get_queryable_methods` class method. This method no longer serves any purpose. It should be removed [everywhere](https://github.com/apple/turicreate/search?p=1&q=_get_queryable_methods&unscoped_q=_get_queryable_methods).

[2019-09-03 08:54] Gurdev-Singh opened #2277 "Support for polygons while image annotations"
I have tried Turicreate to develop a custom object detection model and it works fine if I create the annotations as rectangular bounding boxes. I would like to know if there is any plan to support annotations for object detection with polygon shapes created from RectLabel or similar such image annotation app?

[2019-09-03 20:52] znation commented on #828
@abhishekpratapa We're using this issue to track annotating images with bounding boxes (OD .annotate). Please close this issue when you add that functionality in master.

[2019-09-04 00:11] sbaner03 opened #2278 "Opening SFrame.read_csv from s3 bucket"
I have a problem loading a csv file into an SFrame using SFrame.read_csv. I have updated my security credentials in os.Enviornment. Yet it says file not found.

[2019-09-04 00:20] TobyRoseman commented on #2278
What error and stack trace are you getting?

Also the security credentials go in `os.environ` not `os.Enviornment`. The relevant entries are `os.environ['AWS_ACCESS_KEY_ID']` and `os.environ['AWS_SECRET_ACCESS_KEY']`.

[2019-09-04 06:08] dhivyaaxim commented on #2276
@TobyRoseman
Please assign this  cleanup task to me.I would like to complete  this specific method _get_queryable_methods cleanup as needed and contribute effectively.
Thanks in Advance!

[2019-09-04 15:27] sbaner03 commented on #2278
Hi,

os.environ['AWS_ACCESS_KEY_ID'] = S3_ACCESS_KEY
os.environ['AWS_SECRET_ACCESS_KEY'] = S3_SECRET_KEY

I have tried 2 approaches:

1) sf = SFrame(data = 's3://mrlanalytics/TCI_Inv/SM/SM_SL_2018.csv')
Error: OSError: Cannot open s3://mrlanalytics/TCI_Inv/SM/SM_SL_2018.csv for
read. Cannot open s3://mrlanalytics/TCI_Inv/SM/SM_SL_2018.csv

2) sf = SFrame.read_csv('s3://mrlanalytics/TCI_Inv/SM/SM_S

[2019-09-04 17:09] TobyRoseman commented on #2276
@dhivyaaxim - Okay, the issue is all yours. Let me know if you have any questions. I'll be happy to code review it for you when you're done.

[2019-09-04 17:55] hoytak commented on #2266
Yes.  The specific part of this is that commit 4c43bc upgrades the march target to nehalem, which includes the SSE 4.2 and POPCNT/LZCNT instructions, which we use in some of the core routines. The rather ancient Xeon E5420 processor does not have these.  It's possible to compile an egg with a legacy version of all of these, but our newer dependencies will also start requiring some of these instruc

[2019-09-05 02:34] znation commented on #642
@TobyRoseman Did this get addressed as part of the work to build and run on Python 3.7?

[2019-09-05 16:59] syoutsey opened #2280 "Support for custom objects in an SFrame"
Currently, Turi Create supports the following types for `SArray` initialization:

- None
- int
- float
- str
- list
- array.array
- dict
- datetime.datetime
- turicreate.Image

Support for custom objects would allow for greater flexibility when using `SArray`s and `SFrame`s.

[2019-09-05 17:11] syoutsey opened #2281 "Support for custom aggregation functions"
Turi Create offers an [aggregate method](https://apple.github.io/turicreate/docs/api/generated/turicreate.aggregate.html) with a number of predefined operators. This issue is to track support for custom aggregators outside of the ones defined by Turi Create.

[2019-09-05 18:18] TobyRoseman commented on #642
Thanks @znation - yes, this is now fix. We basically went with solution 2 (although the exact versions we picked are somewhat different).

[2019-09-05 18:18] #642 closed

[2019-09-05 19:00] fareeha opened #2282 "Allow option to access/save Progress Table from training"
For our toolkits we have `_ProgressTablePrinter()` utility to print log during training:

[code]

It would be helpful to allow an `_advanced_parameters` option for accessing or saving the progress table. For example, for plotting Loss/Training Accuracy over Iterations for a single trial or multiple trials for later analysis. There is a workaround to do it by adding a few lines in the source file o

[2019-09-05 22:24] hoytak commented on #2129
This isn't really a needed feature, given that this is due to the python dict key order.  If this is common, .  It would also be (minorly) API breaking.  Closing now unless there is a compelling reason to change the current behavior.

[2019-09-05 22:24] #2129 closed

[2019-09-05 23:00] syoutsey commented on #2277
Hi @Gurdev-Singh, we're tracking OD annotation with this issue: https://github.com/apple/turicreate/issues/828

[2019-09-05 23:00] #2277 closed

[2019-09-06 00:01] shantanuchhabra opened #2283 "Augmented data in OSOD seems to have a lot of projections perpendicular to the camera"

[2019-09-06 00:02] shantanuchhabra opened #2284 "Size of object in augmented data seems similar across all augmented images."

[2019-09-06 06:38] rplom opened #2286 "TBlob.get_with_shape: new and old shape do not match total elements"
My tensor size is now over 4 billion and mxnet can't handle it.  I built the new branch of MXNet and tried it, but by pulling that in I needed a new numpy and tensorflow.  Turi kind of works with the new libraries but some accuracy seems lost.

 File "/Users/creator/venv/lib/python3.6/site-packages/mxnet/base.py", line 146, in check_call
    raise MXNetError(py_str(_LIB.MXGetLastError()))
mxnet.ba

[2019-09-06 16:42] nickjong commented on #1755
Let's revisit this once we have migrated the implementation from MXNet to TensorFlow

[2019-09-06 19:38] tylerhutcherson commented on #574
I would ditto this feature request. Recently at Skafos we've been using the Object Detection toolkit a bunch. I've run into situations where I'd make it through hours of training and realize the model converged much earlier. So I would have to restart with updated parameters. Additionally, leaving something training overnight for a long-running job like the one mentioned above is scary without the

[2019-09-06 19:48] tylerhutcherson opened #2288 "Object Detector model validation"
Adding the ability to **validate the model throughout the training process** would minimize a lot of friction I experienced while using the object detector toolkit. This feature paired with a _+1_ I added to https://github.com/apple/turicreate/issues/574 would reduce the amount of time wasted while waiting for a model to fully complete training before investigating it's generalizability on holdout

[2019-09-06 19:49] TobyRoseman commented on #2286
This is the repository for TuriCreate not for MXNet. Did you mean to [create an issue for MXNet](https://github.com/apache/incubator-mxnet/issues/new)?

I'm going to close this issues. Feel to clarify how this is a TuriCreate issue and reopen.

[2019-09-06 19:49] #2286 closed

[2019-09-06 20:34] fareeha opened #2290 "Iteration number count in Training log is off"
In DC toolkit (maybe an issue in others too) the `iteration` count jumps:

For 10 epochs on data size of 200  i.e. 8 iterations:
(skips 5 and jumps to 6)
[code]

For 20 epochs on data size of 200  i.e. 16 iterations:
(skips 5 and jumps to 6, skips 10 and jumps to 11, skips 14 and jumps to 15, skips 19 and jumps to 20)
[code]

The data loader correctly works in order, just the counts printed are of

[2019-09-06 23:21] rplom commented on #2286
No, that is not the problem,  TuriCreate requires an MXNet that has the issue.  It's not compatible with fixed version to MXNet.

[2019-09-06 23:44] rplom opened #2291 "TuriCreate crippled by dependencies on old MXNet"
TuriCreate requires MXNet version 1.1.0 it has has serious issues. It's not compatible with fixed version to MXNet version 1.5.0. Because then it needs a new numpy and tensor. Can TuriCreate be updated to not require such outdated frameworks?

TuriCreate is crippled by MXNet and you should change your requirements or else no one will be able to create big models. I can't use the audio classifier p

[2019-09-09 13:22] jordanhbuiltbyhq opened #2293 "Segmentation fault: 11 when saving drawing model"
It appears that saving my drawing classification .model causes a crash. Running this:
[code]

results in:
[code]

I see Symbols.model is a directory containing dir_archive.ini and objects.bin.

Turi Create 5.7.1
macOS 10.14.6 (18G95)
Python 2.7.15
Training approximately 230 classes with about 15 images for each

[2019-09-09 17:21] hoytak commented on #2278
Hello @sbaner03,

Which version of Turi Create are you using?  We put out a bunch of improvements to the s3 reading in 5.7.  In particular the error reporting is improved.

[2019-09-09 17:40] Jarvi-Izana commented on #2184
[code]
phrase 1 is done for now.

[2019-09-09 17:47] guihao-liang opened #2294 "Lazy import numpy in cy_flexible_type"
[code]

[2019-09-09 17:48] hoytak commented on #2291
Hey @rplom, we are actively working on this issue.  Expect some resolution to it soon.

[2019-09-09 18:51] TobyRoseman commented on #2294
@Jarvi-Izana - what are the two integer columns? Is one system time and the other wall time?

[2019-09-09 18:53] Jarvi-Izana commented on #2294
Aha, I deleted some non-relevant imports and the header.
[code]

[2019-09-09 19:05] TobyRoseman commented on #2286
@rplom - What OS and Python version are you using? Could you share the python stack trace and your code?

[2019-09-10 00:13] TobyRoseman commented on #2269
Looks like there are two issues here. One is a TuriCreate issue and one is a Poetry issue.

The first issue is that TuriCreate has transistive dependency requirements that can not be satisfied. For one reason or another this has been the case for quite awhile. We are tracking the most recent issue causing it in #2249.

The second issue is a Poetry issue. When constructing an error message for the

[2019-09-10 00:13] #2269 closed

[2019-09-10 03:23] sbaner03 commented on #2278
Hi,
I am using 5.7.1. The entire error is pasted below. Also the file in the s3 bucket has public read access - I am able to open it in pandas using df = pd.read_csv('s3://mrlanalytics/TCI_Inv/SM/SM_SL_2018.csv')

---------------------------------------------------------------------------
OSError                                   Traceback (most recent call last)
~/anaconda3/envs/python3/lib/pytho

[2019-09-10 05:06] rplom commented on #2286
@TobyRoseman i opened the other ticket about the requirements.  I have Python 3.6.5.  But the thing is unless you can build a custom MXNet with the USE_INT64_TENSOR_SIZE flag (which I will do locally) you don't get the fixed 64 bit integer stuff.  If I build that I'm on MXNet 1.5 and then it's the classic pulling a decency thread.  Thanks for looking at this.  I have something pretty amazing I'm b

[2019-09-10 05:08] rplom commented on #2291
Amazing!  Thank you!  I'm working around it by using random_split with large numbers until I can grow the training set safely again.

[2019-09-10 05:13] rplom commented on #2286
I'm happy to share the code privately with you, but I don't want to post it here.

[2019-09-10 05:31] rplom commented on #2291
Just copying some of the MXNet details here from the other ticket

Large Tensor Support
Before MXNet 1.5.0, MXNet supported a maximal tensor size of around 4 billion (2³²). This was due to uint32_t being used as the default data type for tensor size, as well as variable indexing. Now you can enable large tensor support by changing the following build flag to 1: USE_INT64_TENSOR_SIZE = 1.(Note this

[2019-09-10 15:50] Jarvi-Izana commented on #2278
Are you using the public s3 region? Have you tried to set `export TURI_S3_REGION=<YOUR_S3_REGION>`?

[2019-09-10 17:43] #1935 closed

[2019-09-10 19:47] TobyRoseman commented on #2291
TuriCreate is API compatible with MXNet 1.5.0. TuriCreate even use 1.5.0 but only for Python 3.7 with macOS. We couldn't get it to work on Linux. We got nondeterminstic hangs in several but not all of our deep learning toolkits.

@rplom - are you using macOS or Linux? What toolkit are you using (i.e. what method are you calling `.create(...)` on)?

[2019-09-11 03:13] sbaner03 commented on #2278
Hi,
Tried fixing the s3 region but got the same error

os.environ['AWS_ACCESS_KEY_ID'] = S3_ACCESS_KEY
os.environ['AWS_SECRET_ACCESS_KEY'] = S3_SECRET_KEY
config.set_runtime_config('TURI_FILEIO_INSECURE_SSL_CERTIFICATE_CHECKS', 1)
os.environ['TURI_S3_REGION'] ='ap-south-1'
itemMaster = SFrame.read_csv('s3://mrlanalytics/itemMaster.csv')

------------------------------------------------------------

[2019-09-11 03:18] Jarvi-Izana commented on #2278
Thanks @sbaner03. Currently, the flag `TURI_S3_REGION` doesn't support
[code]
You need to either set through shell `export` or `config.set_runtime_config`.  I know it's cumbersome.

The issue is related to s3 region for sure. I can repro it locally and we are working on it.

[2019-09-11 06:46] sbaner03 commented on #2278
Hi,
It seems like you are right. My notebook instance has a different region from the s3 bucket instance. When the two regions are common, I have been able to read the csv into a Sframe. However, when I use config.set_runtime_config('TURI_S3_REGION','ap-south-1'), it still triggers an error.

os.environ['AWS_ACCESS_KEY_ID'] = S3_ACCESS_KEY
os.environ['AWS_SECRET_ACCESS_KEY'] = S3_SECRET_KEY
config

[2019-09-11 07:06] dhivyaaxim commented on #2276
@TobyRoseman I have run pytest for turicreate after configuring and making process. It shows "= 7 failed, 1166 passed, 88 skipped, 17 xfailed, 3 xpassed, 1052 warnings, 27 error in 4861.34s (1:21:01) =". The outcome after each pytest is different  . I have also pytested after modifing code for this issue faced with " 7 failed, 1184 passed, 88 skipped, 17 xfailed, 3 xpassed, 1038 warnings, 9 error

[2019-09-11 09:11] GaneshKumarSelvam opened #2301 "'tuple' object has no attribute 'column_names'"
Im new to Python while inserting images in DB, why am I getting this error, how can we solve this issue.

File "/usr/local/lib/python3.6/site-packages/turicreate/toolkits/image_classifier/image_classifier.py", line 242, in create
    if target not in dataset.column_names():
AttributeError: 'tuple' object has no attribute 'column_names'

[2019-09-11 18:42] TobyRoseman commented on #2301
Hi @GaneshKumarSelvam - it looks like you are calling `tc.image_classifier.create` and passing a tuple rather than an SFrame for the `dataset` parameter (i.e. the first parameter). You need to [create and SFrame](https://apple.github.io/turicreate/docs/userguide/sframe/sframe-intro.html) with your data then pass that to `tc.image_classifier.create`.

Take a look at our user guide for more informat

[2019-09-11 19:20] guy4261 opened #2302 "libbz2.so.1.0 missing?"
Since 5.7, I've been getting the following on my OracleLinux 6.9 (kinda like Centos) machines:
`ImportError: libbz2.so.1.0: cannot open shared object file: No such file or directory`.

`yum list installed | grep bz2` shows me that `bzip2-devel.x86_64` ([the relevant library](https://centos.pkgs.org/7/centos-x86_64/bzip2-devel-1.0.6-13.el7.x86_64.rpm.html)) is installed, yet this still happens.

Pe

[2019-09-11 20:09] TobyRoseman commented on #2274
This is already fixed in master by #2212. Closing.

[2019-09-11 20:09] #2274 closed

[2019-09-11 22:16] TobyRoseman commented on #2276
@dhivyaaxim - We have [instruction for running unit tests](https://github.com/apple/turicreate/blob/master/BUILD.md#running-unit-tests). Is that what you're doing?

Also make sure your fork is completely update to date. I just ran our internal tests and all of our unit tests passed. So if your `master` is up to date with `upstream/master`, it should work for you.

If you've already made the change

[2019-09-11 23:54] Jarvi-Izana commented on #2175
#2210

[2019-09-11 23:54] #2175 closed

[2019-09-12 03:49] rplom commented on #2291
macOS X running your standard install with venv
I followed the requirements you have on the manual page.

[2019-09-12 04:15] rplom commented on #2291
When I got up around ~62K sounds (I don't know the exact number) I started hitting MXNet integer overflow issues.  I tracked down the issue in MXNet and built a 1.5.0 version with the USE_INT64_TENSOR_SIZE.  As soon as I ran Turicreate I got  warning about my numpy.  I updated that.  The next run I got an error with numpy wanting a new Tensorflow.  I successfully ran the model creation at that poi

[2019-09-12 07:08] dhivyaaxim commented on #2302
@guy4261  Install libbzz package and recompile it

sudo apt-get install libbz2-dev

[2019-09-13 20:39] hoytak opened #2308 "Improve getting started section in landing page of github for new users"
This section could use a bit more material to get new users up and running more quickly.

[2019-09-14 00:58] rplom commented on #1712
I can take this issue.  I have extensively tested it with padding with silence and have not seen any issues with the layers being confused.

[2019-09-14 00:59] TobyRoseman commented on #1712
Thanks @rplom - the issue is yours. I'm happy to code review it when it's ready.

[2019-09-14 01:51] carlosdelamora opened #2309 "Style transfer on GPU"
So the documentation [here](https://github.com/apple/turicreate/blob/master/LinuxGPU.md) claims that it is possible to run Style transfer on the GPU's. I have tried using the following docker image [dimage](https://hub.docker.com/r/jidebingfeng/turicreate/dockerfile). But when I run my model it runs in the CPU instead of the GPU.

`<pre>Using 'image' in style_dataset as feature column and using 'i

[2019-09-14 02:42] rplom commented on #2291
How about numpy?  MXNet wants an updated number when I bump the version.

[2019-09-15 07:44] guyinbar opened #2311 "Inconsistency between turicreate str_to_datetime and datetime.datetime.strptime"
Inconsistency between `tc.str_to_datetime()` and `datetime.datetime.strptime()` since
`tc.str_to_datetime()` uses c++ boost `minimum-date-time` (`"1400-Jan-01"`) as defualt value while `datetime.strptime()` uses `"1900-01-01T00:00:00.000"`

[code]

results :
[code]

[2019-09-15 20:08] guihao-liang opened #2312 "pep8 compatible code style check before build"
I found this in a project of my personal interest and it might help us:
[code]
A universal python coding style consistent with pep8 is super helpful, isn't it?

[2019-09-16 08:14] Jensap opened #2313 "One Shot Object Detection SIGSEV MacBook Pro 13" 2019"
import turicreate as tc
starter_images = tc.SFrame({'image':[tc.Image('Stop.png')], 'label':['Stop']})
model = tc.one_shot_object_detector.create(starter_images, 'label')
model.save('OneShotObjectDetector.model')
model.export_coreml('OneShotObjectDetector.mlmodel')

Error:
Downloading https://docs-assets.developer.apple.com/turicreate/data/one_shot_backgrounds.sarray.tar
Download completed: /var/f

[2019-09-16 10:48] saddif opened #2314 "Style transfer - iOS app results not as impressive as turicreate stylized images."
Hello,

This is amazing work guys, i have a question:

I have been making models using the style transfer, they look pretty amazing when testing them in jupyter notebook with the function (similar to pytorch/ tensorflow versions)

sample_image = test_images['image'][0]
stylized_image = model.stylize(sample_image, style=0)
tcshow(stylized_image)

However using the model in iOS app - they dont seem

[2019-09-16 17:47] TobyRoseman commented on #2309
We didn't create that docker image. However it does look reasonable.

The only thing I can suggest trying is adding `/usr/local/cuda/extras/CUPTI/lib64` to your `LD_LIBRARY_PATH`. Also make that CUDA 8 is the right version for you.

What is the output of `turicreate.config.get_num_gpus()`?

[2019-09-16 18:49] #2283 closed

[2019-09-16 19:20] shantanuchhabra commented on #2313
Hey @Jensap ,
Thank you for trying out the one shot object detector!
1. Could you share the macOS version and the Turi Create version that you are using?
2. Also, if it’s okay with you, would you be able to share the "Stop.png" image you used so we can try to repro this?
3. Is this issue intermittent or does this always happen?
Thanks!

[2019-09-16 19:24] abhishekpratapa commented on #2314
@saddif thank you again for using our style transfer toolkit!

The iOS CoreML model and the TuriCreate model should be performing the same on similar images, so it's hard off the top of my head to say why exactly this is occurring.

If you have any of the following:

- Before and after pictures
- The CoreML model
- The TuriCreate model
- Your Xcode and MacOS version

that you could share it would

[2019-09-16 23:53] carlosdelamora commented on #2309
The output of `turicreate.config.get_num_gpus()` is `-1`. I have also added `/usr/local/cuda/extras/CUPTI/lib64` to my `LD_LIBRARY_PATH`. Now `echo $LD_LIBRARY_PATH` outputs `/usr/local/cuda/lib64:/usr/local/nvidia/lib:/usr/local/nvidia/lib64:/usr/local/cuda/extras/CUPTI/lib64`

I am not sure on how to determine that CUDA 8 is or is not the right version.

[2019-09-17 05:59] Jensap commented on #2313
Hi @shantanuchhabra ,

1. my macOS Version is 10.15 beta 8 (Build 19A558d)
2. The image is the following: https://img.rewe-static.de/0119032/1741150_digital-image.png?resize=1320px:1320px&output-quality=90&output-format=image
3. The issue does always happen with this picture but on this for example it does not happen with this one:
https://png2.kisspng.com/sh/908c2cedc8f1491e619c8497d1d46f07/L0KzQ

[2019-09-17 13:19] dhivyaaxim commented on #2044
@znation  Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-09-17 16:19] nickjong opened #2317 "Adopt conventional meanings of "iteration" and "epoch", at least for NN toolkits"
The Activity Classifier toolkit has a parameter `max_iterations` which actually specifies the number of epochs (passes through the training data). We should consider using `max_epochs` for this and possibly keeping `max_iterations` (defaulting to `None`?) to mean number of actual mini-batches, for consistency with the broader deep learning community.

[2019-09-17 18:37] thealokkr opened #2318 "what is the replacement of tc.feature_engineering?"
Hi
I need to custom build a feature engineering transformer however feature_engineering has been deprecated. It seems that feature engineering has been moved inside individual models.
Is there any equivalent of feature_engineering to use?

[2019-09-17 20:59] znation commented on #2044
Hi @dhivyaaxim, sure, thanks for your help!

[2019-09-17 21:55] TobyRoseman commented on #2318
@thealokkr - You probably want to write a function and use the SFrame/SArray `.apply` function. Can you give us more information about what you are trying to do? We may be able to help.

[2019-09-17 22:23] TobyRoseman commented on #2309
I'm guessing the system isn't setup correctly for your GPUS. See if the NVIDIA System Management Interface can even find your GPUs. From the command line try running:
`nvidia-smi --query-gpu=index,gpu_name,memory.free,memory.total --format=csv,noheader,nounits`

[2019-09-17 22:53] TobyRoseman commented on #2317
The following toolkits all take a `max_iterations` parameter:
- Activity Classifier
- Image Classifier
- Drawing Classifier
- Sound Classifier
- Object Detector
- One Shot Object Detector
- Style Transfer

It seems that for following three toolkits `max_iterations` means number of mini-batches:
- Object Detector
- One Shot Object Detector
- Style Transfer

For all the other toolkits `max_iteration

[2019-09-17 23:09] shantanuchhabra commented on #2284
Fixed by #2297

[2019-09-17 23:09] #2284 closed

[2019-09-18 00:33] shantanuchhabra commented on #2313
Hey @Jensap ,

We did some investigation and realized that the Segmentation Fault was coming from decoding the [starter image](https://img.rewe-static.de/0119032/1741150_digital-image.png?resize=1320px:1320px&output-quality=90&output-format=image), so this is actually independent of the One Shot Object Detector. We then created a repro independent of the toolkit which was as follows:
[code]
We wil

[2019-09-18 00:51] shantanuchhabra commented on #2313
For further debugging/development purposes:

**Image that causes the segmentation fault:** https://img.rewe-static.de/0119032/1741150_digital-image.png?resize=1320px:1320px&output-quality=90&output-format=image
**Repro Script:**
[code]

First, I tried incorporating the changes from https://github.com/apple/turicreate/pull/2319 and still got the Segmentation Fault.

I ran [file](https://en.wikipedi

[2019-09-18 01:19] Jensap commented on #2313
Thank you very much!

[2019-09-18 03:36] thealokkr commented on #2318
Thanks for the reply, Yes a custom function can be written but inside that function i need to use categorical imputer. I can custom code the categorical imputer as well but that would be re-inventing the wheel.  Is it possible to use feature_engineering directly on SFrame like it used to be done in graphlab?

[2019-09-18 11:47] davidswaven commented on #1378
similar issue with some Serbian characters  :
tc.text_analytics.count_ngrams(tc.SArray(['Tuširanje']), method='character')
fails with UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc5 in position 1: unexpected end of data
because of char š apparently not supported.

interestingly tc.text_analytics.count_ngrams(
            tc.SArray([u'Tuširanje']), method='word') does not fail but returns

[2019-09-18 12:05] sohels opened #2322 "Unable to export ranking_factorization_recommender to CoreML"
Here's a simple example:

[code]

Sample data that causes the error is attached (2 line csv).
[train.csv.zip](https://github.com/apple/turicreate/files/3626235/train.csv.zip)

I see the following error when I run the above code with the attached sample data:

[code]

[2019-09-18 16:35] #2236 closed

[2019-09-18 18:39] TobyRoseman commented on #2318
Sorry, `feature_engineering` has been removed. There is currently no replacement.

I'd like to understand more about your use case. Do you just want to impute the most popular category for missing values? Or do you need something more complicated?

[2019-09-18 21:56] TobyRoseman commented on #1712
This has now been fixed for deployment to CoreML. #2310 updated the user guide to pad partial windows with zeros/silence.

Let's leave this issue open until we have a similar fix for prediction on the Python side.

[2019-09-18 23:11] #2301 closed

[2019-09-18 23:50] sirahd commented on #1582
The alignment issue is already solved, but there should be axis ticks between every bin boundary (see screenshot).

`tickMinStep` is the property we could set to render correct behavior, but first we need to compute bin width and populate the histogram template with the computed bin width value. Now, the complication is that vega template gets generated before the bin computation happens. So we pr

[2019-09-19 00:26] hoytak commented on #2322
Correct.  The Item similarity recommender is currently the only model that is exportable to CoreML, although we are looking into ways to make the other models exportable as well.   The main reason for this is that the other models rely heavily on user-specific data, which raises privacy concerns and model size issues when exported to an app; the item similarity method can be queried effectively us

[2019-09-19 06:41] sohels commented on #2322
@TobyRoseman @hoytak Yes, I had noticed the error message, and thanks for engaging on the correct choice of model. Since the model would be updated on-device using CoreML 3 APIs, I don't think there should be any privacy concerns. If it helps, what we're trying to do is to build some ML into our email app that observes and learns from user actions, to then automate triage to some extent. For examp

[2019-09-19 10:39] foreversunyao opened #2330 "Does turicreate support popular functions in "graphlab Turi" ?"
For example, https://turi.com/learn/userguide/timeseries/timeseries-data.html#resampling , I did not find similar function in turicreate .

[2019-09-19 19:50] TobyRoseman commented on #2330
This is not supported by TuriCreate. Currently TuriCreate has no time series support.

We're already tracking this issue in #378. I'm going to close this issue as a duplicate.

[2019-09-19 19:50] #2330 closed

[2019-09-19 20:57] sirahd commented on #1751
The cause for this is that `\x` is one of the special character for unicode that needs to be followed by hex number, e.g. `\x23`, but we didn't detect and add special escape `\x` character before we pass it to the swift UI.

[2019-09-19 23:35] jimmyeisenhauer commented on #2147
I am seeing this same issue

[2019-09-20 01:17] TobyRoseman commented on #2249
Sadly, we can not fix this in our next release. Although `coremltools` (one of our dependencies) claims that they supports numpy `>= 1.14.5`. They actually only support `>= 1.16.0`.

I opened apple/coremltools#456 with them.

Since MXNet requires `numpy >=1.8.2,<1.15.0`, there's no way we can make this work, without removing MXNet or using a newer version of MXNet.

[2019-09-20 05:57] mxlei01 commented on #942
Possible workaround if anyone stumbles on the same problem while I was working on a lot of images on disk.

I create random integers, sorts it, then add row numbers that you can index later. The try except clause is used to remove the column name "id" if we ran this function multiple times, since the add_row_number function does not work if you already have the same id.

[code]

[2019-09-20 09:57] dhivyaaxim commented on #1233
@znation  Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-09-20 15:20] TobyRoseman commented on #1751
@sirahd - Thanks for figuring that out. Are there any other special characters that we should be escaping but aren't?

[2019-09-20 17:51] sirahd commented on #1751
@TobyRoseman Assuming that the special characters are in Swift (where the error was previously thrown), there are `\0`,`\\`,`\t`,`\n`,`\r`,`\"`, `\'` and `\x` (https://docs.swift.org/swift-book/LanguageGuide/StringsAndCharacters.html). I have tested all of them with two `\` characters and they all work properly.

[2019-09-20 18:00] #1978 closed

[2019-09-20 18:52] #1751 closed

[2019-09-20 20:51] #1231 closed

[2019-09-20 22:02] sirahd commented on #2042
I have tracked down the comparison logic to [unity_sarray_binary_operations.cpp](https://github.com/apple/turicreate/blob/037e112032c40c330885bf9cb7ba136d7a61e020/src/core/storage/sframe_interface/unity_sarray_binary_operations.cpp#L527) where the equality is performed by address comparison for every type. The fix would be to use image comparison if both elements are images. Are there any other ty

[2019-09-20 22:14] jimmyeisenhauer commented on #822
i have this same issue

[2019-09-23 00:32] carlosdelamora commented on #2309
You are correct `nvidia-smi: command not found` I am going to close this ticket since the problem is not really with turicreate

[2019-09-23 00:32] #2309 closed

[2019-09-23 14:04] lp55 opened #2338 "Precision / Recall / Accuracy - Object Detector"
Hi,

   How can I get Precision / Recall / Accuracy / etc metrics for an object detector? model.evaluate only gives me mAP based ones. If I try something like this:

#test_data is the sframe created for testing the object detector. It has the same structure as the sframe used for training
predictions = model.predict(test_data)
prec = tc.evaluation.precision(test_data["annotations"], predictions, a

[2019-09-23 15:43] dhivyaaxim commented on #598
@znation @TobyRoseman  Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-09-23 19:00] shantanuchhabra opened #2341 "Starter image has the same (x,y) coordinates for the center of the starter image in the augmented dataset."
#2329 is an attempt to fix this, but needs more testing and fixing.

As a result, if the starter image is big compared to the backgrounds, it may not appear in the augmented dataset at all. As a workaround, one can try resizing the images down.

[2019-09-23 19:06] saddif commented on #2314
Hi, thanks for the quick reply. I think u might be correct - I’ll try training with a higher input resolution and see if that makes it better. Thanks for your help

[2019-09-23 20:09] gamemania opened #2342 "Importing Turicreate Version 4.1 with Python3.6"
Hi,

We have been trying to work in a virtual machine at work to convert our Python 2 jobs to Python 3. Whenever we were using turicreate4.0 with Python2.7 we had no issues. When we switched to Python 3 we keep seeing this error:

"Traceback (most recent call last):
  File "src/features/build_features.py", line 5, in <module>
    import turicreate as tc
  File "/env/lib/python3.6/site-packages/tur

[2019-09-23 20:38] TobyRoseman commented on #2342
@gamemania - please try using `virtualenv`. See our [installation instructions](https://github.com/apple/turicreate#installation) for details.

[2019-09-23 22:10] gamemania commented on #2342
Hi,

We are already using a virtualenv. I forgot to mention that. We create a python3.6 virtual environment and still see the same error.

Kind regards,
Murat.

On Sep 23, 2019, at 15:39, Toby Roseman <notifications@github.com> wrote:

﻿

@gamemania<https://github.com/gamemania> - please try using virtualenv. See our installation instructions<https://github.com/apple/turicreate#installation> for d

[2019-09-24 03:00] znation commented on #2342
Hi @gamemania, I think this may be fixed in later releases of Turi Create. I'm not sure exactly which release it would have been fixed in, but could you try upgrading to a later (5.x) release and see if it works (both for your use case, and if it fixes this issue in particular)?

[2019-09-24 04:10] gamemania commented on #2342
Hi @znation thank you very much for the suggestion. Here is the error I get when we have turicreate5.7.1:
"ImportError: libbz2.so.1.0: cannot open shared object file: No such file or directory".

When we use turicreate 4.0 with Python 2.6, we are not seeing any error. I am not sure why is this problem occurring in Python 3.x (we tried on 3.5, 3.6, and 3.7), and turicreate >= 4.1.0.

Thank you all

[2019-09-24 11:01] dhivyaaxim commented on #1269
@TobyRoseman  @znation Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-09-24 16:30] #1984 closed

[2019-09-24 19:04] znation commented on #1269
Thanks @dhivyaaxim!

[2019-09-24 19:07] znation commented on #598
Thanks @dhivyaaxim!

[2019-09-24 19:21] TobyRoseman commented on #2342
The most recent issue (i.e. the libbz2.so.1.0 issue) looks like a dup of #2302.

[2019-09-24 21:28] shantanuchhabra opened #2348 "Style Transfer Error on `stylize`"
MacOS 10.15, Python 3.6

Repro script:
[code]

Got the following error:
[code]

[2019-09-24 21:50] abhishekpratapa commented on #2348
@shantanuchhabra So the input has to be of type `SFrame` rather than dictionary.

[2019-09-24 22:52] shantanuchhabra opened #2349 "Style Transfer Mac GPU results not looking good."
Python 3.6
macOS 10.15

**Repro script**

[code]

**Style image**

![style](https://user-images.githubusercontent.com/14062641/65555666-1b175580-dee2-11e9-92f3-af4cc2d06a94.jpg)

**Content image**

![content](https://user-images.githubusercontent.com/14062641/65555682-279bae00-dee2-11e9-92b2-01365109d4f6.png)

**Output image**

![image_output](https://user-images.githubusercontent.com/14062641/655

[2019-09-25 00:24] abhishekpratapa commented on #2349
Weight updates weren't being passed.

[2019-09-25 00:45] TobyRoseman commented on #2348
Let's get a better error message here. It should be an easy fix. Reopening.

[2019-09-25 06:12] #89 closed

[2019-09-25 06:26] shreyajain17 opened #2353 "Verbosity is too high when using TF with AC toolkit (C++ implementation)"
[code]

[2019-09-25 06:31] shreyajain17 opened #2354 "Validation loss is higher when using TF with AC toolkit (C++ implementation)"
[code]

[2019-09-25 17:07] fareeha opened #2357 "Error log does not indicate TF installation required"
On Mac, Python 2.7

If TF flag set to `True` in `activity_classifier.create()` without TF installed. The error message does not indicate that TF is missing:

[code]

Installing TF fixes the issue

[2019-09-25 17:26] #2044 closed

[2019-09-25 18:24] kid9591 commented on #1016
I have the same problem as you. iPhone running CoreML model in portrait mode cannot detect the object while in landscape mode, it could. But when move the phone horizontally, the offset between bounding box and object become larger.
Could someone explain to me this problem, please?
@philimanjaro @gustavla @yousifKashef

![IMG_3683](https://user-images.githubusercontent.com/7839927/65628707-31b1cf8

[2019-09-25 18:57] fareeha opened #2358 "AC for TF missing symbols on Linux"
Symbols not found on Linux. Works on Mac.

[code]
GCC demangler conversion: `typeinfo for turi::neural_net::compute_context`

[2019-09-25 19:02] shantanuchhabra commented on #2349
As an update, the output image after 5k iterations is the same as the output image after 1 iteration.

[2019-09-25 22:46] #1600 closed

[2019-09-26 00:09] shantanuchhabra opened #2363 "Passing a single image to `preview_synthetic_training_data` fails"
Repro script:
[code]

We get the following error.
[code]

The fix is to move [this line](https://github.com/apple/turicreate/blob/master/src/python/turicreate/toolkits/one_shot_object_detector/util/_error_handling.py#L18) inside the `if` statement for when `dataset` is an `SFrame`.

[2019-09-26 06:15] znation opened #2365 "Build break in libcurl dependency"
On Xcode 11 Beta 5:

[code]

[2019-09-26 21:03] #2365 closed

[2019-09-26 21:04] znation opened #2367 "image/drawing_classifier.annotate() should support notebook target"

[2019-09-26 21:04] znation opened #2368 "Evaluation.explore should support notebook target"

[2019-09-26 21:06] znation opened #2369 "tc.Plot() should be able to accept an Altair chart"
Currently we accept Vega JSON; we should be able to auto-detect when an Altair chart is passed in and call `to_json()` on it under the hood.

Thanks @domoritz for the tip!

[2019-09-26 23:48] carlosdelamora commented on #649
I am also interested in object segmentation. Specially to work with the vision framework.

[2019-09-27 05:19] #2358 closed

[2019-09-27 18:03] fareeha opened #2373 "AC with TF does not use GPU and breaks with ToolkitError"
On Linux, Python 3.5

AC with TF defaults to using CPU (even when 4 GPUs available) and breaks with the following error:

[code]

Disabling TF flag runs AC with the underlying GPUs.

[2019-09-27 18:37] jakesabathia2 commented on #1314
It turns out the issue is not due to non-maximum suppression,
instead it is due to the fact that the sample code for Object Detection provided by Apple
(https://developer.apple.com/documentation/vision/recognizing_objects_in_live_capture)
shows a 'normalized' confidence which enforces scores across all classes sum to 1,
which produce confidence near 1 for the predicted class.
If you want to get th

[2019-09-27 18:51] fareeha commented on #2373
The issue happens when TF installation is missing.

Fix:
To enable running TF with CPU: `pip install tensorflow`
To run using GPU(s): `pip install tensorflow-gpu`
Checked with version 1.14.0

[2019-09-27 18:51] #2373 closed

[2019-09-28 01:29] #2363 closed

[2019-09-30 10:54] kid9591 opened #2375 "CoreML could not detect object in iPhone camera's portrait mode"
I successfully trained an Object Detection model and exported in CoreML format.
My model has 300 iterations and mean_average_precision is about 0.7.

I then validate it with some images using TC and bounding box drawing util and it could recognize the object pretty well.

I then downloaded the sample project for recognizing objects in live capture here:
https://developer.apple.com/documentation/vi

[2019-09-30 17:24] #2042 closed

[2019-09-30 21:06] fareeha opened #2377 "AC TF does not use GPUs on Linux"
Ubuntu 18, TF 1.14.0, Python 2.7

AC for TF does not run on GPUs (even when CUDA and cuDNN requirements are satisfied)

[code]

If I disable TF then AC runs on GPUs:

[code]

[2019-09-30 21:07] nickjong opened #2378 "AC import from custom model expects "random_seed" state not present in custom models"
The initial implementation for importing an AC model saved with the old Python implementation attempts to read the "random_seed", but "random_seed" is only populated from C++.

https://github.com/apple/turicreate/blob/432af44763b18753e4524e9ba025e8915ac884eb/src/toolkits/activity_classification/activity_classifier.cpp#L523

[2019-09-30 22:42] fareeha commented on #2377
It looks like GPUs are being used but it is incorrectly printing `Using CPU to create model`:

[code]

[2019-10-01 00:44] TobyRoseman commented on #2377
It looks like that incorrect print statement is a result of [this set of if/elif/else statements](https://github.com/apple/turicreate/blob/03103bac61ec3e5936978a205a7ffa33b84e54ad/src/python/turicreate/toolkits/activity_classifier/_activity_classifier.py#L227). It's probably time for us to start thinking about creating something analagous to `_mxnet_utils.py` for TensorFlow.

[2019-10-01 05:50] shreyajain17 commented on #2377
@TobyRoseman I have already made `_tf_utils.py` and now I am adding the functionality to `get_gpu_names()`. It is actually a result of [this if/else statement](https://github.com/apple/turicreate/blob/03103bac61ec3e5936978a205a7ffa33b84e54ad/src/toolkits/activity_classification/activity_classifier.cpp#L834).

[2019-10-01 17:57] TobyRoseman commented on #2377
Awesome!

[2019-10-01 18:52] fareeha commented on #2357
Refer to #2373

[2019-10-01 18:52] #2357 closed

[2019-10-01 22:40] #598 closed

[2019-10-01 23:07] fareeha opened #2383 "Unclear if AC TF has multi GPU support"
We may need to investigate to understand if all GPUs are being utilized during AC TF training

[code]

[2019-10-02 00:36] syoutsey opened #2384 "HTTPS downloads fail with Turi Create 5.7"
HTTPS downloads fail with Turi Create 5.7. This issue does not reproduce on Turi Create 5.6.

System: macOS 10.15 beta

Error: `OSError: Cannot open https://static.turi.com/datasets/audioscrobbler for read. Not implemented: compiled without support for http(s):// URLs.`

Reproduction steps - working version:

[code]

Reproduction steps - nonfunctional version:

[code]

[2019-10-02 08:46] foreversunyao commented on #378
Any progress updates for this ? do we have any plan for when will this new feature be released ?

[2019-10-02 16:31] syoutsey commented on #378
Hi @foreversunyao, we don't have any immediate details regarding support for this feature. Could you give us more detail about your use case and how you'd like to use this feature? Thanks!

[2019-10-02 21:25] syoutsey commented on #1984
Hi @jakesabathia2, was there a commit/PR that addresses this issue?

[2019-10-02 21:26] #1314 closed

[2019-10-02 21:29] jakesabathia2 commented on #1984
Yes PR #2320

[2019-10-02 23:25] hoytak commented on #2384
This could intersect with https://github.com/apple/turicreate/pull/2387.  This fixes a few places where the if-defs were wrong.

[2019-10-03 00:32] hoytak commented on #2322
Hey @sohels -- sorry for the delay in getting back to you here.

I'm not sure the recommender is the way to go there -- the confidence levels required to adequately assess that sort of thing would be a bit tricky to work with.  An on-device classifier model would probably be your best bet there, but I'm not sure how best to make that work currently.  It's a use case that we're certainly thinking a

[2019-10-03 00:38] hoytak commented on #2384
Could we confirm that this works with 5.6?  In the browser it says it's invalid.

[2019-10-03 00:39] shantanuchhabra commented on #2384
Yes, on it right now.

[2019-10-03 00:41] znation commented on #2384
It's valid if you assume it's a directory filled with SFrame contents.

[2019-10-03 00:43] hoytak commented on #2384
Ah, I see. Yes, then this is a regression.

[2019-10-03 01:18] TobyRoseman opened #2390 "Appending Empty SArray Should Ignore Type"
Constructing new SArrays and appending them to an existing SArray is a very common usage pattern.  Sometimes these new SArrays end up being empty, in which case the type is assumed to be float. This causes a problem if the SArray being appending to is not also of type float.

[code]

I suggest we ignore types when appending an empty SArray. It should just be a no-op.

[2019-10-03 01:20] shantanuchhabra commented on #2390
Dupe of #1184

[2019-10-03 01:22] shantanuchhabra commented on #2390
While this is closely related to #1184, reopening this issue since this addresses ignoring type when appending to an empty SArray. Fixing #1184 will fix this, but this can also be fixed independently.

[2019-10-03 05:32] abhishekpratapa opened #2392 "Style and Content Loss Multipliers need to be optimized for MPS GPU"
<img width="1247" alt="Screen Shot 2019-10-02 at 10 03 15 PM" src="https://user-images.githubusercontent.com/4616962/66101588-447c5500-e564-11e9-8009-1acd3c543c56.png">

The style and content Loss multipliers are different in the GPU vs the CPU. A search needs to be done to find correct values for these variables.

The top row is the stylization on the GPU after `800` iterations.
The bottom row is

[2019-10-03 07:53] foreversunyao commented on #378
@syoutsey the features like https://turi.com/products/create/docs/generated/graphlab.TimeSeries.html , resample and others, right now I have to use pandas to do this part

[2019-10-03 21:48] shantanuchhabra opened #2396 "OD/AC Model saved in one iPython session throws KeyError in a different iPython session"
macOS 10.15

Currently able to repro for the following toolkits:
- Object Detection
- Activity Classifier

After saving a model in one iPython session, when we try to load it in a different iPython session (regardless of whether the Python version is different or not), we get the following error:
[code]

This is a problem with current master and **does not repro with Turi Create 5.7**

[2019-10-03 22:27] shantanuchhabra opened #2398 "Model saved in one iPython session throws ToolkitError in a different iPython session"
macOS 10.15

Currently able to repro for the following toolkits:
- Image Classification
- Drawing Classification

After saving a model in one iPython session, when we try to load it in a different iPython session (regardless of whether the Python version is different or not), we get the following error:
[code]

This is a problem with current master and **does not repro with Turi Create 5.7**

[2019-10-04 01:24] jakesabathia2 opened #2399 "OD Model crash when exporting cormel after import saved model."
When we import a saved model and export it to coreml,
we got errors.
[code]
produce a crash:
[code]

[2019-10-04 03:48] sirahd opened #2400 "ex_boost build target fails on macOS 10.15"
According to the Xcode 10 release note:

`/Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg`

However, our build step for `ex_boost` specifies the option `--with-toolset=clang`, which will use the macOS headers installed under `/usr/include`. Since my local machine doesn't have these headers under `/usr/include`, the build step fails.

I have found the solution to

[2019-10-04 07:36] dhivyaaxim commented on #2066
@TobyRoseman @znation Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-10-04 10:59] dhivyaaxim opened #2401 "Classifier - add_image_features method is not defined"
@znation @TobyRoseman  add_image_features method is not defined

**Error:**
import turicreate as tc
 images = tc.image_analysis.load_images("/home/aximsoft/Desktop/images")
 images = tc.image_classifier.annotate(images)
[15:54:15] src/nnvm/legacy_json_util.cc:209: Loading symbol saved by previous version v0.8.0. Attempting to upgrade...
[15:54:15] src/nnvm/legacy_json_util.cc:217: Symbol successfu

[2019-10-04 17:33] Jarvi-Izana opened #2402 "segfault when dropping words in text_classifier on table containing undefined values."
[code]
The `corpus.json` has a trailing comma, which is invalid under json standard but we can parse it at our loose internal standard. It will introduce an extra row with all fields filled with undefined.
[code]

[2019-10-04 18:06] shantanuchhabra commented on #2396
Fixed in latest master.

[2019-10-04 18:06] #2396 closed

[2019-10-04 18:06] shantanuchhabra commented on #2398
Fixed in latest master.

[2019-10-04 18:06] #2398 closed

[2019-10-04 22:34] Jarvi-Izana commented on #2384
Do we have a sample http/https dataset we can use to do integration test?

[2019-10-04 23:06] syoutsey commented on #2384
@Jarvi-Izana I'm not sure what you mean, does the SFrame linked in the original error report work?

[2019-10-04 23:26] shantanuchhabra opened #2406 "OSOD Unit Tests take very long."
Will update this issue with concrete timed numbers when I have some, but we need to find a way to reduce the time that OSOD unit tests take. They take *very long* right now.

[2019-10-05 00:17] shantanuchhabra opened #2407 "Intermittent C++ Unit test failure in vega_example_tests.cxx"
Attaching error log:

[code]

[2019-10-05 08:11] tapaswenipathak commented on #767
Hi folks: I would like adding a PR, can you please tell me the existing state?

[2019-10-05 08:23] tapaswenipathak commented on #2368
Hi @znation: writing.

[2019-10-06 03:01] Jarvi-Izana commented on #2384
@syoutsey Yes, it's fixed in #2405. I need another link to a small sample data for test purpose to make sure we won't break reading from https/http in the future.

[2019-10-07 16:30] syoutsey commented on #2384
@Jarvi-Izana does this work? https://static.turi.com/datasets/nips-text

[2019-10-07 18:27] znation commented on #2368
Note: this issue is about making the interactive web-based UI from Evaluation.explore show up inline in the notebook while remaining interactive.

Challenges here include: getting that UI to work over http (#2241 is a prerequisite for this), and making sure the front-end UI doesn't impact the broader page when embedded in a notebook cell.

[2019-10-07 18:28] znation commented on #767
@hoytak, can you provide some advice here?

[2019-10-07 22:31] Jarvi-Izana commented on #2384
@syoutsey That doesn't contain frame formatted data. Do you have dataset similar to `https://static.turi.com/datasets/audioscrobbler` but with small size, probably 1 row is enough for us to test pull data over real network.

[2019-10-08 17:21] dogahe opened #2417 "Item Content Recommender - Recommend from Interactions"
I have trained a model as follows:

    `relevant_data = data.select_columns(['full_url', 'text_content'])`
    `model = tc.recommender.item_content_recommender.create(relevant_data, "full_url")`

I know I can use the model to find items that have similar `text_content` by passing their URL as follows:

    `recommendations = model.recommend_from_interactions(['full_url_1'], 20)`

But what I am al

[2019-10-08 20:53] dogahe commented on #2034
@hoytak Hi - I am going back to this problem again and would like to understand more details about how item_content_recommender works, specially after I implemented in our app and have some doubts about why certain items are being recommended. Basically the same question as I have above, but I wanted to check with you again to see if there is any new documentation on this? Also the links that you

[2019-10-09 10:34] deppp commented on #828
Hi @znation

We're the developers of open-source labeling tool that I think may fit well into the turi workflow, check out github.com/heartexlabs/label-studio

If you think it can fit let's discuss what steps do we need to take to integrate it.

[2019-10-09 18:43] #2399 closed

[2019-10-09 18:51] #2378 closed

[2019-10-09 21:19] TobyRoseman commented on #2034
@dogahe - here are the updated links:
https://github.com/apple/turicreate/blob/master/src/python/turicreate/toolkits/recommender/item_content_recommender.py
https://github.com/apple/turicreate/blob/master/src/python/turicreate/toolkits/_feature_engineering/_autovectorizer.py

[2019-10-10 11:53] dhivyaaxim commented on #2221
@TobyRoseman  @znation  Please assign this ticket to me as I would like to try fixing it and contribute. Thanks in advance!

[2019-10-10 11:58] dhivyaaxim commented on #647
@znation @TobyRoseman Please assign this ticket to me as I would like to try fixing it and contribute. Thanks in advance!

[2019-10-10 11:59] dhivyaaxim commented on #860
@znation  Please assign this ticket to me as I would like to try fixing it and contribute. Thanks in advance!

[2019-10-10 12:00] dhivyaaxim commented on #1761
@TobyRoseman  Please assign this ticket to me as I would like to try fixing it and contribute. Thanks in advance!

[2019-10-10 12:22] dhivyaaxim commented on #1184
@znation Please assign this ticket to me as I would like to try fixing it and contribute. Thanks in advance!

[2019-10-10 17:48] znation commented on #1184
@dhivyaaxim Actually I think this may be by design as is. @hoytak, what are your thoughts on this?

[2019-10-10 17:49] znation commented on #860
@dhivyaaxim Done, thanks!

[2019-10-10 17:58] znation commented on #2221
Thanks @dhivyaaxim!

[2019-10-10 19:51] fareeha opened #2427 "Activity Classifier create() in py3.5 takes 3-7x longer to execute for MXNET than TF"
Ubuntu 18.04, Python 3.5

**MXNET - Python 3.5 and 1 GPU**
Training time:  17.4s
`create()` time: 283.25s

**MXNET - Python 3.5 and 4 GPUs**
Training time:  49.93s
`create()` time: 204.95

**TF - Python 3.5 and 1 GPU**
Training time:  21.00s
`create()` time:  50.07s

**TF - Python 3.5 and 4 GPUs**
Training time:  24.78s
`create()` time:  54.98s

[2019-10-10 20:00] fareeha opened #2428 "Jobs take longer in AC MXNET from Python 2.7 to Python 3.5"
Ubuntu 18.04
The same job with the same number of iterations in Py 2.7 and Py 3.5

**MXNET - Python 2.7 and 1 GPU**
Training time:  11.1s
create() time:  25.88s

**MXNET - Python 2.7 and 4 GPUs**
Training time:  19.0s
create() time:  43.28s

**MXNET - Python 3.5 and 1 GPU**
Training time:  17.4s
create() time: 283.25s

**MXNET - Python 3.5 and 4 GPUs**
Training time:  49.93s
create() time: 204.95

[2019-10-10 20:00] fareeha opened #2429 "Activity Classifier MXNET compute time increases on Py2.7 w/ number of GPUs"
Ubuntu 18.04
MXNET compute time goes up, with the number of GPUs available for the same job on Python 2.7

**MXNET - Python 2.7 and 1 GPU**
Training time:  11.1s
create() time:  25.88s

**MXNET - Python 2.7 and 4 GPUs**
Training time:  19.0s
create() time:  43.28s

**MXNET - Python 3.5 and 1 GPU**
Training time:  17.4s
create() time: 283.25s

**MXNET - Python 3.5 and 4 GPUs**
Training time:  49.93

[2019-10-11 00:19] ChaiBapchya commented on #1678
Hello! @nickjong @alkravchenko This might come in late. But since I see MXNet being used at lot of places still in the codebase I think I can still jump in.

I'm an active contributor to Apache MXNet. It is a worry that there are incompatibilities between MXNet and your optimizations and that we as MXNet community haven't resolved them actively. I am curious to learn more about the same and if the

[2019-10-11 05:39] dhivyaaxim commented on #789
@TobyRoseman  @znation  Please assign this ticket to me as I would like to try fixing it and contribute. Thanks in advance!

[2019-10-11 07:46] shantanuchhabra opened #2436 "Object Detection Linux build failure"
Build fails on Linux with the following error:

[code]

The fix is probably to add the const qualifier for the comparison function.

[2019-10-11 10:42] dhivyaaxim commented on #1915
@znation Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-10-11 18:17] znation commented on #1915
Thanks @dhivyaaxim!

[2019-10-11 21:36] shantanuchhabra opened #2441 "Object Detection C++ Test Failure"
On `master`, we have a C++ unit test failure in `test_od_serialization.cxx`

[code]

[2019-10-11 21:57] shantanuchhabra opened #2442 "`debug/test` build failure."
Repro steps:

[code]

Expected:

Build should pass.

Actual:

[code]

[2019-10-11 22:23] fareeha commented on #2441
#2418 Test `test_init_darknet_yolo` needs to be updated to match change in model initialization i.e. added pool layers.

[2019-10-12 00:32] #2436 closed

[2019-10-12 00:34] TobyRoseman commented on #1678
@ChaiBapchya - Thanks for reaching out. I appreciate it. However we've already began the migration from MXNet to Tensorflow.

We basically have two issues with MXNet. First, all versions of MXNet which support Python 3.7 also require AVX2 support. Second, we were getting regular non-deterministic hangs from MXNet when running on Linux with Python 3.7.

[2019-10-13 04:58] znation commented on #2232
This is now broken on publicly available (non-Beta) builds. I just upgraded macOS via System Preferences and Xcode via the App Store and I can repro this. I'll put up a fix to ignore the deprecation warning for now.

[2019-10-14 18:42] #2442 closed

[2019-10-14 22:56] abhishekpratapa opened #2453 "Style Transfer model_spec definition unreadable"
- Refactor the unwrapped nn_spec variable in `src/toolkits/style_transfer/style_transfer_model_definition.cpp` to be more readable.

[2019-10-15 03:22] jakesabathia2 opened #2455 "Master built fail in Linux system"
It turns out the line system need const for the lambda function when sorting.
[code]
Will make a PR for this quick fix

[2019-10-15 03:35] #2455 closed

[2019-10-16 00:25] #2441 closed

[2019-10-16 00:31] #2066 closed

[2019-10-16 15:51] dogahe opened #2460 "Nearest Neighbors Log"
`model = tc.nearest_neighbors.create(references)` with an SFrame of all strings outputs `Starting brute force nearest neighbors model training.` with no more logs to follow it. Although I think the model still gets created properly, or at least I hope. But maybe just the log does not reflect the progress and completion.

[2019-10-16 16:33] syoutsey commented on #2375
Hi @kid9591, this is almost certainly because of the way the iPhone captures photos and then associates EXIF data describing the phone's rotation at capture. It's likely that the photos you trained with had a different orientation than the image being used for inference.

You can view the EXIF data of a photo in Finder on macOS - this should help reveal whether the images you used were "rotated" w

[2019-10-16 16:33] #2375 closed

[2019-10-16 18:52] vade commented on #919
Hi

Im curious if there is any public documentation on CoreML's device selection heuristic. With the addition of 10.15's CoreML preferredMetalDevice API for MLModelConfig, I imagined it would be possible to force the MTLDevice an MLModel / Vision request runs on.

In my testing with integrated, discrete and eGPU, it appears only the eGPU consistently runs the CoreML model. My CoreML Model is a pip

[2019-10-16 20:02] Jarvi-Izana commented on #2384
fixed by #2405

[2019-10-16 20:02] #2384 closed

[2019-10-16 22:25] #1367 closed

[2019-10-16 22:33] TobyRoseman commented on #2460
Does the call to `tc.nearest_neighbors.create` return? If so, try calling `print(model)`.

[2019-10-16 22:35] TobyRoseman commented on #2375
Possibly related to #1147.

[2019-10-17 09:52] kuri54 opened #2463 "Change visualization.categorical_heatmap algorithm?"
Has the "visualization.categorical_heatmap" generation algorithm changed from Turicreate5.8?

<img width="729" alt="5 6-1" src="https://user-images.githubusercontent.com/40049003/66998610-83d3a580-f10f-11e9-9d1c-2804d5d3afc5.png">
<img width="733" alt="5 8-1" src="https://user-images.githubusercontent.com/40049003/66998616-8504d280-f10f-11e9-9608-bf61d5f17253.png">
<img width="752" alt="5 6-2" src

[2019-10-17 12:00] jennigato opened #2465 "Loss is NaN when training object detector on GPU"
I know this issue has been submitted before #629, but I'm still experiencing the same issue with Nan losses after the first iteration when training on GPU (works fine on CPU).

I'm using the latest version of TuriCreate (5.8) on an iMac (late 2013, 3.4 GHz Quad-Core Intel Core i5, 16 GB 1600 MHz DDR3) running macOS Catalina (10.15), with NVIDIA GeForce GTX 775M 2G. Decreasing my batch size to 8 or

[2019-10-17 13:34] dogahe commented on #2460
You could try it out with this as references
`test_references = tc.SFrame({'text1': ['Hi, how are you?', 'I am great, thanks!']})`. The model gets created and print shows:

[code]

So as I mentioned before the problem is only the generation of logs. But also I am curios why the `Distance` is not shown in the `print` statement. I am curios to know what distance function was used.

[2019-10-17 18:21] TobyRoseman commented on #2463
Hi @kuri54 - Please provide a few more details here. It would be helpful if you could share the following information:

1 - Are you just curious if there has been a change, or do you think there is some sort of bug or degradation? If so, what is the bug/degradation?
2 - Can you share a simple example (i.e. code + data) to generate charts like the ones you shared?

[2019-10-17 19:21] TobyRoseman commented on #919
@vade - this isn't the right place to ask this question. I suggest reporting the issue here: https://developer.apple.com/bug-reporting/

[2019-10-17 19:41] vade commented on #919
I hear you @TobyRoseman - however having these convo's in the open rather than behind closed feedback is helpful to other developers who have similar questions, and leaves a breadcrumb trail to answers. I'm sure you understand!

But yes, ive asked there and on S/O as well. Appreciate the response!

[2019-10-17 22:57] kuri54 commented on #2463
I think it's a bug.
Obviously the color is different and the generated image is a little different.

If it's a silent fix, that's fine, but I want to know if there is any intentional fix.

Since I am actually using this heat map in my research, I am worried about whether to correct all the data.

You can't get a simple example right away, so please refer to the official API ...

[2019-10-17 23:26] ccarse commented on #1612
I'd like to add that as a Windows user that would like to try out turicreate, a docker image would be really nice. Thanks.

[2019-10-18 00:26] TobyRoseman commented on #2463
@kuri54 - I don't think anything has changed with the heat map. Looking at our [release notes](https://github.com/apple/turicreate/releases), I don't see anything that look relevant for `5.7`, `5.7.1` or `5.8`.

Yes, the colors are different. I'm not sure that's a sign of a bug.

[2019-10-18 00:41] znation commented on #2463
@kuri54 Other than the colors changing, I don't see any other differences here. My interpretations of the charts are (and correct me if I'm wrong):

* The first chart shows 10 true positive examples in both 5.6 and 5.8.
* The second chart shows 9 true positives and one false positive, in both 5.6 and 5.8.

It's not clear to me that the 5.6 renderings are in any way more "correct" than 5.8; though

[2019-10-18 01:05] kuri54 commented on #2463
I'm sorry for my poor English. The explanation was not good.

This time I felt the problem was that the color and the scale at the top of the graph were different.

The numbers in the generated graph are very accurate and are not considered a problem.

At the same time, with the upgrade of Turicreate, the OS was changed to Catalina. To be honest, I don't have a clue where the color problem is due.

[2019-10-18 01:20] znation commented on #2463
Hi @kuri54, I think I know what may have caused it. We [upgraded our dependency version](https://github.com/apple/turicreate/pull/2152) of [Vega](https://vega.github.io) (the visualization library we use) and it seems that the default color palette(s) changed between versions. Since the new one looks at least as good to me as the old one, I wouldn't consider this a bug. Would you mind explaining w

[2019-10-18 01:21] znation commented on #2463
(Note that Altair uses Vega as well, so the same color palette changes may occur if the defaults change in between versions.)

[2019-10-18 05:22] kuri54 commented on #2463
So that's it.

It was very rough to describe it as a bug. I'm sorry.

I couldn't publicize the research, but I was thinking of making a machine learning model using the generated heat map. To that end, I thought that the format of the heat map, including the colors, had to be unified.

However, these were only for my convenience.

[2019-10-18 05:42] znation commented on #2463
No worries @kuri54, thank you for explaining! Glad we were able to find the cause of the issue.

I suggest for future use of visualization in this manner, you may want to stick to a particular Turi Create version, as the visualizations may change (either because we have changed the design, or incidentally because we have changed the implementation). I will close this issue for now.

[2019-10-18 05:42] #2463 closed

[2019-10-18 06:18] #2377 closed

[2019-10-18 16:36] #2402 closed

[2019-10-21 21:46] elrid opened #2471 "mxnet 1.5 requires AVX2, which is not present on nehalem CPU's [resulting in illegal instruction segfault]"
Right now turicreate has minimum requirement of nehalem cpu architechture, but one of the dependencies (mxnet==1.5.0) requires AVX2 instruction set, which is not present on nehalem architechture.

Version for python2.7 still uses 1.1, last mxnet without AVX2 requirement, so you may need to bump the requirements for turicreate, or bump down mxnet

[2019-10-21 22:26] TobyRoseman commented on #2471
`mxnet==1.5.0` is only used for Python 3.7 on macOS. Note: Python 3.7 is not supported on Linux.

For Python 2.7, 3.5, and 3.6 - AVX2 support should not be needed. For those versions of Python TuriCreate uses `mxnet >= 1.1.0, < 1.2.0`. Which means `mxnet==1.1.0.post0` is used unless the user's environment has other requirements for MXNet. This version of MXNet does not need AVX2 support.

TuriCrea

[2019-10-22 02:14] TobyRoseman opened #2473 "Ctrl+C doesn't interrupt SArray.to_numpy()"
Likely this has the same root cause as #1232

[2019-10-22 17:34] #1915 closed

[2019-10-22 17:43] TobyRoseman opened #2477 ""make python_source" build is slow"
Steps to reproduce:
[code]
Despite there being only python changes, the `make python_source` seems to be doing just as much work as `make -j`.

`make python_source` should be very quick, just a couple of seconds. It should just copy the python files. On my machine the `make python_source` takes almost 30 seconds.

This only started to be an issue recently. It's likely related to the recent remotef

[2019-10-22 17:46] TobyRoseman commented on #2477
Even with out any changes `make python_source` takes about as much time as `make -j`:

[code]

[2019-10-23 07:51] dhivyaaxim commented on #2290
@znation  Please assign this ticket to me as I would like to try fixing it and contribute. Thanks in advance!

[2019-10-23 07:56] dhivyaaxim opened #2483 "Issue for supporting Google Colab Jupyter Notebook under plot.show() function"
plot.show() function doesn't  have support for Google Colab Jupyter Notebook .

[2019-10-23 07:57] dhivyaaxim opened #2484 "Issue for supporting Google Colab Jupyter Notebook under sframe.explore() function."
sframe.explore()  function doesn't have support for Google Colab Jupyter Notebook .

[2019-10-23 08:25] c7jie opened #2485 "Hello, I have a trouble on WSL"
when I enter 'import turicreate':

[code]

------
So, what can i do for it?
python 3.6
WSL: ubuntu
turicreate:5.8

when i use anaconda, it is same

[2019-10-23 18:46] yousifKashef commented on #828
try this:

https://apps.apple.com/us/app/touch-annotator/id1478864595#?platform=iphone

it works on iOS devices

[2019-10-23 22:13] shantanuchhabra opened #2489 "Intermittent C++ test failure in test_mps_image_augmentation.cxx"
macOS 10.15

Repro steps:
[code]

Expected:
All tests should pass

Actual:
[code]

[2019-10-23 22:50] TobyRoseman commented on #2290
@dhivyaaxim - Thanks for your offer to help here. However this may not be a good one to do right now. TuriCreate is currently in the process of swapping out our current deep learning dependency (MXNet) for TensorFlow. So the code which generates this table will probably be changing a lot in the near future. Once we're done moving to TensorFlow this issue might even fix itself.

[2019-10-23 22:53] TobyRoseman commented on #2483
Is this the same root issue as #1269? Does the workaround mentioned there also work here?

[2019-10-23 22:54] TobyRoseman commented on #2484
Is this the same root issue as #1269? Does the workaround mentioned there also work here?

[2019-10-23 23:06] #860 closed

[2019-10-23 23:07] #1233 closed

[2019-10-24 00:17] jakesabathia2 opened #2490 "OD's data iterator shouldn't throw error for invalid labels."
In the current implementation of OD data iterator,
it throws error when invalid labels are presented in data.
[code]
It should be modified to what the Python version is doing now:
silently neglect those bounding box instead.

[2019-10-24 02:11] TobyRoseman opened #2492 "Can create an SArray from a numpy array of more than 2 dimensions"
The last line of this code:
[code]
Produces the error: `TypeError: Cannot convert Numpy arrays of greater than 2 dimensions`.

I think we should be able to create an SArray from a numpy array of greater than 2 dimensions. I don't think there is an inherent we can't.

Doing the following works: `tc.SArray([[[1]]])`. However creating that SArray, exporting it to numpy, then trying to create an SArra

[2019-10-24 05:39] hri-tikkumar commented on #117
**will you add cross_validation.KFold in turicreate or not?**
@igiloh @Kagandi @znation @srikris @hoytak @afranklin

[2019-10-24 05:40] hri-tikkumar opened #2493 "Will you add cross_validation.KFold in turicreate or not?"
**will you add cross_validation.KFold in turicreate or not?**
@igiloh @Kagandi @znation @srikris @hoytak @afranklin

_Originally posted by @hri-tikkumar in https://github.com/apple/turicreate/issues/117#issuecomment-545753326_

[2019-10-24 05:42] znation commented on #2493
#117 looks like a reasonable feature request; not sure why it got closed. Reopening that one.

[2019-10-24 05:42] #2493 closed

[2019-10-24 05:43] znation commented on #117
Not sure why this was closed. It's a reasonable feature request. Reopening.

[2019-10-24 05:48] hri-tikkumar commented on #2493
@znation thank you! for opening #117 again.

[2019-10-24 07:17] dhivyaaxim commented on #2483
@TobyRoseman   Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-10-24 07:19] dhivyaaxim commented on #2390
@TobyRoseman Please assign this ticket to me as I would like to try fixing it and contribute. Thanks in advance!

[2019-10-24 16:42] chyzzqo2 commented on #788
How is support looking for the next release? The 3.7 issue on MXNet is closed but since @TobyRoseman closed it before the comment above, i don't think it is actually the blocker. Is there any issue on that repo that we can follow?

[2019-10-24 18:17] nickjong opened #2498 "Exported Object Detection models have input image width and height swapped"
Our Core ML export for OD incorrectly swaps the height and width of the images expected by the network. This hasn't been an issue until we began supporting non-square output grids, which imply non-square input images. CoreML/Vision will silently resize images to the incorrectly specified dimensions, resulting in erratic performance.

This appears to be fixed in the C++ code path being adopted for

[2019-10-24 18:51] BillyBag2 opened #2499 "Object detection not using all CPUs Ubuntu"
Using Ubuntu 18.04.3 on a 2x4 core xeon and I only get 200% CPU usage. I have tried to set OMP_NUM_THREADS=8 and also to 32. These make no difference to the performance. The timing, CPU usage and memory usage are all the same. With it set to 32 turicreate bleats about adding code to set TURI_DEFAULT_NUM_PYLAMBDA_WORKERS. Adding this code stops the bleating but performance is the same, CPU usage, t

[2019-10-24 19:44] #1269 closed

[2019-10-25 16:17] jakesabathia2 opened #2506 ""non_maximum_suppression_threshold" should be deleted for future OD"
Now in `init_training()`, a state `non_maximum_suppression_threshold ` is added to store the information of the you threshold for nms.
The reason is the threshold is only for the inference part,
and we want users to choose the threshold by themselves.

[2019-10-25 18:41] rhcpfan commented on #670
Are you sure that it runs on the GPU instead of the CPU?

[2019-10-27 13:37] alelordelo commented on #819
hello guys, any ETA for pix2pix style image transfer?

cheers

[2019-10-28 06:54] lunardog opened #2509 "Image Similarity Documentation is still unclear"
This sentence sounds like it's a patchwork of partial sentences:

[code]

How should it read?

[2019-10-28 07:02] lunardog commented on #2509
My attempt to fix in PR #2510

[2019-10-28 17:49] znation commented on #2485
Seems a dupe of #528. Please try the workaround listed in that thread.

[2019-10-28 17:49] #2485 closed

[2019-10-29 11:59] dhivyaaxim commented on #954
@TobyRoseman  Please assign this ticket to me as I would like to try fixing it and contribute. Thanks in advance!

[2019-10-29 18:41] TobyRoseman commented on #2509
Fixed by #2510

[2019-10-29 18:42] #2509 closed

[2019-10-30 04:14] dhivyaaxim commented on #1665
@znation  Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-10-30 04:20] dhivyaaxim commented on #915
@znation  Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-10-30 05:04] znation commented on #1665
@dhivyaaxim Thanks for volunteering to fix this! I think it may already be fixed in latest master, so try to repro it first.

[2019-10-30 11:47] dhivyaaxim commented on #1184
@hoytak  Any updates on this issue?

[2019-10-30 12:01] dhivyaaxim commented on #1761
@TobyRoseman  Please assign this ticket to me as I would like to try fixing it and contribute. Thanks in advance!

[2019-10-30 20:02] znation opened #2526 "Not a JPEG file: starts with 0x42 0x4d"
While following https://apple.github.io/turicreate/docs/userguide/image_classifier/, I get lots of errors of the form:

[code]

This is apparently expected, since the file format doesn't appear to match the file extension:

[code]

I think we should autodetect file format from the content of the file (and probably ignore the file extension); this is what other image tools like Preview.app appear t

[2019-10-30 20:04] znation opened #2527 "Support for CMYK color space"
While following the image classifier user guide at https://apple.github.io/turicreate/docs/userguide/image_classifier/, I get an error on one of the images:

[code]

This is a valid JPEG image, with CMYK color space. We should support CMYK color space and convert it to our internal representation.

[2019-10-30 20:07] znation opened #2528 "Corrupt JPEG data: 258 extraneous bytes before marker 0xd9"
While following the image classifier user guide at https://apple.github.io/turicreate/docs/userguide/image_classifier/, I get some random errors about "Corrupt JPEG data". This is after (successfully) loading these images into SFrame, and the errors only show up (but are not fatal errors) during training:

[code]
[code]
[code]

I think the files should be validated on load, so that during training

[2019-10-30 20:09] znation opened #2529 "UserWarning: Passing parameter(s) to COUNT is deprecated."
I get this warning while following the image classifier chapter of the user guide at https://apple.github.io/turicreate/docs/userguide/image_classifier/:

[code]

[code]

At no point did I actually call this "deprecated" API directly. We should update our own internal calls to make sure we don't give warnings to users while calling non-deprecated API.

[2019-10-30 20:09] znation commented on #2529
This is on 5.8.

[2019-10-30 20:31] TobyRoseman opened #2530 "SArray Converts numpy array to array.array"
The following code print out `<class 'array.array'>`:
[code]
Expected: the type should be a numpy array, i.e. it should print out `<class 'numpy.ndarray'>`.

Curiously, that's what happens if you pass a list of numpy arrays. Using
`x = [np.ones(10) for _ in range(5)] `
creates an SArray of numpy arrays.

[2019-10-30 20:38] TobyRoseman opened #2531 "Can not create SArray with dtype list"
The following code
[code]
Produces this stack trace:
[code]
Expect: no error and `sa` has a data type of `list`.

Doing just `sa(x)` works.

I suspect this is a Python 3 issue. I'm using Python 3.6.8.

[2019-10-30 21:06] #2221 closed

[2019-10-30 21:11] TobyRoseman commented on #915
The fix for this is probably very similar to #2470.

[2019-10-31 03:24] AugustRush commented on #635
any update?

[2019-10-31 08:55] alonpal opened #2540 "Removing duplicates based on a subset of columns"
It would be useful to remove duplicate rows of an SFrame based on a subset of columns, similar to pandas' `drop_duplicates`.

In pandas:
[code]
Results in:
[code]

As a workaround I used the following but I am not sure if `SELECT_ONE` preserves its choice across columns
[code]

[2019-11-01 18:03] jakesabathia2 opened #2551 "Warming message if the provide class_labels doesn't exist in the training dataset."
The OD data iterator ignore the bounding box with invalid label.
It might be helpful to proving warning if the "class_labels" contains labels which
do not exist in the training data.
Say user provide [catt,dog], while the training data has [cat,dog],
or user just provide [chair, horse] with data only contains [cat,dog].

[2019-11-03 05:49] lunardog opened #2556 "Is there a way to do multidimensional regression?"
I have a dataset of image embeddings, I'm trying to train a model that will transform `'VisionFeaturePrint_Scene'` features into my dataset. What model should i use?

I extracted the `VisionFeaturePrint_Scene` features and tried this:

[code]

but the error message is:

[code]

How can I do multidimensional regression with Turicreate?

[2019-11-04 08:27] #2490 closed

[2019-11-04 12:29] dhivyaaxim commented on #804
@TobyRoseman @znation Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-11-04 20:16] hoytak commented on #1184
Hey @dhivyaaxim, thanks for your interest in this.  I think we're holding off changing this in any way because (1) there's not a clear default here that would improve this behavior, and (2) any changes would be API breaking, which we're trying to minimize.

Down the road we'd like to introduce support for SArrays with heterogenous types or undefined type, which would be the right way to do this.

[2019-11-04 21:45] TobyRoseman commented on #2556
TuriCreate does not support multidimensional regression.

It's a good feature request; I'll leave this issue open.

One (poor) workaround would be to train a separate model for each entry in the `dataset['embedding']` space.

[2019-11-04 22:01] #789 closed

[2019-11-05 00:06] syoutsey opened #2562 "Add Turi Create version to user-defined metadata in Core ML model"
Turi Create should add a key to the [user-defined Core ML metadata](https://developer.apple.com/documentation/coreml/mlmodelmetadatakey/2923322-creatordefinedkey) to embed which version the model was built with: `com.github.apple.turicreate.version`.

For example:

Key | Value
----|------
com.github.apple.turicreate.version | 5.8

[2019-11-05 05:06] lunardog commented on #2556
Thank you for explaining and for making it a feature request, @TobyRoseman .

[2019-11-05 12:12] ShreshthSaxena opened #2563 "How to Fine Tune a model in Turicreate?"
How can I fine tune a model such as those available here : https://developer.apple.com/machine-learning/models/

I need to detect one class of basketballs by training on a small dataset
Also I cannot find a way to change learning rate, freeze layers and modify parameters in TuriCreate. Is it not possible anyhow or already taken care of by tc?

[2019-11-05 17:29] syoutsey opened #2564 "SFrame.read_json should accept a JSON string in addition to files"
There are use cases which require a JSON string to accepted to the `SFrame.read_json` initializer instead of a path to a file. This could happen when the SFrame needs to be built with the results of a web-request API, in which case avoiding writing to a file would be more performant.

[2019-11-05 19:19] TobyRoseman commented on #2529
This is my fault. It's a bug in determining if we should omit a warning. [This line](https://github.com/apple/turicreate/blob/e520ad097c8a565c710660169cf95719335147dc/src/python/turicreate/aggregate.py#L90) should be `if len(args) != 0:` rather than `if len(args) == 0:`.

[2019-11-05 22:02] TobyRoseman commented on #2563
Hi @ShreshthSaxena - In general TuriCreate tries to do a lot of implementation details (such as setting learning rate and freezing layers) for you.

It sounds like you're interested in either [Image Classification](https://apple.github.io/turicreate/docs/userguide/image_classifier/) or [Object detection](https://apple.github.io/turicreate/docs/userguide/object_detection/). If that's not the case,

[2019-11-05 22:13] TobyRoseman commented on #2564
This is a good feature request. It also looks like you could construct a pandas dataframe from a JSON string (via pandas.read_json). Then you could create a SFrame using the pandas dataframe (the SFrame constructor accepts a pandas dataframe as input).

[2019-11-06 01:26] TobyRoseman opened #2569 "SFrame plus operator should append"
Given two SFrames:
[code]
This does not work: `sf1 + sf2`. However this does work `sf1.append(sf2)`.

Expected: `sf1 + sf2` should work and it should be equivalent to calling`sf1.append(sf2)`. This can be achieved by implementing `SFrame.__add__` and having it call `self.append`.

[2019-11-06 04:19] dhivyaaxim commented on #2569
@TobyRoseman  Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-11-06 04:21] dhivyaaxim commented on #1184
@hoytak  Thanks for detail explanation!

[2019-11-06 05:25] ShreshthSaxena commented on #2563
I'm interested in Object Detection and I've gone through the user guides already. I am looking to modify the pretrained models provided in https://developer.apple.com/machine-learning/models/
and fine tune them for my use.
For instance how can I alter the Yolov3 model to only detect one object (basketball in my case)
Or how can I change the base model from Yolov2 in tc.object_detector.create() ?

[2019-11-06 10:28] dhivyaaxim commented on #2564
@TobyRoseman  Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-11-07 00:56] TobyRoseman commented on #2563
Currently the only model supported for object detection is `darknet-yolo`. We're actively working on adding more models. We are already tracking that issue in #1734.

It sounds like your use case is a little different. You want to use an arbitrary object detection model as a starting point for a TuriCreate object detection model. This is also currently not supported. I'll leave this issue open as

[2019-11-07 20:18] #1759 closed

[2019-11-07 23:12] syoutsey commented on #2266
Keeping open during 6.0 to evaluate instruction set compatibility with `manylinux2010`.

[2019-11-07 23:14] syoutsey commented on #1974
To verify after implementing in C++.

[2019-11-07 23:18] syoutsey commented on #1763
For this release either fix or skip this test.

[2019-11-07 23:28] syoutsey commented on #635
Hi @enzyme69, this feature was released as part of Turi Create 5.8. We'll close this issue and if you see issues please create a new issue. Thanks!

[2019-11-07 23:28] #635 closed

[2019-11-08 06:59] ShreshthSaxena commented on #2563
Okay, Thanks
When should we expect more backbones other than darkness-yolo for Object Detection?

[2019-11-08 18:03] TobyRoseman commented on #2529
Fixed by #2579

[2019-11-08 18:03] #2529 closed

[2019-11-08 22:15] syoutsey commented on #2401
@dhivyaaxim what version of Turi Create and OS are you using? I'm unable to reproduce this error with Turi Create 5.8, Python 2.7 (as above), on macOS 10.15.1.

[2019-11-08 22:48] syoutsey commented on #2562
We already have this feature implemented for some of our existing toolkits: boosted trees classifier, decision tree classifier, logistic classifier, random forest classifier, SVM classifier, boosted trees regression, decision tree regression, linear regression, random forest regression, text classifier, and activity classifier. See [here](https://github.com/apple/turicreate/blob/master/src/python/

[2019-11-08 23:08] syoutsey commented on #2562
Actually, this appears to be implemented for neural networks [as well](https://github.com/apple/turicreate/blob/master/src/toolkits/coreml_export/neural_net_models_exporter.cpp#L427).

[2019-11-08 23:56] syoutsey commented on #2562
Given the fact that we already include metadata in the `creatorDefinedKey`, this issue should track renaming the key `turicreate_version` to the above and ensuring it's present in all exported model types.

[2019-11-09 13:11] MartinaRogach opened #2589 "ModuleNotFoundError: No module named 'turicreate'"
I installed turicreate using virtualenv
MacBook-Pro-Martina:~ martina$ pip3 install virtualenv
MacBook-Pro-Martina:~ martina$ virtualenv venv
MacBook-Pro-Martina:~ martina$ source ~/venv/bin/activate
(venv) MacBook-Pro-Martina:~ martina$ pip install -U turicreate
MacBook-Pro-Martina:~ martina$ which pip3
/Users/martina/venv/bin/pip3
 MacBook-Pro-Martina:~ martina$ which python3
/Users/martina/venv

[2019-11-11 10:39] dhivyaaxim commented on #2540
@TobyRoseman  Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-11-11 14:56] srikris commented on #670
@nickjong Closing this since we are moving to TF.

[2019-11-11 14:56] #670 closed

[2019-11-11 17:01] #2484 closed

[2019-11-11 17:01] #2483 closed

[2019-11-11 18:15] srikris opened #2591 "Drawing classifier on current master crashes during training"
On running the following command
[code]

It results in the following errors.

[code]

[2019-11-11 18:55] srikris opened #2592 "Export coreml in activity classifier should not return an object"
[code]

[2019-11-11 19:25] christinalau opened #2593 "Updatable Activity Classifier in Turi not giving good results"
I would like to create an Updatable Activity Classifier that will allow racquet sports users to create their own personalized CoreML model to detect 5 swing motion (forehand, backhand, smash, forehand volley and backhand volley) for different racquet sports including tennis, padel, squash, badminton, pickelball and racquetball using their Apple Watch. I would like to add this new feature to [Tenni

[2019-11-11 19:37] abhishekpratapa opened #2594 "build_cpp_linux_no_remotefs"
This build fails with:

[code]

[2019-11-11 19:37] TobyRoseman commented on #2589
@MartinaRogach - It's not clear what you are trying to do. Are you trying to install an official release of TuriCreate and use it? Or our you trying to setup a dev environment for making changes to TuriCreate?

We have [instructions for installing TuriCreate](https://github.com/apple/turicreate#installation) and  [instructions for building TuriCreate](https://github.com/apple/turicreate/blob/maste

[2019-11-11 19:44] syoutsey commented on #2589
@MartinaRogach I don't actively use PyCharm, is it possible it's not using the same `venv` you activated from the Terminal? This would explain Turi Create not being found.

[2019-11-11 19:55] TobyRoseman opened #2595 "Can not load saved model with S3 path"
We have the ability to load save SFrames and SArrays using S3 paths. However we can not load saved model using S3 paths. We get the error: `ValueError: Unsupported protocol `.

We should support loading model with S3 paths.

[2019-11-11 20:28] srikris commented on #2595
Is this a regression from 5.8? or was it always broken?

[2019-11-11 20:38] TobyRoseman commented on #2595
It does not work in 5.8. I believe it worked at some point.

I just put up a PR. It was a simple fix.

[2019-11-12 02:02] anilkatti commented on #2593
Hi @christinalau ! I will help you debug this. There are a lot of subtleties here so, please bear with me. Let's start with your Test 3. Could you please tell me:

1. Accuracy with DataSet2 before starting update process.
2. Number of epochs you ran this training for
3. Learning rate you used in this case
4. Accuracy with DataSet2 after the update was complete.
5. Value of loss at the end of each

[2019-11-12 02:04] shantanuchhabra opened #2599 "Object Detector C++ unit tests do not compile."
Running `make` inside `debug/test` on current master leads to the following error:

[code]

[2019-11-12 05:33] srikris commented on #2599
Addressed by #2590

[2019-11-12 07:16] subodhchhabra commented on #454
@shantanuchhabra , were you able to find a workaround of same ?. I have same issue with 20K data  points

[2019-11-12 09:21] tidbeck opened #2600 "Error calling TCMPSReadFloatArray"
**Hardware:**
MacBook Pro (Retina, Mid 2012)
2,3 GHz, 8GB, Geforce GT 650M

**Software version:**
macOS Catalina 10.15.1
Python 3.7.4
turicreate 5.8

**Steps to reproduce**
[code]

**Result**
[code]

[2019-11-12 12:29] christinalau commented on #2593
Hi @anilkatti , can you tell me how to get these data from XCode iOS? I don't seem to find such APIs. I found this page:  [Model Performance](https://developer.apple.com/documentation/createml/improving_your_model_s_accuracy) but it is for Create ML only, not Core ML. Hence I don't even have the `evaluation` or `trainingMetrics` API in my XCode project. I may be missing something obvious here.

If

[2019-11-12 15:06] srikris commented on #2506
@nickjong @jakesabathia2 Is this fixed in #2487? If so, can we close this?

[2019-11-12 15:07] srikris commented on #1706
@nickjong Is this fixed in #2431. If so, can this be closed?

[2019-11-12 15:34] srikris commented on #1974
Verified fix for 6.0

[code]

[2019-11-12 15:34] #1974 closed

[2019-11-12 15:37] srikris opened #2605 "Drawing classifier validation set to None should work"
Setting validation set to None should work
[code]

But it return the following error.
[code]

[2019-11-12 15:40] srikris commented on #2591
@shantanuchhabra Narrowed it down to a more specific failure scenario

The following works
[code]
So I'm guessing it relates to having a validation set being passed. The default test has only 50 drawings which disables all validation testing. We should probably make sure the default tests check the code path of having a validation set and then have additional tests for no validation sets.

[2019-11-12 15:41] srikris opened #2606 "Toolkits are missing __repr__"
Currently, we get the following output with some toolkits in 6.0 master (using DC as an example).
[code]

Close this issue when all boxes are checked:

- [x] Drawing Classifier (#2669)
- [x] Object Detector (#2671)
- [x] Style Transfer (#2711)
- [x] Activity classifier (#2680)

[2019-11-12 15:48] srikris opened #2607 "Classifier evaluation should have an explore in 6.0"
Seems like a regression from 5.8. The evaluation should have an explore
[code]

[2019-11-12 15:53] srikris opened #2608 "Object detector default max iterations doesn't work"
[code]

[2019-11-12 15:54] srikris commented on #2606
[code]
@nickjong Can be all fixed in one PR since it's probably the same template that needs to be moved from 5.8

[2019-11-12 18:27] #2595 closed

[2019-11-12 19:23] jakesabathia2 commented on #2506
Do we haven't, I'll put a separate PR for this.

[2019-11-12 19:25] jakesabathia2 commented on #2592
Same thing for OD hmmmm.
Should we fix them together?

[2019-11-12 19:38] srikris commented on #2592
Fixed in #2603

[2019-11-12 20:18] jakesabathia2 opened #2611 "OD c++ unit test case crash."
test_object_detector.cxx
crash with bad access error.
[code]

[2019-11-12 20:46] TobyRoseman commented on #2600
@tidbeck - Thanks for reporting this issue. Do you always get this error or is the issue intermittent?

[2019-11-12 20:56] TobyRoseman opened #2613 "API_END in mps_trainer.h needs better logging"
[The current logging](https://github.com/apple/turicreate/blob/dbf8fef9256b9a650c7e5e567d5023bfbf546821/src/ml/neural_net/mps_trainer.h#L19) is very minimal. We should print all the information we have available. We probably want to at least log the type of exception. Probably also want to catch common/expected types of exceptions and provide more info.

This is issue is hindering us from further

[2019-11-12 20:57] #2611 closed

[2019-11-12 20:57] #2506 closed

[2019-11-12 21:12] #1761 closed

[2019-11-12 21:42] jakesabathia2 opened #2616 "OD TensorFlow model should use the same padding as 5.8"
The current TensorFlow model fix the padding to `SAME` for all pooling layers,
however for 5.8 implementation, the first five pooling layers use `VALID` padding instead.

[2019-11-12 21:45] Ridingst opened #2617 "Opening SFrame.read_csv from S3 bucket"
Hi All,

Very similar to #2278 but adding the region doesn't resolve.

I'm trying to load from a private S3 bucket (running locally with minio hence the localhost endpoint).

In the following code I can load the data into the pandas df (via s3fs) without issue however I get "No files corresponding to the specified path" error within turicreate.

Any help would be greatly appreciated. Let me know i

[2019-11-12 21:53] syoutsey commented on #1706
If the `prediction_id` has been [removed](https://github.com/apple/turicreate/pull/2431/files#diff-eca1b17099e6523db8cc3aedf37c1ddbL449) from the output, then we'll also want to update the [docs](https://apple.github.io/turicreate/docs/userguide/activity_classifier/) to match this.

[2019-11-12 21:58] nickjong commented on #1706
No, our end goal was not to remove prediction ID but to implement it correctly (starting over from 1 within each session). In #2431 we punted on doing it correctly and just removed it temporarily.

[2019-11-12 22:10] syoutsey commented on #2617
Hi @Ridingst, I noticed that the filepath to `read_csv` differs in your usage of Pandas and Turi Create. What happens if you use the `s3://` prefix as mentioned in the [Pandas docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)?

[2019-11-12 23:01] TobyRoseman opened #2620 "Style Transfer User Guide Mentions Undocumented Parameter"
The ["How it works" user guide page for Style Transfer](https://apple.github.io/turicreate/docs/userguide/style_transfer/how-it-works.html) mentions the `finetune_all_params` parameter twice. However that parameter isn't mentioned in the [API docs](finetune_all_params).

Looking at the code, there are some reference to this parameter, but I don't think it actually work, at least not with the MPS i

[2019-11-13 00:32] #919 closed

[2019-11-13 00:55] #2599 closed

[2019-11-13 08:16] tidbeck commented on #2600
@TobyRoseman I tried three or four times and got it every time but not on the same iteration.

[2019-11-13 10:11] Ridingst commented on #2617
Thanks for the prompt response.

When running the pandas `read_csv` with `s3://` as a prefix it doesn't seem to pickup the endpoint url correctly. Hence why I instantiated S3FileSystem with `endpoint_url`. AFAIK there is no way to specify an endpoint when calling `read_csv` within pandas and I'm using the solution [described here](https://stackoverflow.com/questions/35803601/reading-a-file-from-a-

[2019-11-13 16:09] #2592 closed

[2019-11-13 17:14] anilkatti commented on #2593
@christinalau no worries.. let me clarify:

I meant prediction accuracy. What percent of DataSet2 did the model get right before update?

This should be visible in the Xcode UI when you double-click on the model. If you changed it at runtime by setting a value against MLParameterKey.epochs in configuration.parameters, let me know what that is. Lastly, you could set a callback to be called at end o

[2019-11-13 17:16] anilkatti commented on #2593
@christinalau Alternatively, attach a sample project with the model and DataSet2 (if it is not sensitive) and I can debug locally.

[2019-11-13 18:58] Ridingst commented on #2617
I've recreated this issue with a minimal setup in this repo: https://github.com/Ridingst/turicreate-bug-example

The script located in `/turicreate/script.py` contains the following;

[code]
turicreate_1         | First getting the csv using S3FileSystem, and pandas...
turicreate_1         |    col1  col2  col3
turicreate_1         | 0  val1  val2  val3
turicreate_1         | 1  val4  val5  val6
t

[2019-11-13 22:04] #2569 closed

[2019-11-13 22:13] christinalau commented on #2593
@anilkatti Thank you for the clarification. Here are the answers:

1. Accuracy before update process: 86%
2. Number of epochs: 10
3. Learning Rate: 0.01  (Note both are from original model, I did not make change to them).
4. Accuracy after update process: 86%. In fact it is exactly the same prediction as before update.
5. `updateContext.metrics[MLMetricKey.lossValue]` return 1.595125

Just for fun

[2019-11-13 22:28] christinalau commented on #2593
I have attached a zip file with model, original data (Under Training Data Folder), and DataSet2 (under TestFiles).
[DebugUpdate.zip](https://github.com/apple/turicreate/files/3843720/DebugUpdate.zip)

[2019-11-13 23:21] syoutsey commented on #2617
@Ridingst I think I see what's going on here. `s3fs.open()` returns a Python `File` object, which Pandas can read. Turi Create requires that the argument to `read_csv` be a string to a file on disk or on S3 (among other sources), which is incompatible with the existing `s3fs` API.

A workaround would be for your script to first get the file from `s3fs`, save it to disk, then read it with `read_csv

[2019-11-13 23:21] #2617 closed

[2019-11-13 23:38] syoutsey opened #2628 "SFrame initializers should accept a Python File object"
The various SFrame initializers should accept a Python File object, in addition to a string specifying a file on disk. This would allow for tighter integration with other Python utilities, such as the one highlighted in https://github.com/apple/turicreate/issues/2617.

[2019-11-14 09:11] srikris opened #2631 "Tensorflow prints out strange text"
[code]

[2019-11-14 15:09] srikris opened #2632 "Upgrade the version number of the Python egg to 6.0"

[2019-11-14 16:56] fareeha opened #2633 "Add shuffle to SC data iterator"
The `_NumPyDataIterator` needs shuffle implemented.

[2019-11-14 23:09] nickjong commented on #2613
This code path is going away in 6.0. `mps_trainer.h` is only for the old Python implementations to talk to the MPS backend.

[2019-11-14 23:09] #2613 closed

[2019-11-15 00:40] #798 closed

[2019-11-15 05:21] anilkatti commented on #2593
Sorry about the delay.

You tried a really good experiment. Clearly, loss is going down but, not as fast as you'd want to make a difference in accuracy.

This means we need to tune the hyper-parameter for this model. Could you try increasing learning rate? You could try different values - like 0.02, 0.03, 0.05, 0.1, 0.15, etc. Here's how you'd do that:

[code]

`progressHandler` would look somethi

[2019-11-15 05:36] srikris commented on #2631
Not sure the fix for this is easy though.

[2019-11-15 14:36] srikris commented on #2631
It might be worth identifying if we can hide all the logs for TF 6.0

[2019-11-15 14:40] srikris opened #2639 "Table printer is missing for IC feature extraction on 6.0"
On 5.8 we get the following but on 6.0 this is suppressed.
[code]

[2019-11-15 15:52] christinalau commented on #2593
@anilkatti  Here is what I found. As Learning Rate goes up, loss goes down, but accuracy also goes down. Not quite expected?

[code]

[2019-11-15 18:32] abhishekpratapa opened #2640 "TF Style Transfer doesn’t take images of different sizes"
`Cannot feed value of shape (1, 403, 311, 3) for Tensor u'Placeholder:0', which has shape '(?, 256, 256, 3)'`

[2019-11-15 18:33] abhishekpratapa opened #2641 "MPS Style transfer doesn’t converge the same way TF does"
There's an order of magnitude difference in the loss between MPS and MxNet.

[2019-11-15 18:34] abhishekpratapa opened #2642 "Style Transfer Needs to Return TF compute context instead of MPS Compute Context"
- On 10.15 follow the same fallback mechanism as Drawing Classifier for compute contexts

[2019-11-15 19:08] anilkatti commented on #2593
@christinalau could you attach a sample code for this? Just to clarify, you could not mark dense as updatable, correct?

[2019-11-15 19:29] christinalau commented on #2593
@anilkatti  That is correct. Per our other discussion, I did:
`builder.make_updatable(['dense_layer1'])`
to make the model updatable.

I have attached the 2 classes for update and prediction.
[DebugCode.zip](https://github.com/apple/turicreate/files/3852903/DebugCode.zip)

[2019-11-15 23:38] TobyRoseman opened #2646 "Drawing Classifier API Breaking Change"
Seems the drawing classifier’s create function no longer allows `validation_set=None` which is an API breaking change from 5.8.

[2019-11-16 00:20] TobyRoseman commented on #2631
This line is from coremltools not TensorFlow:
[code]

[2019-11-16 00:33] TobyRoseman opened #2648 "Can not load SFrame from S3 on Linux"
This seems to happen with any SFrame but only on Linux.

[2019-11-16 00:35] syoutsey commented on #2648
@TobyRoseman Does this also apply to loading any remote SFrame period, say like using one of the SFrames listed in our user guide?

[2019-11-16 00:39] TobyRoseman commented on #2648
I believe it affects all SFrame. We don't believe we have any S3 SFrames in our user guide.

[2019-11-16 01:14] anilkatti commented on #2593
@christinalau thanks for providing that. I spent quite some time today trying to make sense of this. Here's what I think is going on:

The last inner product layer in your model has a small number of parameters. When we increase the learning rate, the network is forgetting some things it previously learnt. It is called "Catastrophic Forgetting in Neural Networks" https://arxiv.org/abs/1708.02072

[2019-11-16 02:38] shantanuchhabra commented on #2646
Dupe of #2605, so closing this issue. PR is up at #2650

[2019-11-16 02:38] #2646 closed

[2019-11-16 07:11] srikris commented on #788
@chyzzqo2 We will be supporting 3.7 in TC 6.0.

[2019-11-16 17:24] srikris commented on #2249
Verified a python 3.6 egg using from 6607589c3fff72e95a916d26a8df71f2198bf73e.

Installation via virtual-env no longer gives
[code]

[2019-11-16 17:24] #2249 closed

[2019-11-16 17:49] srikris opened #2651 "Setting number of GPUs to 0 on a CUDA machine should disable use of GPUs"
For image classifier, the following command doesn't force compute on the CPUs
[code]

[2019-11-16 19:30] srikris opened #2652 "Regression in memory and performance from 5.8 in image classifier"
The user guide code when run on a GPU machine with 64gb ram works on TC 5.8 but crashes on current master

[code]

[2019-11-16 19:40] srikris commented on #2652
The memory regression is most likely related to https://github.com/TobyRoseman/turicreate/blob/e1a26e4c718eb899f961719a113af9aee2a47edd/src/python/turicreate/toolkits/_image_feature_extractor.py#L106. Looking at that code, there is also very likely a performance regression due to missing batching support.

[2019-11-16 19:43] srikris commented on #2652
We might have to go back to the old way of writing the code with batching and a queue to get back the same performance and memory utilization (https://github.com/apple/turicreate/pull/2503/files#diff-f0fd1119a10309fde016c251c6f5cb31)

[2019-11-16 19:49] srikris commented on #2591
Dupe of #2605.

[2019-11-16 19:49] #2591 closed

[2019-11-18 02:41] srikris opened #2658 "Differences between Mac/CoreML and Linux prediction implementations for Image classifier"
For the same loaded model and dataset, we have some discrepancy between CPU and GPU (see [the repro here](https://github.com/apple/turicreate/files/3856579/ic-gpu.zip)). This might be a bug in CoreML.

[code]

Where as on Macs, things are different
[code]

[2019-11-18 06:53] shreyajain17 commented on #2608
The value of `max_iterations` that you passed was 0 or None?

[2019-11-18 06:58] srikris commented on #2608
I was not using anything. Sorry, I should have made a clear repro step in the original bug report as I am unable to repro it now on current master. This may have been fixed. If you can verify that default and 0 both works on current master then please close this issue.

[2019-11-18 07:09] srikris commented on #2401
I am able to reproduce this on Linux. @znation @abhishekpratapa Is this feature expected to work on Linux also? The documentation doesn't say it's Mac only.

[2019-11-18 07:11] srikris commented on #2465
@jennigato Any chance you can share a reproducible step for us?

[2019-11-18 07:44] shreyajain17 commented on #2608
It works for me for default and 0. It does not work when you pass `None`. I think it breaks appropriately as it can only take `int` as input (mentioned in API docs)

[2019-11-18 07:45] #2608 closed

[2019-11-18 08:59] MarkusShepherd commented on #2249
Is it resolved, though? From what I can tell installation might work now as `mxnet` has been removed as a dependency, but the real underlying cause was the fact that several dependencies are fixed in [setup.py](https://github.com/apple/turicreate/blob/6607589c3fff72e95a916d26a8df71f2198bf73e/src/python/setup.py#L114). This means the problem is bound to resurface rather sooner than later.

Is there

[2019-11-18 09:04] shreyajain17 commented on #1907
So from the conversation till now. It seems like we want to remove training loss, right?
@srikris @nickjong @shantanuchhabra @TobyRoseman

[2019-11-18 11:06] legolasW commented on #883
Looking for the same function. Still cant use eGPU for image classification training.

[2019-11-18 15:42] srikris commented on #2249
@MarkusShepherd You are right, is is resolved (for now) in our master branch.

@TobyRoseman Here is what our setup.py says. Do you have a recommendation for how we can more permanently fix it.
[code]

[2019-11-18 18:58] #1706 closed

[2019-11-18 19:54] TobyRoseman commented on #2249
I agree we should not have fixed dependencies. We also shouldn't be depending on a beta version (i.e. `coremltools`).

In order to avoid potential conflicts in users' environments, `numpy` is by far the most important dependency to unfix. I believe we fixed the numpy version as a quick way to work around [this issue](https://github.com/apple/coremltools/issues/456).

[2019-11-18 19:57] TobyRoseman commented on #2631
I believe even that line getting printed is a regression from 5.8. It was not getting printed in 5.8 because we were not using TensorFlow in 5.8. We should probably silence output of that line too.

[2019-11-18 20:29] TobyRoseman opened #2664 "Unfix numpy dependency"
Currently in our [setup.py](https://github.com/apple/turicreate/blob/b0d779698669ea4f3056056f7b45247f8c25dea2/src/python/setup.py#L117) we fix our numpy dependency: `numpy==1.16.4`.

This is likely to cause dependency conflicts in our users' environments. Instead we should fix a minimum version. However we should be aware that the dependency range that `coremltools` specifies is [not accurate](htt

[2019-11-18 20:30] TobyRoseman commented on #2249
Created to #2664 track unfixing numpy.

[2019-11-18 22:13] znation commented on #2401
I think it is expected to work on Linux too. I'll investigate.

[2019-11-18 22:14] shreyajain17 commented on #2631
And I am supressing log from tensorflow and I had picked verbosity level to be error i.e. warnings should not be showing.

[2019-11-18 22:17] #804 closed

[2019-11-18 23:14] shreyajain17 commented on #2631
Can you tell me which python were you using?

[2019-11-18 23:15] srikris commented on #2631
Python 3.6 and Python 2.7. Do you not see this on master?

[2019-11-18 23:17] shreyajain17 commented on #2631
[code]
I see strange stuff in `create` not in `export_coreml`.

[2019-11-18 23:18] shreyajain17 commented on #2631
I use to get this before `WARNING:root:TensorFlow version 2.0.0 detected. Last version known to be fully compatible is 1.13.1 .` I think it was because I had tensorflow==1.13.1 and then I upgraded to tensorflow==2.0 without ./configure --cleanup.

[2019-11-18 23:21] srikris commented on #2631
You will see things when TF launches the first time. Let's suppress as much as we can. We can only hope TF uses the log level appropriately :)

[2019-11-18 23:22] shreyajain17 commented on #2631
That means I need suppress it everywhere it is imported?

[2019-11-19 01:24] shantanuchhabra opened #2667 "Modify behavior of `output_type="probability"` across TC."
Currently, for `output_type="probability"` in a binary classifier setting, all our supervised learning toolkits currently follow the approach of sorting labels lexicographically, and returning the probability of the last label.

This approach is kind of arbitrary, since the labels could be "cat" and "not cat", in which case the user will end up with probabilities for the label, "not cat".

For TC

[2019-11-19 01:30] jakesabathia2 opened #2668 "Different behavior for image similarity for similarity_graph() function."
[code]
The same code results in very different behavior for 5.8 and 6.0:
5.8
[code]
6.0
[code]

[2019-11-19 02:41] #2390 closed

[2019-11-19 03:01] shantanuchhabra commented on #2606
This is a little more nuanced than just a copy-paste. State variables need to be added/modified, and the summary struct needs to be modified in some places too. I suggest breaking this up into separate issues (and PRs, albeit small). What do you think @srikris @nickjong ?

[2019-11-19 03:09] srikris commented on #2606
Based on offline conversations, I think it might make sense to put it into a single PR. It should be a pretty small PR.

[2019-11-19 03:12] srikris commented on #2606
On second thought, doing it by toolkit would actually be simpler and easier to review. It would also ensure we don't have any regressions.

[2019-11-19 03:16] shantanuchhabra commented on #2606
Per offline discussion, updated this issue to track all toolkits and will put up PRs per toolkit.

[2019-11-19 05:45] nickjong opened #2672 "SArrayBuilder cannot append numpy.ndarray, although SArray.__init__ handles it"
[code]

[2019-11-19 07:11] srikris opened #2673 "Activity classifier adds training/validation loss to the display"
For an activity classifier, here is the output from master
[code]

Output from 5.8

[code]

[2019-11-19 07:41] srikris commented on #2673
If we removed loss for drawing, we should remove it here too.

[2019-11-19 07:53] srikris opened #2674 "Loading an AC model from a 5.8 saved AC model causes predict to crash"
After following the user guide models in TC 5.0 and saving out the model. Loading that model and making predictions causes a crash.

[code]

[2019-11-19 07:54] bszeng opened #2675 "Regularization Parameters in Factorization Machine"
When I called the `factorization_recommender.create()` function to build a factorization machine model, I can't match the `regularization` and `linear_regularization` to r0, r1 and r2 in libFM:

r0=bias regularization,
r1=1-way regularization
r2=2-way regularization

Thanks for any help.

[2019-11-19 07:58] #2640 closed

[2019-11-19 08:09] srikris opened #2676 "User guide needs to updated to incorporate the new AC export_coreml format"
With 6.0, we now have one feature vector per feature and one combined state. The user guide has to reflect this change (while continuing to document version 5.8-) and the code should be tested in the app.

<img width="818" alt="image" src="https://user-images.githubusercontent.com/1875987/69128290-c961f600-0a60-11ea-840d-3cbbf36ac75f.png">v

[2019-11-19 08:20] srikris commented on #2668
I think this could be very expected results because of the in-stability in predictions that are "not similar". The ordered for similarity when things are not similar is generally very random. I don't expect this to yield the same results when K is very large.

[2019-11-19 09:25] shreyajain17 opened #2677 "AC/OD/ST/DC - create/predict verbose=False does not work"
[code]

In all the toolkits (mentioned above), passing verbose=False should not print progress table. This flag is not yet working in C++ implementations for all the toolkits.

[2019-11-19 09:35] shreyajain17 opened #2678 "AC utility function `random_split_by_session` should call the C++ impl"

[2019-11-19 10:19] shreyajain17 commented on #2674
This is because `predict` was not able to find tf_compute_context. Importing `libtctensorflow` solves it. It was fixed by the PR #2645.

[code]

[2019-11-19 10:19] #2674 closed

[2019-11-19 10:32] shreyajain17 commented on #1763
I think this is fixed as we adopted the C++ implementation of AC since I can no longer see it. Still, I don't how to say if an intermittent test is fixed or not for certain.

[2019-11-19 10:35] znation commented on #1763
I think we can assume it's fixed, and close the issue. If it happens again on a Travis run, we can reopen the issue and link to the instance where it happened.

[2019-11-19 10:35] #1763 closed

[2019-11-19 13:31] dhivyaaxim commented on #1040
@TobyRoseman Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-11-19 15:30] kmilitagaitanm commented on #822
I have this issue as well

[2019-11-19 17:05] #2616 closed

[2019-11-19 17:06] #1907 closed

[2019-11-19 17:51] nickjong commented on #2667
I don't think we have time to design, develop, and test this change for 6.0. Our other API breaking changes we shipped warnings for in 5.8, and this is a bigger change than any of those.

[2019-11-19 17:56] syoutsey commented on #2675
Hi @bszeng are you able to provide a dataset or something to reproduce this issue?

[2019-11-19 18:37] syoutsey opened #2683 "User Guide needs a better versioning scheme"
We currently use an [ad-hoc method](https://apple.github.io/turicreate/docs/userguide/object_detection/export-coreml.html) of documenting API differences between versions. It would be good to have a UX where the entire user-guide is versioned, not just individual pages. Something akin to the [TensorFlow docs](https://www.tensorflow.org/versions) would be useful for Turi Create.

[2019-11-19 18:48] syoutsey commented on #2676
Working on this.

[2019-11-19 19:58] jakesabathia2 commented on #2668
Terms out to be no issues.

[2019-11-19 19:58] #2668 closed

[2019-11-19 21:03] hoytak opened #2685 "turicreate.load_audio broken with home directory present."
The following code generates a dataset that has no entries:

[code]

However, the same code where the ~ is replaced by the absolute path name works fine.

[2019-11-19 21:04] hoytak opened #2686 "turicreate.load_audio does not fail on invalid path"
Turicreate load_audio does not fail if a path does not exist:

[code]

simply produces an empty sframe.

[2019-11-19 21:12] syoutsey commented on #2594
@abhishekpratapa can you verify if this is fixed, and if so close the issue?

[2019-11-19 22:04] #954 closed

[2019-11-19 23:01] hoytak opened #2687 "sound classifier does not use standard table printer format"
The sound classifier does not use the standard table printer format for output:

[code]

Issues: lines between cells; time reported as float value of seconds instead of 1m 3s etc, iterations past 5 printed with less than 3 seconds between update.

[2019-11-19 23:08] hoytak opened #2688 "Sound classifier accuracy with TF much less than with MXNet (Mac, CPU)."
Using the following test code:

[code]

On 5.8, 4 subsequent runs produced training accuracies 0.913, 0.923, 0.919, and 0.917.  With change 41ccb592f9e9ded4298662a697c729f2f62dfe0f, the accuracies were 0.856, 0.847, 0.863, 0.823.  In addition, the accuracy frequently went up, then down in the training.  It's likely the step size is set too large.

Example runs:
[code]

[code]

[2019-11-19 23:11] #2605 closed

[2019-11-19 23:46] znation commented on #2594
It's not fixed. Still happens to me.

[2019-11-19 23:48] TobyRoseman opened #2689 "Activity Classifier Name Error with Advanced Parameters"
Stacktrace:
[code]
[`params` does indeed seem not to be defined](https://github.com/apple/turicreate/blob/93335055e6619e8e3eed4a65962c875b921bda48/src/python/turicreate/toolkits/activity_classifier/_activity_classifier.py#L166). It's not immediately clear to me how to fix it.

[2019-11-20 00:03] TobyRoseman commented on #2683
I agree this should be addressed.

I really like how scikit-learn does the versioning of their [user guide](https://scikit-learn.org/stable/user_guide.html). Basically you can always choose a different version from the left hand nav. If you're looking at anything other than the most recent version, you get a big red warning text box at the top.

[2019-11-20 00:10] TobyRoseman commented on #1040
@dhivyaaxim - Thank you for all your help. However working on this issue right now may not be the best use of your time. We're currently finishing up our migration to TensorFlow. The relevant code is in a state of flux. Also the memory requirements may have changed. I'd recommend working on a different issue for now.

[2019-11-20 00:18] nickjong commented on #2651
Looks like TensorFlow only controls this via the environment variable `CUDA_VISIBLE_DEVICES`: https://github.com/tensorflow/tensorflow/issues/9201

[2019-11-20 00:19] TobyRoseman commented on #2667
Perhaps it would be better to just get rid of `output_type="probability"` altogether. It's only supported for binary classification and that has always seemed very strange to me.

Also I agree with @nickjong - any change here is out of scope for 6.0

[2019-11-20 00:22] srikris commented on #2639
@nickjong Isn't this a dupe of 2681?

[2019-11-20 00:23] nickjong commented on #2639
This is a bug that #2681 fixes, if that's what you mean

[2019-11-20 00:24] srikris commented on #2639
Yes that's what I meant :)

[2019-11-20 00:31] srikris commented on #2651
So should we set that variable when the config sets the number of GPUs? or should we only enable this config parameter on the Mac?

[2019-11-20 00:37] TobyRoseman commented on #2685
A `~` in the path also doesn't work with `tc.load_images`. It does however work for `tc.load_sarray` and `tc.load_sframe`.

[2019-11-20 00:45] nickjong opened #2690 "New Python wrappers around C++/TF should not have "_beta" suffix"
Let's rename the classes we're shipping to not have `_beta`, and rename the old Python-based classes to something else, maybe just add the suffix `_legacy` or `_custom`

(These names are visible by querying the `__class__` of the objects returned by our `create` methods

[2019-11-20 00:57] TobyRoseman commented on #2687
@hoytak - Where is the standard table printer? I didn't think this was something we'd standardized on yet. The sounds classifier uses the same printer as the drawing classifier.

[2019-11-20 02:01] shreyajain17 commented on #2689
I think I made params when tensorflow was optional. I removed params when it wasn't need but forgot to remove the code to update `advanced_paramters_` and add them to params. I don't think we have `advanced_parameters_` as of now. I think we could just remove the `advanced_parameters` code for now.

[2019-11-20 02:03] shreyajain17 commented on #2687
I think the difference is that SC uses the pythonic way of making a table. All the other toolkits use C++ table printer and that format.

[2019-11-20 02:14] srikris commented on #2687
We should fix it when we move this over to C++ :)

[2019-11-20 02:44] srikris opened #2691 "Drawing classifier crashes on master with no validation set option"
Following the user guide dataset, here is the error I get on drawing classifier
[code]

[code]

[2019-11-20 02:45] srikris commented on #2691
Seems to work when I disable validation set testing

[2019-11-20 03:11] srikris opened #2692 "Display accuracy and predict accuracy don't match up for drawing classifier"
User the user guide data
[code]
This should be an issue in the new predict method implementation

[code]

[2019-11-20 03:18] srikris commented on #2692
This does not repro in 5.8.

[code]

[2019-11-20 06:20] shreyajain17 commented on #2692
After the tagged PR goes in, it should align -
[code]

[2019-11-20 07:40] #2642 closed

[2019-11-20 07:40] #2641 closed

[2019-11-20 10:00] znation commented on #2594
Dupe of #2302

[2019-11-20 10:00] #2594 closed

[2019-11-20 14:42] dhivyaaxim commented on #2689
@TobyRoseman  Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-11-20 14:42] dhivyaaxim commented on #2686
@hoytak Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-11-20 14:45] dhivyaaxim commented on #1040
@TobyRoseman Thanks for your suggestion!

[2019-11-20 17:38] jakesabathia2 opened #2697 "IS coreml spec includes two useless layer"
Coreml model spec for image similarity has two useless layer:
`softmax` and `fc1`, which doesn't effect the result but should be removed.

[2019-11-20 21:19] jakesabathia2 opened #2699 "Training log shows seconds instead of min/second"
Now the training log for all toolkits are showing time in seconds instead of minute + second.

[2019-11-20 22:47] jakesabathia2 opened #2703 "Object detector summary need to be implemented"

[2019-11-20 23:09] #2699 closed

[2019-11-20 23:40] #2703 closed

[2019-11-20 23:54] jakesabathia2 opened #2705 "OD predict() returns 'identifier' instead of 'label'"
5.8:
[code]

6.0:
[code]

[2019-11-21 01:24] jakesabathia2 opened #2707 "OD predict should return bounding box coordinate in normal image scale."
`predict` for OD returns something like this
[code]
for bounding box which is in normalized coordinate.
Should change it to the normal coordinate as shown in the documentation.

[2019-11-21 01:25] znation opened #2708 "Turi Create Visualization app has no icon on Linux"
![Screenshot from 2019-11-20 17-24-54](https://user-images.githubusercontent.com/5673251/69292326-b19e8500-0bba-11ea-9ca6-7a6cfc91e3c1.png)

See "Unknown" icon on left.

[2019-11-21 03:06] #2692 closed

[2019-11-21 04:35] bszeng commented on #2675
Thank you for your prompt reply @syoutsey .

The result of `FactorizationRecommender.show` is as follows, where I can only find two regularization parameters.  Is there any need for additional information?

[code]

[2019-11-21 07:23] znation opened #2716 "Annotation UI has no similar items on Linux"
The server side code needed to implement this appears to be missing (see #2401), so on Linux there is currently no image similarity model showing similar items to each image.

The annotation UI appears to generally work otherwise.

[2019-11-21 07:28] #2632 closed

[2019-11-21 09:59] #2673 closed

[2019-11-21 12:58] #2562 closed

[2019-11-21 13:03] #2690 closed

[2019-11-21 13:42] srikris opened #2717 "Perf regression on AC classifier on Linux GPU"
Previous performance numbers were on the CPU but on the GPU there seems to be a regression between 5.8 and master
[code]

[2019-11-21 13:58] shreyajain17 opened #2718 "Style Transfer verbose does not indicate the `max_iterations`"
5.8 verbose

[code]

6.0 verbose
[code]

[2019-11-21 14:00] shreyajain17 opened #2719 "Style Transfer should take style and content images as SArray"
Style at the moment accepts style and content images as SFrames but it makes more sense to accept them as SArrays.

[2019-11-21 14:01] srikris commented on #2719
Ideally we can accept both.

[2019-11-21 14:02] shreyajain17 commented on #2719
Yeah that is true.

[2019-11-21 15:05] #2631 closed

[2019-11-21 15:52] srikris commented on #2697
@nickjong @jakesabathia2 Is this a 6.0 ship blocker?

[2019-11-21 17:11] nickjong commented on #2697
@jakesabathia2 Is this a regression from 5.8?

[2019-11-21 17:33] jakesabathia2 commented on #2697
The perf I believe isn't affected.
But 5.8 didn't have those two useless layers.

[2019-11-21 17:34] srikris commented on #2697
@jakesabathia2 Actually that makes sense now. Now, we are simply just using the coreml-ml model as is and it has those 2 layers. We should remove them.

[2019-11-21 17:38] #2705 closed

[2019-11-21 17:52] nickjong commented on #2688
Looks like we went from this MXNet optimizer:
https://github.com/apple/turicreate/blob/7f20fa398695823062dc1e86723e30427259d2f6/src/python/turicreate/toolkits/sound_classifier/_mx_sound_classifier.py#L24
to this TF one:
https://github.com/apple/turicreate/blob/7f20fa398695823062dc1e86723e30427259d2f6/src/python/turicreate/toolkits/sound_classifier/_tf_sound_classifier.py#L81

Might require some ex

[2019-11-21 18:13] #2691 closed

[2019-11-21 19:08] #2648 closed

[2019-11-21 19:52] shreyajain17 opened #2720 "Style Transfer crashes on stylize"
Crashes if content is SFrame/SArray.
[code]

[2019-11-21 20:21] shreyajain17 opened #2723 "Stylize on one image with multiple styles does not seem to work (no crash)"
[code]

[2019-11-21 22:54] fareeha commented on #2688
You're right Nick. So MXNET uses the NAG optimizer which takes `lr` and `momentum` and TF uses Adam optimizer which also does not use `momentum`. I meant to replace Adam. I believe the equivalent of NAG in TF is https://www.tensorflow.org/api_docs/python/tf/compat/v1/train/MomentumOptimizer which will take in both `lr` and `momentum`. This may fix it.

[2019-11-21 23:05] abhishekpratapa commented on #2718
#2724

[2019-11-21 23:12] syoutsey commented on #2723
@shreyajain17, what is the expected and actual behavior here?

[2019-11-21 23:16] #2639 closed

[2019-11-21 23:16] #2652 closed

[2019-11-21 23:21] syoutsey commented on #2266
BRB: `manylinux2010` now dictates what instruction sets we support, we should follow this.

[2019-11-21 23:22] srikris opened #2725 "Sound classifier should work on Linux"
Just for book-keeping

@TobyRoseman @fareeha

[2019-11-21 23:27] srikris opened #2726 "TF image augmenter leaks memory"
- OD in master crashes due to a memory leak

[2019-11-21 23:42] hoytak commented on #2675
Hello @bszeng,

The issue may be due to some of the ways we scale the data ahead of time.  Take a look at

https://github.com/apple/turicreate/issues/1691

Let me know if that helps.

[2019-11-21 23:42] TobyRoseman commented on #2725
#2712 address this issue, but @fareeha is exploring a possible solution which would be better.

[2019-11-22 00:03] abhishekpratapa commented on #2723
Its a silly bug where the first style is always used to stylize the images in predict. The correct behavior would be to set the correct style number in predict before stylizing the image.

Since we didn't define a way of changing the index in MPS this is the behavior we have. The fix would be to set this index variable before the call to predict in MPS.

[2019-11-22 00:05] #2606 closed

[2019-11-22 00:28] TobyRoseman commented on #2688
The loss function may also be a bit different. In 5.8 we used `mx.gluon.loss.SoftmaxCrossEntropyLoss()`. Looks like now we are using `tensorflow.compat.v1.nn.softmax_cross_entropy_with_logits_v2`.

[2019-11-22 01:54] TobyRoseman opened #2731 "Never call tensorflow.compat.v1.reset_default_graph()"
Calling this function basically clears TensorFlow's state, which will destroy the image feature extractors and any Sound Classifier instances. If the user has TensorFlow objects in their environment, it will also remove them.

Many of our toolkit assume only their objects are in the default graph. We need to fix this assumption before we remove the call to reset the default graph.

I think there a

[2019-11-22 02:32] #2676 closed

[2019-11-22 03:47] #2401 closed

[2019-11-22 05:20] Rhutus opened #2734 "ERROR: Command errored out with exit status 1:"

[2019-11-22 05:43] TobyRoseman commented on #2734
@Rhutus - Please include the full output you get when you try to pip install. Also please let us know your version of Python and your operating system.

[2019-11-22 05:55] Rhutus commented on #2734
Full Output:
ERROR: Command errored out with exit status 1:
     command: /home/anaconda3/envs/virtual_environment_name/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-htv5zwat/turicreate/setup.py'"'"'; __file__='"'"'/tmp/pip-install-htv5zwat/turicreate/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'

[2019-11-22 05:55] srikris commented on #2734
Dupe of #788. This is coming soon in 6.0!

[2019-11-22 05:55] #2734 closed

[2019-11-22 14:35] bszeng commented on #2675
Hi @hoytak, I'm not sure that it is correct to define the optimization problem as formula (1) and the global bias term _μ_ in formula (2) isn't regularized.

![image](https://user-images.githubusercontent.com/45512350/69433624-e9522c00-0d76-11ea-9632-66c0f3187fa2.png)

[2019-11-22 14:50] shreyajain17 commented on #2723
Could it be done `style_transfer.cpp` before MPS? I can look into it if that is the case.

[2019-11-22 15:59] srikris opened #2737 "Travis setting should not ignore "ERROR" in pytest"
See #2736

[2019-11-22 17:42] srikris commented on #2697
Here is s sample output of model exported via TC 5.8 and 6.0. The interfaces are the same but the 2 layers does add some space to the .mlmodel but CoreML optimizes unused layers so it won't have impact on the app.

<img width="1604" alt="image" src="https://user-images.githubusercontent.com/1875987/69447865-3c42c980-0d0c-11ea-9bde-81ec8a18069d.png">

[2019-11-22 17:43] srikris commented on #2697
@nickjong @syoutsey Clearing this out of 6.0.

[2019-11-22 19:05] shreyajain17 commented on #2498
I have verified the issue has been resolved in the cpp code path.

[code]
Verified by opening coreml model in Xcode, the input shape was (15x32, 10x32) which is the expected output.

[2019-11-22 19:05] #2498 closed

[2019-11-22 19:41] syoutsey commented on #2720
BRB: could be bad error message.

[2019-11-22 19:42] syoutsey commented on #2688
BRB: worth investigating for 6.0

[2019-11-22 19:43] syoutsey commented on #2677
BRB: punting from 6.0 unless fix is deemed not risky.

[2019-11-22 19:57] shreyajain17 commented on #2498
[code]

[2019-11-22 21:10] #2718 closed

[2019-11-22 21:25] abhishekpratapa commented on #2720
That's an image channel issue. It's a bug that needs to be fixed.

[2019-11-22 22:01] #2266 closed

[2019-11-22 22:59] srikris commented on #2737
Root cause is the following tests being disabled in Travis due to OOM errors. https://github.com/apple/turicreate/blob/d0a5e5ec9a4a2a75a73be61c441678b5b41faceb/.travis.yml#L68

[2019-11-22 23:00] srikris commented on #2737
Dupe of #1031.

[2019-11-22 23:24] #2737 closed

[2019-11-22 23:37] #2726 closed

[2019-11-22 23:46] #2720 closed

[2019-11-22 23:49] shantanuchhabra opened #2744 "Image Classifier Unit Test Failure"
Image Classifier `text_export_coreml` unit test fails for model `VisionFeaturePrintSceneTest`.

[code]

[2019-11-22 23:56] fareeha commented on #2688
Was the Training and Validation set fixed between all 8 runs across 5.8 and 6.0?

[2019-11-23 00:02] #2607 closed

[2019-11-23 00:27] fareeha commented on #2688
@hoytak Can you please give us more details on how you reproduced? I used your code, set `validation_set=None` to force using the same data in all runs and get the following numbers:

5.8
[code]

41ccb59 (6.0) still using the AdamOptimizer:

[code]

@nickjong it takes longer which is my only concern here ..

[2019-11-23 00:32] shantanuchhabra commented on #2688
Here are some numbers for comparison.

<img width="834" alt="image" src="https://user-images.githubusercontent.com/14062641/69469437-b5aade00-0d45-11ea-9423-5ebf96e871c7.png">

[2019-11-23 00:34] fareeha commented on #2688
Can you please share details on reproing these numbers?

[2019-11-23 00:44] shantanuchhabra commented on #2688
@fareeha followed up offline.

[2019-11-23 01:27] jakesabathia2 opened #2748 "OD output regression for evaluation."
5.8:
[code]

6.0:
[code]

[2019-11-23 05:50] #2725 closed

[2019-11-23 17:04] shreyajain17 commented on #2686
It also seems to not work on relative path.

[2019-11-24 13:31] OCJvanDijk commented on #88
I run my scripts simply from the terminal using `python test.py`

Trying to run this script I get stuck in the loading screen:

[code]

But running this script it loads fine as long as I don't press Enter:

[code]

[2019-11-27 06:29] dhivyaaxim commented on #1885
@hoytak Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-11-27 06:30] dhivyaaxim commented on #1909
@znation  Please assign this ticket to me as I would like to try fixing it and contribute .Thanks in advance!

[2019-11-27 06:38] kuri54 opened #2753 "Image classification cannot be read images"
python == 3.6
Turicreate == 5.8

When I tried to do Image Classification with a self-made learning model about a month ago, the following error came out in the place of "model.predict".

Not a JPEG file: starts with 0x00 0x05
Unexpected JPEG decode failure

The target image is undoubtedly in JPEG format, and if you reformat and export it in Preview.app, you will get the same error.

Previously, yo

[2019-11-28 00:25] kuri54 commented on #2753
It seems that it was because the "._xxx" file was left after updating the OS to Catarina.

I intended to prevent it from being created with the ".Ds_store" file ...

Close because it was solved.

[2019-11-28 00:25] #2753 closed

[2019-11-30 08:27] subodhchhabra opened #2757 "Model Visualization"
is Visualization for Models still valid  in turi create,  I am looking at documentation here --
https://turi.com/learn/userguide/v1.10/recommender/using-trained-models.html#visualizations

[2019-12-02 07:11] subodhchhabra opened #2758 "Error comparing recommender models"
while calling tc.recommender.util.compare_models(tst, models=[m1, m2, m3]), statement errors with following error ..

TypeError                                 Traceback (most recent call last)
<ipython-input-22-49698e8a1e95> in <module>
----> 1 tc.recommender.util.compare_models(tst, models=[m1, m2, m3], verbose=False)

~/anaconda3/envs/turi/lib/python3.7/site-packages/turicreate/toolkits/recomme

[2019-12-02 07:22] subodhchhabra opened #2759 "Model Comparision"
are there any documentation/API  that can point to model comparison( eg recommender.utils.compare_models), but for classifiers,  and clustering algos

[2019-12-02 07:53] #2723 closed

[2019-12-02 14:04] britangel commented on #533
Hi Errrneist,
Could you please show me how to install Turicreate in WSL ( ubuntu)? I successfully installed WSL (ubuntu) and Anaconda.
Much appreciated for your help.

[2019-12-02 14:14] akrishnamo commented on #378
Hi. Any update on tc.TimeSeries data structure?

[2019-12-02 19:43] syoutsey commented on #2758
Hi @subodhchhabra, what version of Turi Create are you running? How about operating system?

[2019-12-02 20:18] jakesabathia2 opened #2761 "Output regression for OD model"
5.8:
[code]

6.0:
[code]

We are supposed not to have `Non-maximum suppression threshold ` in 6.0, but
`Input image shape` is missing.

[2019-12-02 20:51] jakesabathia2 opened #2763 "6.0 toolkits doesn't have model.name() function"
[code]
results in
[code]

[2019-12-02 21:08] jakesabathia2 commented on #2763
hmmm turns out all toolkit don't have this function yet.

[2019-12-02 21:54] Errrneist commented on #533
I have long switched to Tensorflow and Keras, as well as Pytorch due to Turicreate's lack of Windows support. However, I believe if you just use the default

pip install -U turicreate

will install turicreate as long as you got pip properly configured for your WSL.

[2019-12-02 21:57] subodhchhabra commented on #2758
mac OS 10.14.6,
TuriCreate - 5.8

[2019-12-02 21:57] hoytak opened #2764 "Giving max_iterations =0 parameter to sound classifier causes UnboundLocalError"
The following code shouldn't crash:

[code]

[2019-12-02 22:10] znation commented on #88
Hi @OCJvanDijk, this is because `.explore` is a background thread that is meant to be used interactively (while the Python process is still running!). In the first example, your Python process exits before you can start interacting with the visualization. You can run python in interactive mode instead with `python -i` (which will keep it running after running the script, until you exit explicitly)

[2019-12-02 22:30] hoytak opened #2766 "Sound classifier: Model saved with 2.7 cannot be loaded with python 3.7"
When trying to load a sound classifier model saved in python 2.7, it cannot be loaded in python 3.7.

The model was trained on the EC10 dataset.

[code]

[2019-12-02 22:42] #2748 closed

[2019-12-02 22:43] hoytak opened #2767 "export_coreml does not respect ~ in filenames (sound classifier)."
The following code:

[code]

Will save the model file in a `<current directory>/\~/models/sc.mlmodel`.

[2019-12-02 22:59] shreyajain17 opened #2768 "Grid shape is not being set in TF OD"
This happens when you try to create OD model with any grid shape other than [13,13]
[code]

[2019-12-02 22:59] srikris commented on #2767
@hoytak Is this a regression from 5.8?

[2019-12-02 23:02] Jarvi-Izana opened #2769 "od 6.0 consumes weights exported from 5.8 but has inconsistent evaluation result"
# result
using same dataset and same weights, but
metrics from 6.0
[code]
metrics from 5.8:
[code]
are different.

# minimum reproduction:
1. train over data `ig02` using 5.8 and export weights to the disk
[code]

2. load the model to 6.0
[code]

[2019-12-02 23:03] shreyajain17 opened #2770 "TF OD regression in MAP"
Training Dataset - ig02

Metrics from 5.8

MAP 50 - 0.64646
AP 50 Bikes -0.75243
AP 50 Cars- 0.54048

Metrics from 6.0

MAP 50 - 0.26645
AP 50 Bikes - 0.43206
AP 50 Cars -  0.10083

[2019-12-02 23:10] Jarvi-Izana opened #2771 "no need to print loss at each epoch."
[code]

[2019-12-02 23:12] Jarvi-Izana commented on #2771
6.0, where `max_iterations` is set to 10.

[2019-12-02 23:14] znation commented on #2757
That feature of GraphLab Create was dropped in Turi Create 4.0; re-tagging this issue as a feature request to bring it back.

[2019-12-02 23:18] TobyRoseman commented on #2764
We should just error out immediately if `max_iterations <= 0`.

[2019-12-02 23:19] hoytak commented on #2766
Update: Turns out that this is a false alarm; the issues was caused by a bug in tensorflow loading that seems to be fixed in python 3.7.5, not in our model.  It repros on straight tensorflow.

[2019-12-02 23:19] #2766 closed

[2019-12-02 23:20] #2707 closed

[2019-12-02 23:20] TobyRoseman commented on #2759
We don't have that functionality, but I think it's a great feature request.

[2019-12-02 23:21] hoytak commented on #2771
This is fine; the standard way this does it is to print the loss every 3-5 seconds, and to choose an interval (every 10, every 25, etc.) such that this happens.   This is correct behavior.

[2019-12-02 23:21] #2771 closed

[2019-12-02 23:50] jakesabathia2 commented on #2770
I think this is duplicated with https://github.com/apple/turicreate/issues/2769

[2019-12-02 23:57] #2761 closed

[2019-12-02 23:57] TobyRoseman commented on #2758
After looking at the relevant code, I'm guessing at least one of the models isn't a recommender.

@subodhchhabra - what types of models are `m1`, `m2`, and `m3`?

[2019-12-03 00:12] Jarvi-Izana opened #2773 "od 6.0 behaves inconsistent among different platforms"
# repro

1. get a wheel of 6.0rc1 for python3.6
2. export weights on darwin and save it
3. scp the saved model to linux box
4. load the model and predict.

evaluation on darwin:
[code]
on ubuntu 16.04
[code]

scripts to load model and save model is mentioned in #2769

[2019-12-03 00:14] hoytak opened #2774 "Version requirement of coremltools should not depend on beta version when non-beta is available."
coremltools 3.1 was just released; we should bump the requirements to 3.1 from 3.0b3.

[2019-12-03 00:15] Jarvi-Izana commented on #2773
as always, 20 iterations. Since models on Darwin and Linux are using the same weights, we should expect a very similar result even though the training hasn't converged due to a small or insufficient iteration number.

[2019-12-03 00:33] hoytak opened #2776 "sound classifier model cannot be used in lambda function"
Trying to apply a sound classifier model in a lambda function caused an error on capture:

[code]

(python 2.7)

Note: this also holds in 5.8.

[2019-12-03 00:40] shreyajain17 opened #2777 "TF verbose when using GPU on Linux"
[code]

[2019-12-03 00:44] Jarvi-Izana opened #2778 "misleading error message when input contains missing value"
column `name` contains missing values by design.
[code]

It should remind the user to call `dropna` on columns with missing values. The error msg is misleading.

# repro

[code]

[2019-12-03 00:45] hoytak commented on #2778
Good, but not really sure this is P1.

[2019-12-03 01:13] TobyRoseman opened #2779 "Investigate Supporting YAMNet for Sound Classifier Feature Extraction"
Google recently released [YAMNet](https://github.com/tensorflow/models/tree/master/research/audioset/yamnet). This could be a good alternative to VGGish for our sound classifier. It [**seems** to even use the exact same audio preprocessing](https://github.com/tensorflow/models/tree/master/research/audioset/yamnet#input-audio-features) as VGGish.

YAMNet is about 3x the size of VGGish. We should in

[2019-12-03 01:23] #647 closed

[2019-12-03 01:25] #2686 closed

[2019-12-03 01:28] TobyRoseman commented on #2776
@hoytak - isn't this the case with all of our models? I also can't do this with logistic regression, although I get a different error message.

[2019-12-03 01:32] #2689 closed

[2019-12-03 02:01] srikris commented on #2763
We should not fix this. It's not pythonic to add a function.

[2019-12-03 02:33] subodhchhabra commented on #2758
yes, I did miss that , so I guess we need to check of model type is a recommender.

[2019-12-03 04:44] #2768 closed

[2019-12-03 18:14] Jarvi-Izana commented on #2778
my bad! Intended to mark it as p2. Thanks @hoytak

[2019-12-03 18:51] TobyRoseman commented on #2758
Agreed. `turicreate.recommender.util.compare_models` should make sure all of the models passed in our sub classes of `turicreate.toolkits.recommender.util._Recommender`.

[2019-12-03 19:25] TobyRoseman commented on #2767
In 5.8 we get different behavior which is also wrong. It errors out: `FileNotFoundError: [Errno 2] No such file or directory: '~/models/sc.mlmodel'`. (`~/models` does exist; if I expand the `~`, it works.)

[2019-12-03 19:54] hoytak commented on #2776
It used to be supported and tested a long time ago, but seems something changed with the python toolkit classes to make it not possible.  Interesting.

[2019-12-03 19:57] hoytak commented on #2774
@srikris -- Why is this removed from the 6.0 milestone?  It doesn't make sense to force us and users to depend on a beta version of coremltools with a new release is out that isn't in beta.

[2019-12-03 22:39] Jarvi-Izana opened #2784 "not complain for undefined value until the last stage of training"
set OMP_NUM_
call trace back:
[code]
error reported:
[code]
which is quite annoying if you train for a long time and almost hit the last mile of success, an exception is thrown at the evaluation stage and all efforts vanish.

[2019-12-03 23:07] Jarvi-Izana opened #2785 "needs more informational error msg when image is undefined"
We can suggest user call `dropna` before training. Or we can check it for them before the training starts.

[code]

traceback:
[code]

[2019-12-03 23:07] jakesabathia2 opened #2786 "OD predicting unreasonable bounding boxes"
[code]

[2019-12-03 23:43] fareeha opened #2788 "Non-determinism in SC TF across runs"
ESC-10 dataset (passing audio data and pre-computed deep feature data)

The per iteration accuracy varies across multiple runs in TF. On MXNet the convergence is identical.

**TF using deep features as input**

**Run 1**
[code]
**Run 2**
[code]
**TF using audio data as input**
**Run 1**
[code]
**Run 2**
[code]

**MXNET using deep features as input**

**Run 1**
[code]
**Run 2**
[code]
**MXNET using

[2019-12-04 01:04] #2688 closed

[2019-12-04 01:21] TobyRoseman opened #2789 "Style Transfer stylize docstring contradicts itself"
The `parameter` section of the `stylize` docstring says the `image` parameter should be an `SFrame` or an `image`. However the `Returns` section of the docstring seems to say it could also be an `SArray`, but it's really not clear. Looking at the code it does seem like an SArray should be an accepted type for `image`.

[2019-12-04 01:27] TobyRoseman opened #2790 "Style Transfer stylize does no parameter checking"
The `stylize` method should do basic parameter checking. It should check that `images` and `style` are of supported types. Also that `max_size` and `batch_size` are greater than zero. Probably additonal checks also make sense.

Currently it's possible for unsupported values to silently fall thru. The following returns `None` without error: `model.stylize('junk value', style=-1)`

[2019-12-04 04:47] #2651 closed

[2019-12-04 05:16] #2773 closed

[2019-12-04 05:17] #2786 closed

[2019-12-04 16:01] nicoinn opened #2791 "Random segmentation fault"
Hi!

I'm running a custom iterative algorithm build around and sGraph and a few .triple_apply().

I occasionally get random crashes with only

`Segmentation fault (core dumped)`

In such case, re-running the exact same script with the exact same output will generally work.
I'd say there is roughly ~20% chance of crashing

Tested on MacOS Catalina - Python 3.7.5 - Turicreate 5.8

as well as in such

[2019-12-04 20:19] #2763 closed

[2019-12-04 22:46] syoutsey opened #2794 "Recommender is missing metadata on Core ML export"
See this PR for other tasks which have metadata associated on export: https://github.com/apple/turicreate/pull/2656

[2019-12-04 23:16] jakesabathia2 opened #2795 "output regression for OD export_coreml meta data"
When run
[code]
6.0:
[code]
5.8:
[code]
We got three issues need to be fixed:
1. iou_threshold should produce default value (0.45)
2. confidence_threshold should produce default value (0.25)
3. Should have `version` attribute.
============
When we run
[code]
5.8:
[code]
6.0:
[code]
It makes sense that `iou_threshold` doesn't appear when `nms` is set to 'False',
but `confidence_thrshold` has nothin

[2019-12-04 23:47] #2769 closed

[2019-12-05 01:13] TobyRoseman opened #2797 "TuriCreate should be able to use all GPU avaliable"
TuriCreate now uses TensorFlow for deep learning. By default, TensorFlow does not support multiple GPUs. Adding multiple GPU support doesn't seem too difficult.

It looks like we need to use [tf.distribute.Strategy](https://www.tensorflow.org/guide/distributed_training). We'll probably want to use a MirroredStrategy.

[2019-12-05 01:25] shantanuchhabra opened #2798 "Style Transfer inference is 4x slower in master versus in 5.8."
Repro steps:
1. Follow the user guide and train a model.
2. Stylize a content image.

Inference time was about 250 milliseconds per image in 5.8, and is 1 second per image in master.

[2019-12-05 01:35] TobyRoseman opened #2799 "Style Transfer model loads lazily"
[This unit test](https://github.com/apple/turicreate/blob/4e9fe88dc634fa3d694fbfd48427c9eddbe99902/src/python/turicreate/test/test_style_transfer.py#L306) is disabled unless you have a CUDA GPU. Running this unit test with a CUDA GPU fails:

[code]

It always fails with the same error message. It also always fails on the first iteration of the outer for-loop and the second iteration of the inner f

[2019-12-05 02:08] syoutsey opened #2800 ""Machine Learning Essentials" toolkits need model metadata"
[These toolkits](https://apple.github.io/turicreate/docs/userguide/modeling-data/) need metadata toolkit type associated with the exported Core ML model (Boosted Trees, Logistic Classifier, etc.). Related: https://github.com/apple/turicreate/issues/2794.

For example, the Style Transfer toolkit exposes the `type` key as part of the Creator Defined Core ML keys:

[code]

[2019-12-05 11:31] srikris opened #2802 "OD training is 10x slower compared to 5.8"
On Dataset_ig02-parameter-set-0_metrics.json, we have a regression in current master to 5.8.

[code]

[2019-12-05 17:36] #2777 closed

[2019-12-05 18:22] shantanuchhabra opened #2803 "Drawing Classifier Evaluation is 20% slower."
Datasets shared internally.

Times recorded below in seconds.

5.8: 62.4904
6.0: 66.92402

5.8: 58.59062
6.0: 69.92545

5.8: 56.76585
6.0: 70.56921

5.8: 57.45789
6.0: 71.88781

[2019-12-05 19:38] fareeha commented on #2731
Maybe we want to create graph context managers for each of the TF toolkits similar to #2741

[2019-12-05 19:39] fareeha commented on #2731
#2741

[2019-12-05 21:04] Jarvi-Izana commented on #2778
#2804 might be helpful.

[2019-12-05 21:50] hoytak commented on #2791
Hey @nicoinn,

Not sure what the issue is here, and it's hard to figure out what exactly is going on without more details.  If you are able to give a repro, then we can definitely track it down.

Off the top of my head, it's possible that it's a missing value issue -- i.e. there are some missing values (None) in your data that are confusing things.  Not sure, but that would be one place to look.

[2019-12-05 22:10] fareeha commented on #2788
^ MXNET and TF from 6.0
(MXNET in 5.8 shows non determinism as well)

[2019-12-05 22:43] fareeha opened #2806 "SC non determinism in benchmark testing on 5.8 and 6.0"
The network output is non deterministic for the same setting and data.
There is greater variation in output from smaller networks than bigger ones.

ESC-50 `custom_layer_sizes=[10]`
**5.8**
**Run 1**
[code]
**Run 2**
[code]
**Run 3**
[code]
**Run 4**
[code]
**6.0**
**Run 1**
[code]
**Run 2**
[code]
**Run 3**
[code]
**Run 4**
[code]

ESC-50 `custom_layer_sizes=[100,100]`
**5.8**
**Run 1**
[code]
**